/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

.container {
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: "HelveticaNeueW01-45Ligh","Helvetica Neue",sans-serif;
  font-size: 100%;
}

h1,
h2,
h3,
h4 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 0;
  letter-spacing: .5px;
}

.mobile {
  display: block;
}

.mobile {
  display: none;
}

.desktop {
  display: none;
}

.desktop {
  display: block;
}

picture {
  display: block;
}

.link {
  font-size: 1em !important;
}

.btn {
  border: 1px solid #dfbfd8;
  display: block;
  font-size: 1.125em;
  height: 2.77778em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.72222em;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  width: 11.88889em;
}

.btn-primary {
  background: #fff;
  color: #7e0163;
}

.btn-primary:hover {
  background: #dfbfd8;
}

.btn-secondary {
  border-color: rgba(255,255,255,0.25);
  color: #fff;
}

.btn-secondary:hover {
  background-color: rgba(255,255,255,0.25);
  background-clip: padding-box;
}

.honeypot {
  display: none;
}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes moveUp {
  0% {
    top: 142px;
  }

  100% {
    top: 0;
  }
}

@keyframes moveUp {
  0% {
    top: 142px;
  }

  100% {
    top: 0;
  }
}

@-webkit-keyframes moveDown {
  0% {
    top: 160px;
  }

  100% {
    top: 300px;
  }
}

@keyframes moveDown {
  0% {
    top: 160px;
  }

  100% {
    top: 300px;
  }
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

[role=banner] {
  position: absolute;
  top: 2.875em;
  left: 0;
  right: 0;
}

[role=banner] .wrapper {
  margin-left: auto;
  margin-right: auto;
  height: 3.125em;
  padding: 0 1.25em;
  position: relative;
  max-width: 61.25em;
}

[role=banner].fixed,
.secondary-page [role=banner] {
  background: #7e0163;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4.5em;
  z-index: 100;
}

[role=banner].fixed .wrapper,
.secondary-page [role=banner] .wrapper {
  margin-left: auto;
  margin-right: auto;
  height: 3.125em;
  padding: 0 0.625em;
  position: relative;
  max-width: 60em;
}

[role=banner].fixed {
  -webkit-animation-duration: .35s;
  animation-duration: .35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

[role=banner] {
  padding: 0;
}

.logo {
  font-size: 1em;
  position: absolute;
  top: 1.4375em;
  left: 0;
  z-index: 7;
}

.logo {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  float: left;
}

.logo a {
  display: block;
  height: 1.9375em;
  margin-left: 1.5625em;
  overflow: hidden;
  text-indent: -999em;
  width: 9.375em;
}

.logo a {
  background: url(/_img/logo.png) no-repeat;
  height: 2.75em;
  margin-left: 0.625em;
  opacity: 1;
  width: 14.625em;
}

.logo a {
  background-image: url("/_img/logo-2x.png");
  background-size: 213px 44px;
}

.fixed .logo a,
.secondary-page .logo a {
  background: url(/_img/logo-sm.png) no-repeat;
  height: 2.125em;
  opacity: 1;
  margin-top: 1em;
  width: 10.1875em;
}

.fixed .logo a,
.secondary-page .logo a {
  background-image: url("/_img/logo-sm-2x.png");
  background-size: 163px 34px;
}

.logo a {
  margin-left: 0;
}

.modal-logo {
  display: none;
}

.modal-logo {
  background: url(/_img/logo.png) no-repeat;
  display: block;
  height: 2.75em;
  position: absolute;
  top: 1.5625em;
  left: 5%;
  opacity: .5;
  width: 14.625em;
  z-index: 500;
}

.modal-logo {
  background-image: url("/_img/logo-2x.png");
  background-size: 213px 44px;
}

#nav-button,
#nav-button-recruitment {
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.75em;
  right: 1.5625em;
  height: 3.125em;
  overflow: hidden;
  text-indent: -999em;
  width: 3.125em;
  z-index: 10;
}

#nav-button:hover,
#nav-button-recruitment:hover {
  background: rgba(255,255,255,0.25);
}

#nav-button span:nth-child(1),
#nav-button-recruitment span:nth-child(1) {
  background: #fff;
  border-radius: 0.625em;
  display: block;
  height: 0.375em;
  left: 0.6875em;
  margin-top: -0.1875em;
  position: absolute;
  top: 50%;
  width: 0.375em;
  -webkit-transition: width .2s .5s ease-in-out, transform .2s ease-in-out;
  -moz-transition: width .2s .5s ease-in-out , transform .2s ease-in-out;
  -ms-transition: width .2s .5s ease-in-out, transform .2s ease-in-out;
  transition: width .2s .5s ease-in-out, transform .2s ease-in-out;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}

#nav-button span:nth-child(2),
#nav-button-recruitment span:nth-child(2) {
  background: #fff;
  border-radius: 50%;
  display: block;
  height: 0.375em;
  position: absolute;
  left: 1.25em;
  top: 50%;
  margin-top: -0.1875em;
  width: 0.375em;
}

#nav-button span:nth-child(3),
#nav-button-recruitment span:nth-child(3) {
  background: #fff;
  border-radius: 0.625em;
  display: block;
  height: 0.375em;
  position: absolute;
  right: 0.6875em;
  top: 50%;
  margin-top: -0.1875em;
  width: 0.375em;
  -webkit-transition: width .2s .5s ease-in-out, transform .2s ease-in-out;
  -moz-transition: width .2s .5s ease-in-out , transform .2s ease-in-out;
  -ms-transition: width .2s .5s ease-in-out, transform .2s ease-in-out;
  transition: width .2s .5s ease-in-out, transform .2s ease-in-out;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}

#nav-button.open,
.open#nav-button-recruitment {
  opacity: .5;
}

#nav-button.open span:nth-child(1),
.open#nav-button-recruitment span:nth-child(1) {
  height: 0.375em;
  width: 1.75em;
  border-radius: 0.625em;
  left: 0.6875em;
  margin-left: -0.125em;
  -webkit-transition: width .2s ease-in-out, transform .2s .5s ease-in-out;
  -moz-transition: width .2s ease-in-out , transform .2s .5s ease-in-out;
  -ms-transition: width .2s ease-in-out, transform .2s .5s ease-in-out;
  transition: width .2s ease-in-out, transform .2s .5s ease-in-out;
  -moz-transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  -ms-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

#nav-button.open span:nth-child(2),
.open#nav-button-recruitment span:nth-child(2) {
  display: none;
}

#nav-button.open span:nth-child(3),
.open#nav-button-recruitment span:nth-child(3) {
  height: 0.375em;
  width: 1.75em;
  border-radius: 0.625em;
  left: 0.5625em;
  right: auto;
  -webkit-transition: width .2s ease-in-out, transform .2s .5s ease-in-out;
  -moz-transition: width .2s ease-in-out , transform .2s .5s ease-in-out;
  -ms-transition: width .2s ease-in-out, transform .2s .5s ease-in-out;
  transition: width .2s ease-in-out, transform .2s .5s ease-in-out;
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  -ms-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

#nav-button,
#nav-button-recruitment {
  float: right;
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  z-index: 5;
}

.fixed #nav-button,
.fixed #nav-button-recruitment,
.secondary-page #nav-button,
.secondary-page #nav-button-recruitment {
  display: none;
}

#watch-our-reel {
  display: none;
}

#watch-our-reel {
  display: block;
  color: #fff;
  font-size: 0.75em;
  opacity: 0;
  padding-top: 5.25em;
  position: absolute;
  right: 0.66667em;
  top: -0.08333em;
  text-decoration: none;
  text-transform: lowercase;
  -moz-transition: visibility .25s ease-in,top .25s ease-in,opacity .25s ease-in;
  -webkit-transition: visibility .25s ease-in,top .25s ease-in,opacity .25s ease-in;
  -ms-transition: visibility .25s ease-in,top .25s ease-in,opacity .25s ease-in;
  transition: visibility .25s ease-in,top .25s ease-in,opacity .25s ease-in;
  visibility: hidden;
  z-index: 3;
}

#nav-main.show ~ #watch-our-reel {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 6.5em;
}

#watch-our-reel span:first-child {
  border: 2px solid rgba(255,255,255,0.25);
  border-radius: 50%;
  display: block;
  left: 50%;
  margin-left: -2.08333em;
  position: absolute;
  top: 0;
  height: 4.16667em;
  width: 4.16667em;
}

#watch-our-reel:hover span:first-child {
  background: rgba(255,255,255,0.25);
}

#watch-our-reel span:last-child {
  display: block;
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 12px solid #fff;
  top: 1.58333em;
  left: 50%;
  margin-left: -0.33333em;
}

.fixed #watch-our-reel,
.secondary-page #watch-our-reel {
  display: none;
}

#watch-our-reel-slide {
  display: none;
}

#watch-our-reel-slide {
  display: block;
  color: #fff;
  font-size: 0.75em;
  padding-top: 5.25em;
  position: absolute;
  left: 50%;
  margin-left: -3.75em;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  top: 16.75em;
  width: 7.5em;
  z-index: 3;
}

#watch-our-reel-slide span:first-child {
  border: 2px solid #fff;
  border-radius: 50%;
  display: block;
  left: 50%;
  margin-left: -2.08333em;
  position: absolute;
  top: 0;
  height: 4.16667em;
  width: 4.16667em;
}

#watch-our-reel-slide:hover span:first-child {
  background: rgba(255,255,255,0.25);
}

#watch-our-reel-slide span:last-child {
  display: block;
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 12px solid #fff;
  top: 1.58333em;
  left: 50%;
  margin-left: -0.33333em;
}

#nav-main {
  background: #7e0163;
  display: none;
  padding-top: 5.375em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
}

#nav-main {
  background: none;
  display: block !important;
  overflow: hidden;
  padding-top: 0;
  top: 0.9375em;
  left: 5em;
  right: 5em;
  text-align: right;
}

.fixed #nav-main,
.secondary-page #nav-main {
  left: 0;
  right: 0;
  top: 1.625em;
}

#nav-main ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 18.75em;
}

#nav-main ol:after {
  content: "";
  display: table;
  clear: both;
}

#nav-main ol {
  float: right;
  width: auto;
  margin-right: -100%;
  opacity: 0;
  transition: margin .25s ease-in, opacity .45s ease-in;
}

.fixed #nav-main ol,
.secondary-page #nav-main ol {
  margin-right: 1.5625em;
  opacity: 1;
  transition: margin 0s;
}

.fixed #nav-main ol,
.secondary-page #nav-main ol {
  margin-right: 0.625em;
}

#nav-main.show ol {
  margin-right: 1.25em;
  opacity: 1;
  transition: margin .25s ease-in, opacity .45s ease-in;
}

#nav-main li {
  background: #3f0031;
  font-size: 0.875em;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

#nav-main li {
  background: none;
  display: inline-block;
  float: none;
  font-size: 0.875em;
  line-height: 1;
  margin-left: 2.14286em;
  padding-bottom: 0.92857em;
  position: relative;
  height: auto;
  width: auto;
}

#nav-main li:nth-child(n+2) {
  margin-top: 0.71429em;
}

#nav-main li:nth-child(n+2) {
  margin-top: 0;
}

#nav-main a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.page-work #nav-main a[href*="work"]:after,
.page-case-study #nav-main a[href*="work"]:after,
.work-section #nav-main a[href*="work"]:after,
.team-listing #nav-main a[href*="team"]:after,
.contact #nav-main a[href*="contact"]:after {
  background: #fff;
  border-radius: 50%;
  bottom: 0;
  content: '';
  display: block;
  height: 0.42857em;
  left: 50%;
  margin-left: -0.21429em;
  position: absolute;
  width: 0.42857em;
}

.nav-reel {
  display: none !important;
}

.fixed .nav-reel,
.secondary-page .nav-reel {
  display: inline-block !important;
}

.section:not(#introduction) p {
  font-size: 1.125em;
  line-height: 1.38889em;
}

.section:not(#introduction) {
  height: 43.75em;
}

#introduction {
  height: 35.5em;
  position: relative;
}

#introduction {
  height: 43.75em;
}

#introduction:before {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  height: 15.0625em;
  left: -100%;
  right: 50%;
  margin-right: 65.1875em;
  z-index: 3;
}

#introduction:after {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  height: 15.0625em;
  right: -100%;
  left: 50%;
  margin-left: 65.1875em;
  z-index: 3;
}

#mask {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -65.1875em;
  width: 130.375em;
  z-index: 5;
}

#mask-2 {
  position: absolute;
  bottom: -0.0625em;
  left: 50%;
  margin-left: -65.1875em;
  width: 130.375em;
}

#mask-2 {
  display: none;
}

#mask-3 {
  display: none;
}

#mask-3 {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -65.1875em;
  width: 130.375em;
  z-index: 2;
}

#mask-4 {
  position: absolute;
  bottom: -0.0625em;
  left: 50%;
  margin-left: -65.1875em;
  width: 130.375em;
  z-index: 2;
}

#mask-4 {
  display: none;
}

#mask-5 {
  display: none;
}

#mask-5 {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -65.1875em;
  width: 130.375em;
  z-index: 2;
}

#mask-6 {
  position: absolute;
  bottom: -0.0625em;
  left: 50%;
  margin-left: -65.1875em;
  width: 130.375em;
}

#list-team #mask-6 {
  margin-left: -57.94444em;
  width: 115.88889em;
  z-index: 2;
}

#mask-6 {
  display: none;
}

#mask-7 {
  display: none;
}

#mask-7 {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -65.1875em;
  width: 130.375em;
}

#list-team #mask-7 {
  margin-left: -57.94444em;
  width: 115.88889em;
  z-index: 2;
}

#home-slideshow {
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

#home-slideshow ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#home-slideshow ol li {
  margin: 0;
  padding: 0;
}

#home-slideshow li {
  bottom: 0;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  -moz-transition: opacity .75s ease-in;
  -webkit-transition: opacity .75s ease-in;
  transition: opacity .75s ease-in;
  z-index: 1;
}

#home-slideshow li.active {
  opacity: 1;
  z-index: 2;
}

#home-slideshow .wrapper {
  padding: 6.25em 1.5625em 0;
}

#home-slideshow .wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 21em 0.625em 0;
  max-width: 60em;
}

#home-slideshow h1 {
  font-family: "Quadon W00 Light",serif;
  font-size: 1.875em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 0.66667em;
}

#home-slideshow h1 {
  font-size: 3.125em;
  margin-bottom: 0.48em;
}

#home-slideshow .content {
  font-family: "HelveticaNeueW01-Thin","Helvetica Neue",sans-serif;
  font-size: 1.125em;
  line-height: 1.38889em;
}

#home-slideshow .content {
  font-size: 1.375em;
  line-height: 1.36364em;
}

#home-slideshow .content strong {
  font-family: "HelveticaNeueW01-65Medi","Helvetica Neue",sans-serif;
}

.scene-1 {
  background: #000 url(/_img/scene-1-larger.jpg) no-repeat center top;
}

.scene-1 {
  background-image: url("/_img/scene-1-larger-2x.jpg");
  background-size: 1990px 700px;
}

.scene-2 {
  background: #000 url(/_img/scene-2-larger.jpg) no-repeat center top;
}

.scene-2 {
  background-image: url("/_img/scene-2-larger-2x.jpg");
  background-size: 1990px 700px;
}

#next-section {
  background: url(/_img/down.png) no-repeat;
  bottom: 8.625em;
  display: block;
  position: absolute;
  left: 50%;
  height: 1.125em;
  margin-left: -0.875em;
  overflow: hidden;
  text-indent: -999em;
  width: 1.8125em;
  z-index: 6;
}

#next-section {
  background-image: url("/_img/down-2x.png");
  background-size: 29px 18px;
}

#next-section {
  bottom: 5.9375em;
}

#our-work {
  background: #fff;
  position: relative;
}

.fp-responsive #our-work {
  height: auto !important;
}

#our-work {
  z-index: 2;
}

#our-work .wrapper {
  padding: 2.1875em 0 2.8125em;
}

#our-work .wrapper {
  padding: 8.625em 0 0;
}

#our-work h1 {
  color: #4a56a2;
  font-family: "Quadon W00 Light",serif;
  font-size: 1.875em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1;
  margin: 0 0.83333em 0.83333em;
}

#our-work h1 {
  font-size: 2.125em;
  margin: 0 0.73529em 0.73529em;
}

#our-work h1 {
  font-size: 3.125em;
  line-height: 1;
  margin: 0;
  margin-bottom: 0.92em;
  width: 5.76em;
}

#our-work p {
  color: #858585;
  margin-left: 1.38889em;
  margin-right: 1.38889em;
}

#our-work p {
  margin: 0;
  width: 14.72222em;
}

#our-work .copy {
  position: relative;
  z-index: 2;
}

#our-work .copy {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.25em;
  max-width: 61.25em;
}

#our-work .link {
  position: relative;
  margin-top: -7.1875em;
  z-index: 2;
}

#our-work .link {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.875em;
  padding: 0 1.25em;
  max-width: 61.25em;
  width: auto;
}

#our-work .link .btn {
  margin-left: 0;
  margin-right: 0;
}

#projects {
  height: 18.4375em;
  margin-top: -0.625em;
}

#projects ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#projects ol li {
  margin: 0;
  padding: 0;
}

#projects {
  margin-top: 0;
}

#projects {
  position: absolute;
  top: 0;
  left: 21.125em;
  margin-top: 0;
  width: 76.6875em;
}

#projects {
  left: 50%;
  margin-left: -9.375em;
  right: auto;
}

#projects .project {
  outline: none;
}

#projects .project {
  position: absolute;
  height: 38em;
  left: 0;
  -moz-transition: top .25s ease-in;
  -webkit-transition: top .25s ease-in;
  -ms-transition: top .25s ease-in;
  transition: top .25s ease-in;
  width: 76.6875em;
}

#projects .project picture {
  content: '';
  display: block;
  height: 38em;
  left: 0;
  position: absolute;
  top: 0;
  width: 76.6875em;
  z-index: 2;
}

#projects .project:after {
  background: url(/_img/projects/shadow.png) no-repeat;
  content: '';
  height: 41.125em;
  left: -1.5625em;
  position: absolute;
  top: 4.375em;
  width: 79.9375em;
  z-index: 1;
}

#projects .project:after {
  background-image: url("/_img/projects/shadow-retina.png");
  background-size: 1279px 658px;
}

#projects .project:first-child {
  top: 0;
  z-index: 4;
}

#projects .project:nth-child(2) {
  top: 144px;
  z-index: 3;
}

#projects .project:nth-child(3) {
  top: 288px;
  z-index: 2;
}

#projects .slick-dots {
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 3.125em;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
}

#projects .slick-dots li {
  margin: 0;
  padding: 0;
}

#projects .slick-dots li {
  display: inline-block;
  margin-left: 0.625em;
}

#projects .slick-dots li:first-child {
  margin-left: 0;
}

#projects .slick-dots button {
  background: #dfbfd8;
  border: 0;
  border-radius: 50%;
  display: block;
  height: 1.25em;
  text-indent: -999em;
  width: 1.25em;
  -webkit-appearance: none;
  transition: scale .25s ease-in;
}

#projects .slick-active button {
  background: #7e0163;
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

#projects-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 29.3125em;
  left: 7.6875em;
}

#projects-nav li {
  margin: 0;
  padding: 0;
}

#projects-nav li {
  display: block;
  margin-top: 0.6875em;
}

#projects-nav li:first-child {
  margin-top: 0;
}

#projects-nav a {
  background: #dfbfd8;
  border: 0;
  border-radius: 50%;
  display: block;
  height: 0.875em;
  text-decoration: none;
  text-indent: -999em;
  transition: all .25s ease-in;
  width: 0.875em;
  -webkit-appearance: none;
}

#projects-nav .active a {
  background: #7e0163;
  -moz-transform: scale(1.285);
  -webkit-transform: scale(1.285);
  -ms-transform: scale(1.285);
  transform: scale(1.285);
}

#projects-nav {
  left: 50%;
  margin-left: -22.5em;
}

#our-team {
  position: relative;
}

.fp-responsive #our-team {
  height: auto !important;
}

#our-team {
  height: 51.25em !important;
}

#our-team:before {
  background: #fff;
  content: '';
  display: block;
  position: absolute;
  bottom: 15.1875em;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#our-team .wrapper {
  padding: 1.9375em 0 3.875em;
  position: relative;
  z-index: 3;
}

#our-team .wrapper {
  height: 41.5625em;
  padding: 4.25em 0 0;
}

#our-team .wrapper {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 60em;
}

#our-team .wrapper:before {
  content: '';
  background: url(/_img/shadow.jpg) no-repeat;
  height: 12.0625em;
  width: 1.1875em;
  position: absolute;
  right: 0;
  top: 21.1875em;
  z-index: 1;
}

#our-team .wrapper:before {
  background-image: url("/_img/shadow-2x.jpg");
  background-size: 100% 100%;
}

#our-team .wrapper:after {
  content: '';
  background: url(/_img/shadow-left.jpg) no-repeat;
  height: 12.0625em;
  width: 1.1875em;
  position: absolute;
  left: 0;
  top: 21.1875em;
  z-index: 1;
}

#our-team .wrapper:after {
  background-image: url("/_img/shadow-left-2x.jpg");
  background-size: 100% 100%;
}

#our-team h1 {
  color: #4a56a2;
  font-family: "Quadon W00 Light",serif;
  font-size: 1.875em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 0.83333em;
}

#our-team h1 {
  font-size: 2.125em;
  margin-bottom: 0.73529em;
}

#our-team h1 {
  font-size: 3.125em;
  line-height: 1;
  margin: 0;
  margin-bottom: 0.68em;
}

#our-team h1 br {
  display: none;
}

#our-team .copy {
  color: #858585;
  padding: 11.125em 1.5625em 0;
}

#our-team .copy {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.25em;
  max-width: 60em;
}

#our-team .copy {
  padding: 0;
}

#our-team .content {
  width: 42em;
}

#our-team .fp-tableCell copy {
  padding-top: 9.1875em;
}

#our-team .link {
  margin-top: 2.0625em;
}

#our-team .link {
  margin-top: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#team-slideshow {
  position: absolute;
  left: 50%;
  margin-left: -24.6875em;
  height: 8.75em;
  overflow: hidden;
  top: 1.9375em;
  width: 49.375em;
  z-index: 3;
}

#team-slideshow {
  top: 22.875em;
}

#team-slideshow {
  margin-left: -34.5625em;
  overflow: visible;
  width: 69.125em;
}

#team-slideshow:before {
  content: '';
  background: #fff;
  display: block;
  height: 8.75em;
  left: 0;
  position: absolute;
  top: 0;
  width: 4.5em;
  z-index: 5;
}

#team-slideshow:after {
  content: '';
  background: #fff;
  display: block;
  height: 8.75em;
  position: absolute;
  right: 0;
  top: 0;
  width: 4.5em;
  z-index: 5;
}

#team-slideshow ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#team-slideshow ol li {
  margin: 0;
  padding: 0;
}

#team-slideshow li {
  margin-left: 0.5625em !important;
  margin-right: 0.5625em !important;
  transition: .25s all ease-in;
  width: 8.75em !important;
}

#team-slideshow img {
  height: auto;
  max-width: 100%;
}

#team-slideshow .slick-current+li {
  -moz-transform: scale(1.67);
  -moz-transform-origin: center right;
  -webkit-transform: scale(1.67);
  -webkit-transform-origin: center right;
  transform: scale(1.67);
  transform-origin: center right;
}

#team-slideshow .slick-list {
  overflow: visible;
}

.video-open {
  cursor: pointer;
}

.close-btn,
.close {
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 3.125em;
  overflow: hidden;
  opacity: .5;
  position: absolute;
  z-index: 500;
  top: 1.5625em;
  right: 5%;
  text-indent: -999em;
  width: 3.125em;
}

.modal .close-btn,
.modal .close {
  opacity: .5;
  display: none;
}

.close-btn span,
.close span {
  background: #fff;
  border-radius: 0.625em;
  display: block;
  height: 1.875em;
  left: 50%;
  margin-left: -0.125em;
  position: absolute;
  top: 50%;
  margin-top: -0.9375em;
  width: 0.3125em;
}

.close-btn span:nth-child(1),
.close span:nth-child(1) {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close-btn span:nth-child(2),
.close span:nth-child(2) {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 10px;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-player {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#overlay {
  background: rgba(0,0,0,0.85);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 600;
}

.veil {
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  z-index: 400;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fade {
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  filter: alpha(opacity=1);
  opacity: 1;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal {
  text-align: center;
  padding: 0 !important;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  display: none;
}

.video-modal {
  width: 100%;
  opacity: 0;
}

.video-modal {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

[role="contentinfo"] {
  background: #7e0163;
  color: #fff;
  padding: 2.8125em 0 7.0625em;
  position: relative;
  text-align: center;
}

[role="contentinfo"] {
  background: none;
  height: auto !important;
  padding-bottom: 12.875em;
  padding-top: 4.0625em;
}

[role="contentinfo"] .wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 43.75em;
  z-index: 2;
}

[role="contentinfo"]:before {
  background: #7e0163 url(/_img/footer-back.jpg) repeat;
  content: "";
  display: block;
  position: absolute;
  top: -15.1875em;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

[role="contentinfo"] h1 {
  font-family: "Quadon W00 Light",serif;
  font-size: 2.125em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 0;
  text-transform: lowercase;
}

[role="contentinfo"] .link {
  margin-bottom: 2.875em;
}

[role="contentinfo"] .link {
  display: none;
  margin-bottom: 0;
}

[role="contentinfo"] .location {
  color: inherit;
  display: block;
  font-size: 1.125em;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: none;
}

[role="contentinfo"] .location {
  float: left;
  text-align: left;
  margin-left: 0;
  margin-bottom: 0;
  padding-top: 0.72222em;
}

[role="contentinfo"] .phone {
  color: inherit;
  display: block;
  font-size: 1.125em;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: none;
}

[role="contentinfo"] .phone {
  float: right;
  text-align: right;
  margin-right: 0;
  margin-bottom: 0;
  padding-top: 0.72222em;
}

[role="contentinfo"].section p.copyright {
  color: rgba(255,255,255,0.5);
  font-size: 0.75em !important;
  text-transform: lowercase;
}

#connect {
  background: -moz-linear-gradient(top, rgba(126,1,99,0) 0%, #7e0163 30%, #7e0163 90%, rgba(126,1,99,0) 100%);
  background: -webkit-linear-gradient(top, rgba(126,1,99,0) 0%, #7e0163 30%, #7e0163 90%, rgba(126,1,99,0) 100%);
  background: linear-gradient(to bottom, rgba(126,1,99,0) 0%, #7e0163 30%, #7e0163 90%, rgba(126,1,99,0) 100%);
}

.footer-logo {
  margin-left: auto;
  margin-right: auto;
  background: url(/_img/footer-logo.png) no-repeat;
  display: block;
  height: 2.375em;
  margin-bottom: 1.125em;
  width: 11.4375em;
}

.footer-logo {
  background-image: url("/_img/footer-logo-2x.png");
  background-size: 100% 100%;
}

.social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.8125em;
  margin-bottom: 3.5em;
  width: 10.875em;
}

.social-icons:after {
  content: "";
  display: table;
  clear: both;
}

.social-icons li {
  margin: 0;
  padding: 0;
}

.social-icons {
  margin-top: 0;
  width: 18.875em;
}

.social-icons li {
  display: inline;
}

.social-icons a {
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 50%;
  color: #fff;
  float: left;
  font-size: 1em;
  height: 2.875em;
  line-height: 2.625em;
  margin-left: 1.125em;
  margin-bottom: 0.8125em;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  width: 2.875em;
}

.social-icons a:hover {
  background-color: rgba(255,255,255,0.25);
  background-clip: padding-box;
}

.social-icons a {
  margin-bottom: 0;
}

.social-icons .icon a {
  background-image: url(/_img/social-icons.png);
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999em;
}

.social-icons .icon a {
  background-image: url("/_img/social-icons-2x.png");
  background-size: 177px 200px;
}

.social-icons .linked-in a {
  background-position: -1px -1px;
  margin-left: 0;
}

.social-icons .twitter a {
  background-position: -67px -2px;
}

.social-icons .facebook a {
  background-position: -131px -3px;
}

.social-icons .instagram a {
  background-position: -31px -62px;
  clear: left;
  margin-left: 0;
}

.social-icons .instagram a {
  clear: none;
  margin-left: 1.125em;
}

.social-icons .vimeo a {
  background-position: -113px -62px;
}

.social-icons .blog a {
  background-position: -1px -112px;
}

html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

#superContainer {
  height: 100%;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
}

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fp-slide {
  float: left;
}

.fp-tableCell {
  position: relative;
}

#show-case-studies {
  margin-bottom: -6.75em;
  margin-top: 3.0625em;
  position: relative;
  z-index: 4;
}

#show-case-studies {
  background: none;
  margin-top: 3.375em;
  padding-left: calc(50% - 470px);
  padding-right: calc(50% - 470px);
  margin-bottom: -22.3125em;
}

#show-case-studies:after {
  content: "";
  display: table;
  clear: both;
}

.case-study {
  margin-left: auto;
  margin-right: auto;
  height: 29.1875em;
  position: relative;
  max-width: 29.375em;
  padding-top: 20.3125em;
  text-align: right;
}

.case-study {
  float: left;
  width: 50%;
}

.case-study:nth-child(n+3) {
  margin-top: -6.8125em;
}

.case-study.demo-reel {
  margin-left: 50%;
}

.case-study h2 {
  display: none;
}

.case-study .brand-logo {
  font-size: 1em;
  overflow: hidden;
  position: absolute;
  text-indent: 999em;
  right: 2.5em;
  top: 8.0625em;
  z-index: 2;
}

.case-study h3 {
  color: #fff;
  font-family: "Quadon W00 Light",serif;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1.25em;
  position: absolute;
  right: 1.25em;
  z-index: 2;
  top: 7.875em;
}

.case-study h3.two-lines {
  top: 6.875em;
}

.case-study .view-links {
  position: absolute;
  top: 20.3125em;
  right: 2.5em;
  z-index: 2;
}

.case-study .btn {
  display: inline-block;
}

.case-study #case-study-background {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -14.6875em;
  z-index: 1;
}

.case-study-1 {
  z-index: 6;
}

.case-study-2 {
  z-index: 5;
}

.case-study-3 {
  z-index: 4;
}

.case-study-4 {
  z-index: 3;
}

.demo-reel {
  background: url(/_img/case-studies/demo-reel.png) no-repeat center top;
  z-index: 2;
}

.demo-reel {
  background-image: url("/_img/case-studies/demo-reel-2x.png");
  background-size: 470px 467px;
}

#tell-a-story {
  background: #be80b1;
  color: #fff;
  padding: 6em 2em;
  position: relative;
}

#tell-a-story {
  background: transparent;
  height: 29.125em;
  padding-bottom: 0;
}

#tell-a-story:before {
  background: #be80b1;
  content: '';
  display: block;
  position: absolute;
  bottom: 15.1875em;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#tell-a-story .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 29.375em;
  z-index: 3;
}

#tell-a-story .container {
  position: absolute;
  left: 0;
  max-width: 23.75em;
  padding-left: 0.625em;
  top: 2.8125em;
  width: 50%;
}

#tell-a-story .container {
  left: 50%;
  margin-left: -30em;
}

#tell-a-story h1 {
  font-family: "Quadon W00 Light",serif;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 0.5625em;
  position: relative;
  z-index: 2;
}

#tell-a-story h1 {
  font-size: 3.125em;
  margin-bottom: 0.46em;
}

#tell-a-story .content {
  position: relative;
  z-index: 2;
}

#tell-a-story .content p {
  font-size: 1.125em;
  line-height: 1.38889em;
}

#list-team {
  margin-top: 4.16667em;
  padding: 0 25px;
  padding-top: 1.38889em;
  padding-bottom: 3.44444em;
  position: relative;
  font-family: "HelveticaNeueW01-45Ligh","Helvetica Neue",sans-serif;
  font-size: 1.125em;
  color: #858585;
  position: relative;
}

#list-team {
  padding-top: 2.33333em;
  padding-bottom: 6.44444em;
}

#list-team>h1,
#list-team>p,
#list-team .team-listing,
#list-team #team-nav {
  position: relative;
  z-index: 3;
}

#list-team:before {
  background: #fff;
  content: '';
  position: absolute;
  bottom: 13.5em;
  left: 0;
  right: 0;
  top: 0;
}

#list-team {
  margin-top: 4em;
  padding-left: calc(50% - 470px);
  padding-right: calc(50% - 470px);
}

#list-team:after {
  content: "";
  display: table;
  clear: both;
}

#list-team h1 {
  font-family: "Quadon W00 Light",serif;
  font-size: 1.66667em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 0.83333em;
  color: #4a56a2;
}

#list-team h1 {
  font-size: 1.88889em;
  margin-bottom: 0.73529em;
}

#list-team h1 {
  font-size: 2.77778em;
  margin-bottom: 0.5em;
}

#list-team p {
  margin-bottom: 2.77778em;
  line-height: 1.22222em;
  margin-bottom: 1.66667em;
}

#list-team p {
  margin-bottom: 50px;
}

#list-team p {
  width: 65%;
}

#list-team .team-listing {
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

#list-team figure {
  display: block;
  width: 100%;
  float: left;
  margin: 0 0 40px;
  border: 1px solid #d7d8d8;
}

#list-team figure {
  width: 45%;
}

#list-team figure {
  width: 290px;
}

#list-team figure img {
  border-bottom: 1px solid #d7d8d8;
  width: 100%;
  height: auto;
}

#list-team figure figcaption {
  border-top: none;
  padding: 20px;
  font-size: 1.3125em;
  font-family: "Quadon W00 Light",serif;
  color: #7e0163;
  letter-spacing: -1px;
}

#list-team figure figcaption span {
  display: block;
  font-size: 0.61905em;
  color: #858585;
  font-family: "HelveticaNeueW01-45Ligh","Helvetica Neue",sans-serif;
  letter-spacing: 0;
}

#team-nav {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

#team-nav li {
  margin: 0;
  padding: 0;
}

#team-nav {
  display: block;
}

#team-nav li {
  display: inline-block;
}

#team-nav li a {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  font-family: "Quadon W00 Light",serif;
  color: #858585;
}

#team-nav li a.active {
  background-color: #f1f5f6;
  border-radius: 3px;
  text-decoration: underline;
}

#video-nav {
  font-size: 1.125em;
  margin-top: 1.66667em;
  text-align: center;
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#video-nav li {
  margin: 0;
  padding: 0;
}

#video-nav {
  display: block;
}

#video-nav li {
  display: inline-block;
}

#video-nav li a {
  text-decoration: none;
  display: block;
  padding: 0.55556em 0.83333em;
  font-family: "Quadon W00 Light",serif;
  color: #858585;
}

#video-nav li a.active {
  background-color: #f1f5f6;
  border-radius: 3px;
  text-decoration: underline;
}

#video-nav li a {
  padding: 0.55556em 1.11111em;
}

#project-overview,
#employment-branding {
  background: #fff;
  margin-top: 4.6875em;
  padding: 3.75em 1.5625em 3.875em;
}

#project-overview .background,
#employment-branding .background {
  display: none;
}

#project-overview,
#employment-branding {
  margin-top: 6em;
  padding: 4em 1.25em 8.1875em;
  position: relative;
}

.page-case-study.brand #project-overview,
.page-case-study.brand #employment-branding {
  padding-bottom: 2.875em;
}

#project-overview .wrapper,
#employment-branding .wrapper {
  position: relative;
  z-index: 3;
}

#project-overview .background,
#employment-branding .background {
  display: block;
  position: absolute;
  top: 6.75em;
  left: 50%;
  margin-left: -63.25em;
  width: 126.5em;
}

#project-overview .background img,
#employment-branding .background img {
  display: block;
  margin: 0 auto;
}

.bob-rogers-travel #project-overview .background,
.bob-rogers-travel #employment-branding .background {
  top: 8em;
}

#project-overview,
#employment-branding {
  padding: 4em calc(50% - 470px) 8.1875em;
}

.page-case-study.brand #project-overview,
.page-case-study.brand #employment-branding {
  padding-bottom: 2.875em;
}

.penrose-studios #project-overview,
.penrose-studios #employment-branding {
  padding-bottom: 5.625em;
}

#project-overview h1,
#employment-branding h1 {
  color: #4a56a2;
  font-family: "Quadon W00 Light",serif;
  font-size: 1.875em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1.06667em;
}

#project-overview h1,
#employment-branding h1 {
  font-size: 2.125em;
  line-height: 1.05882em;
}

#project-overview h1,
#employment-branding h1 {
  font-size: 3.125em;
  line-height: 1.04em;
}

#project-overview h2,
#employment-branding h2 {
  color: #7e0163;
  font-family: "Quadon W00 Light",serif;
  font-size: 1.75em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 0.89286em;
}

#project-overview h2,
#employment-branding h2 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 0.78125em;
}

#project-overview h2,
#employment-branding h2 {
  font-size: 2.5em;
  line-height: 1.25em;
  margin-bottom: 0.625em;
}

#project-overview .brand-logo,
#employment-branding .brand-logo {
  margin-bottom: 1.6875em;
}

#project-overview .content,
#employment-branding .content {
  color: #858585;
  font-size: 1.125em;
  line-height: 1.38889em;
}

#project-overview .content p+p,
#employment-branding .content p+p {
  margin-top: 1.38889em;
}

#project-overview .content p,
#employment-branding .content p {
  width: 49.2%;
}

.key-bank #project-overview .content,
.key-bank #employment-branding .content,
.keybank #project-overview .content p+p,
.keybank #employment-branding .content p+p {
  width: 70%;
}

.ariens #project-overview .content p+p,
.ariens #employment-branding .content p+p {
  width: 60%;
}

#project-overview .link,
#employment-branding .link {
  margin-top: 3.11111em;
}

.penrose-studios #project-overview .link,
.penrose-studios #employment-branding .link {
  margin-top: -3.05556em;
}

#case-study-nav {
  font-family: "Quadon W00 Light",serif;
  margin: 0 -1.5625em 1.5625em;
  text-align: center;
}

#case-study-nav {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

#case-study-nav {
  margin: 0;
  position: absolute;
  right: -0.9375em;
  top: 0.75em;
  text-align: left;
}

#case-study-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#case-study-nav li {
  color: #858585;
  display: inline-block;
  font-size: 0.875em;
}

#case-study-nav li {
  font-size: 1.125em;
}

#case-study-nav li:first-child {
  border-left: 0;
  padding-left: 0;
}

#case-study-nav li:last-child {
  padding-right: 0;
}

#case-study-nav a {
  color: inherit;
  display: inline-block;
  padding: 0.71429em 1.07143em;
  text-decoration: none;
}

#case-study-nav a {
  padding: 0.55556em 0.83333em;
}

#case-study-nav a:active {
  color: inherit;
}

#case-study-nav span {
  background: #f1f5f6;
  border-radius: 3px;
  color: inherit;
  display: inline-block;
  padding: 0.55556em 0.83333em;
  text-decoration: underline;
}

#case-study-nav span {
  padding: 0.55556em 0.83333em;
}

.video-navigation {
  font-family: "Quadon W00 Light",serif;
  margin: 0.875em 0 1.5625em;
}

.video-navigation {
  margin-left: 0;
  margin-right: 0;
}

.video-navigation {
  margin: 1.5em 0 1.6875em;
}

.video-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.video-navigation li {
  color: #858585;
  display: inline-block;
  font-size: 0.875em;
}

.video-navigation li {
  font-size: 1.125em;
}

.video-navigation li:first-child {
  border-left: 0;
  padding-left: 0;
}

.video-navigation li:last-child {
  padding-right: 0;
}

.video-navigation a {
  color: inherit;
  display: inline-block;
  padding: 0.71429em 1.07143em;
  text-decoration: none;
}

.video-navigation a {
  padding: 0.55556em 0.83333em;
}

.video-navigation a:active {
  color: inherit;
}

.video-navigation span {
  background: #f1f5f6;
  border-radius: 3px;
  color: inherit;
  display: inline-block;
  padding: 0.71429em 1.07143em;
  text-decoration: underline;
}

.video-navigation span {
  padding: 0.55556em 0.83333em;
}

#project-hero-header {
  position: relative;
}

#project-hero-header .wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 41.375em;
  position: relative;
}

#project-hero-header h1 {
  color: #7e0163;
  font-family: "Quadon W00 Regular",serif;
  font-size: 1.3125em;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 1.90476em;
  margin-left: 1.19048em;
  margin-right: 1.19048em;
  text-align: center;
}

#project-hero-header h1 br {
  display: none;
}

#project-hero-header h1 {
  margin-left: 0;
  margin-right: 0;
}

#project-hero-header h1 {
  font-size: 1.5625em;
  margin-bottom: 1.6em;
}

#project-hero-header .brand-logo {
  display: none;
}

#project-hero-header .brand-logo {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

#project-hero {
  background: #fff;
  position: relative;
  z-index: 3;
}

#project-hero {
  background-position: center center;
  background-repeat: no-repeat;
}

.website #project-hero,
.brand #project-hero {
  text-align: center;
}

.website #project-hero picture,
.brand #project-hero picture {
  display: inline-block;
}

#project-hero img {
  display: block;
  height: auto;
  overflow: hidden;
  max-width: 100%;
}

.website #project-hero img {
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

#project-hero .wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 41.375em;
  position: relative;
}

#project-hero .video-container {
  margin-bottom: 2em;
}

#project-hero .video-meta:after {
  content: "";
  display: table;
  clear: both;
}

.videos #project-hero h4 {
  color: #4b4b4b;
  font-family: "HelveticaNeueW02-75Bold","Helvetica Neue",sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.38889em;
  margin-bottom: 0.44444em;
  padding: 0 1.38889em;
}

.videos #project-hero h4 {
  float: left;
  margin-bottom: 0;
  padding: 0 0 0 1.38889em;
}

.videos #project-hero h4 {
  padding: 0;
}

.videos #project-hero .video-time {
  padding: 0 1.5625em;
}

.videos #project-hero .video-time {
  float: right;
  padding: 0 1.5625em 0 0;
}

.videos #project-hero .video-time {
  padding: 0;
}

#project-hero .hero-video {
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  margin-bottom: 1.1875em;
  position: relative;
}

#project-hero .hero-video:hover:after {
  background: rgba(126,1,99,0.8);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.videos #project-hero .hero-video:not(:first-child) {
  margin-top: 1.1875em;
}

.hover-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 1;
}

.hover-image img {
  height: auto;
  max-width: 100%;
}

.hero-video:hover .hover-image,
.video-container:hover .hover-image,
.large-video:hover .hover-image {
  opacity: 1;
}

.video-play {
  background: url(/_img/video-play-rev.png) no-repeat center center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.5625em;
  margin-top: -1.5625em;
  height: 3.125em;
  width: 3.125em;
  z-index: 3;
}

.video-play {
  background-image: url("/_img/video-play-2x-rev.png");
  background-size: 50px 50px;
}

.longvids-header {
  margin-left: auto;
  margin-right: auto;
  max-width: 41.5em;
  position: relative;
}

.longvids-header h1 {
  color: #7e0163;
  font-family: "Quadon W00 Regular",serif;
  font-size: 1.5625em;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 1.6em;
  margin-left: 1em;
}

.longvids-header h1 {
  margin-left: 0;
}

.longvids {
  background-position: center center;
  background-repeat: no-repeat;
}

.longvids .large-video {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 41.5em;
}

.longvids .large-video:not(.video-1) {
  margin-top: 1.1875em;
}

.longvids img {
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  display: block;
  height: auto;
  overflow: hidden;
  max-width: 100%;
}

.longvids h4 {
  color: #fff;
  font-size: 1.125em;
  position: absolute;
  top: 2.5em;
  left: 2.4375em;
  z-index: 2;
}

#project-features {
  background: #fff;
  position: relative;
  padding-top: 2.8125em;
  padding-bottom: 7.5em;
  z-index: 2;
}

#project-features {
  background: transparent;
  padding-top: 5.625em;
  padding-bottom: 9.875em;
}

.videos #project-features {
  padding-top: 3.3125em;
}

#project-features .wrapper {
  position: relative;
  z-index: 2;
}

#project-features .wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
}

#project-features article {
  padding: 0 1.125em;
  position: relative;
}

#project-features article h3 {
  color: #4a56a2;
  font-family: "Quadon W00 Regular",serif;
  font-size: 1.125em;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 0.83333em;
}

#project-features article h3:before {
  border: 2px solid #7e0163;
  border-radius: 50%;
  content: '';
  height: 0.55556em;
  position: absolute;
  top: 0.27778em;
  left: 0;
  width: 0.55556em;
}

#project-features article p {
  font-size: 0.875em;
  line-height: 1.28571em;
}

#project-features .feature-points {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 3.3125em;
}

#project-features .feature-points li {
  margin: 0;
  padding: 0;
}

#project-features .feature-points:after {
  content: "";
  display: table;
  clear: both;
}

#project-features .feature-points li {
  margin-top: 1.75em;
}

#project-features .feature-points li:first-child {
  margin-top: 0;
}

#project-features .feature-points li {
  float: left;
  margin-top: 0;
  width: 33.333%;
}

#project-features p {
  font-size: 0.75em;
  line-height: 1.25em;
}

#project-features .btn {
  position: relative;
  z-index: 2;
}

#project-features .content-block {
  margin-left: auto;
  margin-right: auto;
  color: #858585;
  position: relative;
  z-index: 2;
  padding: 0 1.5625em;
  max-width: 44em;
}

#project-features .content-block p {
  font-size: 1.125em;
  line-height: 1.38889em;
}

.ariens #project-features .content-block {
  padding: 3.125em 1.5625em 1.875em;
}

#responsive-views {
  text-align: center;
}

.responsive-views {
  display: inline-block;
  margin-bottom: 4.25em;
  position: relative;
  z-index: 2;
}

.responsive-views img {
  height: auto;
  max-width: 100%;
}

.video-block,
.photo-block {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.75em;
  position: relative;
  padding: 0 1.5625em;
  max-width: 44em;
  z-index: 2;
}

.video-block:after,
.photo-block:after {
  content: "";
  display: table;
  clear: both;
}

.video-block,
.photo-block {
  padding-bottom: 4.375em;
}

.video-block h3,
.photo-block h3 {
  color: #7e0163;
  font-family: "Quadon W00 Regular",serif;
  font-size: 1.3125em;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 1.19048em;
}

.video-block h3 br,
.photo-block h3 br {
  display: none;
}

.video-block h3,
.photo-block h3 {
  font-size: 1.5625em;
  margin-bottom: 1em;
}

.video-block .vignette,
.photo-block .vignette {
  cursor: pointer;
  position: relative;
}

.video-block .vignette picture,
.photo-block .vignette picture {
  position: relative;
}

.video-block .vignette picture:hover:after,
.photo-block .vignette picture:hover:after {
  background: rgba(126,1,99,0.8);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.video-block .video-container,
.video-block .photo,
.photo-block .video-container,
.photo-block .photo {
  position: relative;
}

.video-block .video-container img,
.video-block .photo img,
.photo-block .video-container img,
.photo-block .photo img {
  display: block;
  height: auto;
  max-width: 100%;
}

.video-block .video-container,
.video-block .photo,
.photo-block .video-container,
.photo-block .photo {
  float: left;
  width: 48%;
}

.video-block .video-container.video-1,
.video-block .video-container.video-3,
.video-block .video-container.video-5,
.video-block .video-container.photo-1,
.video-block .video-container.photo-3,
.video-block .video-container.photo-5,
.video-block .photo.video-1,
.video-block .photo.video-3,
.video-block .photo.video-5,
.video-block .photo.photo-1,
.video-block .photo.photo-3,
.video-block .photo.photo-5,
.photo-block .video-container.video-1,
.photo-block .video-container.video-3,
.photo-block .video-container.video-5,
.photo-block .video-container.photo-1,
.photo-block .video-container.photo-3,
.photo-block .video-container.photo-5,
.photo-block .photo.video-1,
.photo-block .photo.video-3,
.photo-block .photo.video-5,
.photo-block .photo.photo-1,
.photo-block .photo.photo-3,
.photo-block .photo.photo-5 {
  margin-right: 4%;
}

.video-block .video-container.video-3,
.video-block .video-container.video-4,
.video-block .video-container.video-5,
.video-block .video-container.video-6,
.video-block .video-container.photo-3,
.video-block .video-container.photo-4,
.video-block .video-container.photo-5,
.video-block .video-container.photo-6,
.video-block .photo.video-3,
.video-block .photo.video-4,
.video-block .photo.video-5,
.video-block .photo.video-6,
.video-block .photo.photo-3,
.video-block .photo.photo-4,
.video-block .photo.photo-5,
.video-block .photo.photo-6,
.photo-block .video-container.video-3,
.photo-block .video-container.video-4,
.photo-block .video-container.video-5,
.photo-block .video-container.video-6,
.photo-block .video-container.photo-3,
.photo-block .video-container.photo-4,
.photo-block .video-container.photo-5,
.photo-block .video-container.photo-6,
.photo-block .photo.video-3,
.photo-block .photo.video-4,
.photo-block .photo.video-5,
.photo-block .photo.video-6,
.photo-block .photo.photo-3,
.photo-block .photo.photo-4,
.photo-block .photo.photo-5,
.photo-block .photo.photo-6 {
  margin-top: 2em;
}

.video-block .photo,
.photo-block .photo {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.video-block h4,
.photo-block h4 {
  color: #858585;
  font-size: 1.125em;
  font-weight: 400;
  margin-top: 1.05556em;
  padding: 0 1em;
}

.video-block .video-play,
.photo-block .video-play {
  top: 4.125em;
  margin-top: 0;
}

#show-sites .photo-block .photo {
  box-shadow: none;
}

#show-sites .photo-block picture {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.video-block .video-entry {
  position: relative;
}

.video-block .video-entry:hover:after {
  background: rgba(126,1,99,0.8);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#featured-video .video-entry:hover:after {
  background: rgba(126,1,99,0.8);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.page-case-study .video-container picture {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  min-height: 1px;
  outline: none;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.fp-destroyed .fp-tableCell {
  height: auto !important;
  position: static;
}

#error-content {
  background: #fff;
  margin-top: 4.6875em;
  min-height: 37.5em;
  padding: 4.5em 1.25em 0;
  position: relative;
}

#error-content {
  background: transparent;
}

#error-content .wrapper {
  position: relative;
  z-index: 2;
}

#error-content {
  padding: 4.5em calc(50% - 470px) 0;
}

#error-content h1 {
  font-family: "Quadon W00 Light",serif;
  font-size: 2.125em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 25px;
  color: #4a56a2;
}

#error-content h1 {
  font-size: 3.125em;
}

#error-content ul {
  padding: 0 0 0 1em;
  margin: 0;
}

#error-content p,
#error-content li {
  font-size: 1.125em;
  line-height: 1.38889em;
}

#error-content p+p,
#error-content p+ul,
#error-content ul+p {
  margin-top: 1.38889em;
}

#error-content a {
  color: #4a56a2;
  text-decoration: none;
}

#error-content a:hover {
  text-decoration: underline;
}

#error-content #mask-7 {
  z-index: 2;
}

.back-to-top {
  opacity: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  background: #7e0163 url(/_img/up-2x.png) no-repeat center center;
  background-size: 29px 18px;
  margin: 10px 0 0;
  position: fixed;
  bottom: 25px;
  right: 25px;
  transition: opacity 0.5s;
  z-index: 20;
}

.back-to-top.active {
  opacity: 1;
}

.back-to-top {
  display: none !important;
}

#nav-contact {
  font-size: 0.875em;
  position: absolute;
  right: 1.5625em;
  text-transform: uppercase;
  top: 2em;
}

#nav-contact a {
  color: #fff;
  text-decoration: none;
}

#nav-contact {
  right: 0.625em;
}

#nav-secondary {
  background: #bd80af;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5;
}

#nav-secondary ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-secondary ol li {
  margin: 0;
  padding: 0;
}

#nav-secondary li {
  color: #fff;
  position: relative;
  text-transform: uppercase;
}

#nav-secondary a {
  color: inherit;
  font-size: 0.875em;
  text-decoration: none;
}

.page-work #nav-secondary a[href*="work"]:after,
.page-case-study #nav-secondary a[href*="work"]:after,
.page-recruitment-page #nav-secondary a[href*="employment"]:after,
.page-video-production #nav-secondary a[href*="video"]:after,
.page-video-process #nav-secondary a[href*="video"]:after {
  background: #fff;
  border-radius: 50%;
  bottom: 0;
  content: '';
  display: block;
  height: 0.42857em;
  left: 50%;
  margin-left: -0.21429em;
  position: absolute;
  width: 0.42857em;
}

#nav-secondary {
  height: 2.75em;
  padding-top: 0.8125em;
  position: fixed;
  left: 0;
  right: 0;
  top: 4.5em;
}

#nav-secondary ol {
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
  padding-right: 0.625em;
  text-align: right;
}

#nav-secondary ol li {
  display: inline-block;
  padding-bottom: 0.9375em;
  position: relative;
}

#nav-secondary .nav-contact {
  display: none;
}

#nav-secondary a {
  display: block;
  padding: 0 1.07143em;
}

#nav-secondary li:last-child a {
  padding-right: 0;
}

.recruitment-header {
  color: #858585;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5625em;
  max-width: 44.375em;
}

.recruitment-header h1 {
  color: #7e0163;
  font-family: "Quadon W00 Regular",serif;
  font-weight: 400;
  font-size: 1.5625em;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 1.24em;
}

.recruitment-heading {
  margin-left: auto;
  margin-right: auto;
  color: #7e0163;
  font-family: "Quadon W00 Regular",serif;
  font-weight: 400;
  font-size: 1.5625em;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 1.24em;
  padding: 0 1em;
  max-width: 28.4em;
}

#custom-photography h2 {
  margin-left: auto;
  margin-right: auto;
  color: #858585;
  font-family: "HelveticaNeueW02-75Bold","Helvetica Neue",sans-serif;
  font-size: 1.125em;
  line-height: 1;
  margin-bottom: 1.22222em;
  padding: 0 1.38889em;
  max-width: 39.44444em;
}

.page-recruitment-page .video-block,
.page-recruitment-page .photo-block {
  margin-top: 0;
  max-width: 44.375em;
}

.page-recruitment-page .video-block,
.page-recruitment-page .photo-block {
  padding-bottom: 4.375em;
}

.page-recruitment-page .video-block h4,
.page-recruitment-page .photo-block h4 {
  line-height: 1.38889em;
  padding: 0;
}

.page-recruitment-page .video-block h4 strong,
.page-recruitment-page .photo-block h4 strong {
  font-family: "HelveticaNeueW02-75Bold","Helvetica Neue",sans-serif;
}

.page-recruitment-page .video-container,
.page-recruitment-page .photo {
  float: left;
  width: 48.375%;
}

.page-recruitment-page .video-container:nth-child(odd),
.page-recruitment-page .photo:nth-child(odd) {
  margin-right: 3.25%;
}

.page-recruitment-page .video-container {
  position: relative;
}

.page-recruitment-page .video-container:nth-child(n+3) {
  margin-top: 2.1875em;
}

.page-recruitment-page .photo {
  width: 48.375%;
}

.page-recruitment-page .photo:nth-child(n+3) {
  margin-top: 3.25%;
}

.page-recruitment-page .photo-block-1 {
  margin-bottom: 2.6875em;
}

.page-recruitment-page .photo-block-1 {
  padding-bottom: 0;
}

.page-recruitment-page #career-websites .photo-block .photo:nth-child(n+3) {
  margin-top: 2.75em;
}

.page-recruitment-page .content {
  font-size: 1.125em;
  line-height: 1.38889em;
  margin-bottom: 2.66667em;
}

.page-recruitment-page .content.full-width {
  margin-bottom: 0;
}

.page-recruitment-page .content p {
  margin-bottom: 0;
}

.page-recruitment-page .content p+p {
  margin-top: 1.38889em;
}

#employment-branding {
  background: url(/_img/recruitment-page/recruitment-intro-background.jpg) no-repeat center -30px;
  margin-top: 4.5em;
  padding-top: 6.8125em;
  padding-bottom: 6.375em;
}

#employment-branding {
  background-image: url("/_img/recruitment-page/recruitment-intro-background-2x.jpg");
  background-size: 2023px 702px;
}

#employment-branding strong {
  color: #494949;
  font-family: "HelveticaNeueW02-75Bold","Helvetica Neue",sans-serif;
  font-weight: normal;
}

#employment-branding h1 {
  margin-bottom: 1.16em;
  width: 5.96em;
}

#employment-branding h2 {
  margin-bottom: 1.375em;
  width: 10.9375em;
}

#employment-branding h2 {
  margin-bottom: 1.1em;
  width: 8.75em;
}

#employment-branding .full-width {
  padding-top: 1.88889em;
  position: relative;
}

#employment-branding .full-width p {
  padding-right: 15.77778em;
  width: 100%;
}

#employment-branding .full-width picture {
  position: absolute;
  right: -0.77778em;
  top: 0;
}

#employment-branding .content p+p {
  margin-top: 0.83333em;
}

#by-the-numbers {
  margin-bottom: 2.625em;
}

#by-the-numbers ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#by-the-numbers ul li {
  margin: 0;
  padding: 0;
}

#by-the-numbers ul:after {
  content: "";
  display: table;
  clear: both;
}

#by-the-numbers ul li {
  display: block;
  float: left;
  font-size: 1.125em;
  padding-left: 5em;
  padding-right: 0.55556em;
  position: relative;
  text-transform: uppercase;
  max-width: 13.33333em;
}

#by-the-numbers ul li:not(:first-child) {
  margin-top: 1.38889em;
}

#by-the-numbers ul li {
  width: 50%;
}

#by-the-numbers ul li:nth-child(2) {
  margin-top: 0;
}

#by-the-numbers ul li {
  width: 25%;
}

#by-the-numbers ul li:nth-child(3),
#by-the-numbers ul li:nth-child(4) {
  margin-top: 0;
}

#by-the-numbers ul li:first-child {
  color: #4a589f;
}

#by-the-numbers ul li:first-child em {
  background-color: #4a589f;
}

#by-the-numbers ul li:nth-child(2) {
  color: #7e0163;
}

#by-the-numbers ul li:nth-child(2) em {
  background-color: #7e0163;
}

#by-the-numbers ul li:nth-child(3) {
  color: #279cf1;
}

#by-the-numbers ul li:nth-child(3) em {
  background-color: #279cf1;
}

#by-the-numbers ul li:nth-child(4) {
  color: #bd80af;
}

#by-the-numbers ul li:nth-child(4) em {
  background-color: #bd80af;
}

#by-the-numbers ul span {
  display: table-cell;
  height: 4em;
  vertical-align: middle;
}

#by-the-numbers em {
  border-radius: 5px;
  color: #fff;
  display: block;
  font-family: "Quadon W00 Light",serif;
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -2px;
  line-height: 2em;
  height: 2em;
  text-align: center;
  width: 2em;
  position: absolute;
  top: 0;
  left: 0;
}

#career-websites .link {
  margin-top: 1.75em;
}

#show-sites {
  background: url(/_img/recruitment-page/career-websites.jpg) no-repeat center 39px;
}

#custom-photography {
  padding-bottom: 7.5em;
  position: relative;
  z-index: 2;
}

#custom-photography {
  padding-bottom: 9.875em;
}

.video-production-portfolio {
  margin-top: 4.5em;
  padding-top: 3.75em;
  padding-bottom: 3.875em;
}

.video-production-portfolio {
  margin-top: 8.375em;
  padding-top: 2.6875em;
  padding-bottom: 3.75em;
}

.video-production-portfolio .wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5625em;
  padding-right: 1.5625em;
}

.video-production-portfolio .wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.video-production-portfolio .wrapper {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.video-production-portfolio .wrapper {
  padding-left: calc(50% - 470px);
  padding-right: calc(50% - 470px);
}

.video-production-portfolio .introduction {
  float: left;
  width: 59%;
}

.video-production-portfolio #featured-video {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.25em;
  max-width: 41.25em;
}

.video-production-portfolio #featured-video {
  float: right;
  width: 34.25%;
}

.video-production-portfolio .section-1 {
  padding-bottom: 2.8125em;
}

.video-production-portfolio .section-2 {
  background: url(/_img/video-production-background.jpg) no-repeat center top;
  padding-top: 3em;
}

.video-production-portfolio h1 {
  color: #4a56a2;
  font-family: "Quadon W00 Light",serif;
  font-size: 1.875em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1.06667em;
}

.video-production-portfolio h1 {
  font-size: 2.125em;
  line-height: 1.05882em;
}

.video-production-portfolio h1 {
  font-size: 3.125em;
  line-height: 1.04em;
}

.video-production-portfolio h2 {
  color: #7e0163;
  font-family: "Quadon W00 Light",serif;
  font-size: 1.75em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 0.89286em;
}

.video-production-portfolio h2 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 0.78125em;
}

.video-production-portfolio h2 {
  font-size: 2.5em;
  line-height: 1.25em;
  margin-bottom: 0.625em;
}

.video-production-portfolio .content {
  color: #858585;
  font-size: 1.125em;
  line-height: 1.38889em;
}

.video-production-portfolio .content p+p {
  margin-top: 1.38889em;
}

.video-production-portfolio .video-play {
  z-index: 4;
}

.video-production-portfolio .title-block {
  color: #fff;
  position: absolute;
  left: 1.25em;
  top: 1.25em;
  visibility: hidden;
  z-index: 3;
}

.video-production-portfolio .video-entry {
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  position: relative;
}

.video-production-portfolio .video-entry:hover .title-block {
  visibility: visible;
}

.video-production-portfolio .video-entry h3 {
  font-size: 1em;
  font-family: "HelveticaNeueW02-75Bold","Helvetica Neue",sans-serif;
}

.video-production-portfolio .video-entry h4 {
  font-size: 1em;
}

.video-production-portfolio .video-entry img {
  display: block;
  height: auto;
  max-width: 100%;
}

.video-production-portfolio .brand-logo {
  margin: 0.75em 0 0 1.25em;
  padding: 0;
}

.page-video-production .process {
  padding-bottom: 4em;
  position: relative;
  z-index: 2;
}

.page-video-production .process {
  padding-bottom: 8.3125em;
}

.page-video-production .process .link {
  position: relative;
  text-align: center;
  z-index: 3;
}

.page-video-production .video-block {
  margin-top: 1.875em;
  padding: 0;
  max-width: 41.25em;
}

.page-video-production .video-block h4 {
  line-height: 1.38889em;
  padding: 0;
}

.page-video-production .video-block h4 strong {
  font-family: "HelveticaNeueW02-75Bold","Helvetica Neue",sans-serif;
}

.page-video-production .video-block {
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 0;
  width: 100%;
}

.page-video-production .video-block:after {
  content: '';
  display: block;
  width: 100%;
}

.page-video-production .video-block .video-container {
  margin-top: 2.1875em;
}

.page-video-production .video-block .video-container {
  display: block;
  width: 48.375%;
}

.page-video-production .video-entry h3 {
  color: #fff;
  letter-spacing: 0;
  margin-bottom: 0;
}

.page-video-production .video-entry h4 {
  color: #fff;
  margin-top: 0;
}

.video-process {
  position: relative;
  z-index: 2;
  margin-top: 4.5em;
  padding-top: 3.75em;
  padding-bottom: 3.875em;
  padding-left: 1.5625em;
  padding-right: 1.5625em;
}

.video-process {
  margin-top: 8.375em;
  padding: 2.6875em 1.25em 3.375em;
}

.video-process {
  padding-left: calc(50% - 470px);
  padding-right: calc(50% - 470px);
}

.video-process h1 {
  color: #4a56a2;
  font-family: "Quadon W00 Light",serif;
  font-size: 1.875em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1.06667em;
}

.video-process h1 {
  font-size: 2.125em;
  line-height: 1.05882em;
}

.video-process h1 {
  font-size: 3.125em;
  line-height: 1.04em;
}

.video-process h2 {
  color: #7e0163;
  font-family: "Quadon W00 Light",serif;
  font-size: 1.75em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 0.89286em;
}

.video-process h2 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 0.78125em;
}

.video-process h2 {
  font-size: 2.5em;
  line-height: 1.25em;
  margin-bottom: 0.625em;
}

.video-process .content {
  margin-bottom: 3em;
}

.video-process .content p {
  width: 100%;
}

.video-process .links {
  margin: 0 1.38889em;
  text-align: center;
}

.video-process .links {
  margin: 0;
}

.video-process .btn {
  display: inline-block;
}

.video-process .btn+.btn {
  margin-top: 1.11111em;
  margin-left: 0.55556em;
  margin-right: 0.55556em;
}

.video-process .btn+.btn {
  margin-left: 1.11111em;
  margin-right: 0;
  margin-top: 0;
}

.video-process .btn[data-target="#free-templates"] {
  max-width: 17.66667em;
  width: 100%;
}

#process-explained {
  padding-bottom: 3.875em;
  position: relative;
  z-index: 2;
}

#process-explained {
  padding-bottom: 13.375em;
}

#process-explained .section-heading {
  color: #4a56a2;
  font-family: "Quadon W00 Light",serif;
  font-size: 1.875em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 1.56667em;
  position: relative;
  z-index: 2;
}

#process-explained .section-heading span {
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  display: block;
  position: relative;
  text-align: center;
  width: 8.33333em;
  z-index: 2;
}

#process-explained .section-heading:after {
  content: '';
  background: #b5b5b5;
  height: 0.03333em;
  position: absolute;
  top: 50%;
  left: -1000%;
  right: -1000%;
  z-index: 1;
}

#process-explained .step+.section-heading {
  margin-top: 2.5em;
}

.video-process .section-heading {
  color: #7e0163;
  font-family: "Quadon W00 Light",serif;
  font-size: 2.25em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 1.77778em;
  position: relative;
  z-index: 2;
}

.video-process .section-heading span {
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  display: block;
  position: relative;
  text-align: center;
  width: 8.33333em;
  z-index: 2;
}

.video-process .section-heading:after {
  content: '';
  background: #b5b5b5;
  height: 0.02778em;
  position: absolute;
  top: 50%;
  left: -1000%;
  right: -1000%;
  z-index: 1;
}

.video-process h2 {
  margin-bottom: 0;
}

.video-process .links {
  margin-top: 1.5625em;
}

.process-forms {
  margin-top: 2.5em;
}

.step-content h4 {
  font-family: "HelveticaNeueW02-75Bold","Helvetica Neue",sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.16667em;
}

.step-content .content {
  color: #858585;
  font-size: 1.125em;
  line-height: 1.38889em;
  margin-bottom: 0;
}

.step-content p+ul {
  margin-top: 1.38889em;
}

.step-content ul {
  margin: 0;
  padding: 0;
}

.step-content ul li {
  list-style-type: none;
  padding-left: 1em;
  position: relative;
}

.step-content ul li:before {
  content: '\2022';
  position: absolute;
  left: 0;
}

.step {
  padding-left: 1.5625em;
  padding-right: 1.5625em;
  position: relative;
  z-index: 2;
}

.step figure {
  margin: 0;
  padding: 0;
}

.step {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.step .step-image {
  width: 50%;
}

.step .step-content {
  width: 50%;
}

.step:after {
  content: "";
  display: table;
  clear: both;
}

.step.left .step-content {
  padding-left: 1.5625%;
}

.step.right {
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.step.right .step-content {
  padding-left: 3.125%;
}

.step.right img {
  margin-left: 0.625em;
}

.step {
  padding: 0 calc(50% - 320px);
}

.step+.links {
  position: relative;
  z-index: 2;
}

.step-1 img {
  margin-left: -2.875em;
}

.step-2 {
  margin-top: -2.3125em;
}

.step-3 {
  margin-top: -1.625em;
}

.step-3 img {
  margin-left: -1.4375em;
}

.step-4 {
  margin-top: -3.625em;
}

.step-5 {
  margin-top: -2.9375em;
}

.step-5 img {
  margin-left: -5.625em;
}

.step-6.right img {
  margin-left: 1.625em;
}

.step-7 {
  margin-top: -0.3125em;
}

.step-7 img {
  margin-left: -3.875em;
}

.step-8 {
  margin-top: -4.3125em;
}

.step-8 h4 {
  margin-top: 7.33333em;
}

.step-9 img {
  margin-left: -2.8125em;
}

.step-10 {
  margin-top: -0.5em;
}

.step-10 img {
  margin-left: 1.0625em;
}

.step-11 {
  margin-bottom: 4.375em;
}

.step-11 {
  -webkit-align-content: top;
  -moz-align-content: top;
  -ms-align-content: top;
  align-content: top;
}

.step-11 img {
  margin-top: -2.4375em;
}

.video-request-form {
  position: relative;
  z-index: 2;
}

.process-forms {
  position: relative;
}

.process-forms .success {
  display: none;
  margin-top: -7.8125em;
  text-align: center;
}

.process-forms .success p {
  color: #858585;
  font-size: 1.125em;
  line-height: 1.38889em;
}

.process-forms .success img {
  margin: 1.8125em 0 1.25em;
}

.process-forms .success a {
  color: #7e0163;
}

.process-forms .success a:hover {
  color: #4a56a2;
}

.video-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 43.125em;
  position: relative;
}

.video-form:after {
  background: rgba(255,255,255,0.75) url(/_img/ajax-loader.gif) no-repeat center center;
  content: '';
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.submit-show .video-form:after {
  display: block;
}

.video-form ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.video-form ol:after {
  content: "";
  display: table;
  clear: both;
}

.video-form ol li {
  margin: 0;
  padding: 0;
}

.video-form ol li {
  float: left;
  width: 31.33%;
}

.video-form ol li:nth-child(n+2) {
  margin-left: 3.005%;
}

.video-form ol li.submit {
  margin: 1.55556em 0 0 34.335%;
}

.video-form label {
  display: none;
}

.video-form input[type=text],
.video-form input[type=email] {
  background: none;
  border: 1px solid #dfbfd8;
  color: #dfbfd8;
  font-size: 1.125em;
  height: 2.77778em;
  outline: none;
  padding: 0 0.27778em;
  text-align: center;
  width: 100%;
}

.video-form input[type=text]:focus,
.video-form input[type=email]:focus {
  border-color: #7e0163;
  color: #7e0163;
}

.video-form .btn {
  background: #7e0163;
  color: #fff;
  outline: none;
  padding-top: 0;
  width: 100%;
}

.video-form .error input[type=email] {
  border: 3px solid #7f65b0;
  background: #fff;
  color: #4a56a2;
}

.video-form textarea {
  background: none;
  border: 1px solid #7e0163;
  color: #7e0163;
  font-size: 1.125em;
  height: 2.77778em;
  resize: none;
  padding: 0.77778em 0.27778em;
  text-align: center;
  width: 100%;
}

.video-form textarea:focus {
  border-color: #4a56a2;
  color: #4a56a2;
}

.video-form .error input[type=email],
.video-form .error textarea {
  border: 3px solid #7f65b0;
  background: #fff;
  color: #4a56a2;
}

.video-form .error-message {
  color: #858585;
  position: absolute;
  top: -2.5em;
  left: 0;
  right: 0;
  text-align: center;
}

.video-form ::-webkit-input-placeholder {
  color: #dfbfd8;
  text-transform: lowercase;
}

.video-form :-moz-placeholder {
  color: #dfbfd8;
  text-transform: lowercase;
}

.video-form ::-moz-placeholder {
  color: #dfbfd8;
  text-transform: lowercase;
}

.video-form :-ms-input-placeholder {
  color: #dfbfd8;
  text-transform: lowercase;
}

.video-form :focus::-webkit-input-placeholder {
  color: #7e0163;
}

.video-form :focus:-moz-placeholder {
  color: #7e0163;
}

.video-form :focus::-moz-placeholder {
  color: #7e0163;
}

.video-form :focus:-ms-input-placeholder {
  color: #7e0163;
}

#free-templates-2 {
  position: relative;
  z-index: 2;
}

#free-templates,
#request-a-quote,
#free-templates-2 {
  display: none;
}

#contact-content {
  margin-top: 4.6875em;
  padding: 1.5625em 1.5625em 15.8125em;
  position: relative;
  z-index: 3;
}

#contact-content {
  margin-top: 4.5em;
  padding: 4em 1.25em 15.8125em;
  position: relative;
}

#contact-content {
  padding: 4em calc(50% - 470px) 14.5em;
}

#contact-content h1 {
  color: #4a56a2;
  font-family: "Quadon W00 Light",serif;
  font-size: 1.875em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1.06667em;
  margin-bottom: 1.93333em;
  position: relative;
  text-align: center;
  z-index: 2;
}

#contact-content h1 {
  font-size: 2.125em;
  line-height: 1.05882em;
  margin-bottom: returnoems(62px, 34px);
}

#contact-content h1 {
  font-size: 3.125em;
  line-height: 1.04em;
  margin-bottom: 1.56em;
}

#contact-content h2 {
  color: #7e0163;
  font-family: "Quadon W00 Light",serif;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.66667em;
  text-align: center;
  text-transform: lowercase;
}

#contact-content h2 {
  font-size: 1.75em;
  margin-bottom: 0.57143em;
}

#contact-content h2 {
  font-size: 2.5em;
  margin-bottom: 0.4em;
}

#contact-content .error-header {
  margin-top: -2.1em;
}

#contact-content .error-header {
  margin-top: -1.92857em;
}

#contact-content .error-header {
  margin-top: -1.625em;
}

#contact-content #contact-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 43.75em;
  position: relative;
  z-index: 3;
}

#contact-content #contact-form:after {
  content: "";
  display: table;
  clear: both;
}

#contact-content #contact-form:before {
  background: rgba(255,255,255,0.75) url(/_img/ajax-loader.gif) no-repeat center center;
  content: '';
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#contact-content #contact-form.submit-show:before {
  display: block;
}

#contact-content #contact-form ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#contact-content #contact-form ol:after {
  content: "";
  display: table;
  clear: both;
}

#contact-content #contact-form ol li {
  margin: 0;
  padding: 0;
}

#contact-content #contact-form ol li {
  margin-top: 1.3125em;
}

#contact-content #contact-form ol li:first-child {
  margin-top: 0;
}

#contact-content #contact-form ol li {
  margin-top: 0;
  margin-bottom: 1.3125em;
}

#contact-content #contact-form ol li.text {
  float: left;
  width: 49%;
}

#contact-content #contact-form ol li.name {
  margin-right: 2%;
}

#contact-content #contact-form label {
  display: none;
}

#contact-content #contact-form input[type=text],
#contact-content #contact-form input[type=email] {
  background: none;
  border: 1px solid #dfbfd8;
  color: #7e0163;
  font-size: 1.125em;
  height: 2.77778em;
  outline: none;
  padding: 0 0.27778em;
  text-align: center;
  width: 100%;
}

#contact-content #contact-form input[type=text]:focus,
#contact-content #contact-form input[type=email]:focus {
  background: #ecd9e8;
  border-color: #7e0163;
  color: #7e0163;
}

#contact-content #contact-form .btn {
  background: #7e0163;
  color: #fff;
  outline: none;
  padding-top: 0;
  width: 100%;
}

#contact-content #contact-form .btn {
  margin-left: auto;
  margin-right: auto;
  width: 12.16667em;
}

#contact-content #contact-form textarea {
  background: none;
  border: 1px solid #dfbfd8;
  color: #7e0163;
  font-size: 1.125em;
  height: 8.22222em;
  outline: none;
  resize: vertical;
  padding: 0.77778em 0.27778em;
  text-align: center;
  width: 100%;
}

#contact-content #contact-form textarea:focus {
  background: #ecd9e8;
  border-color: #7e0163;
  color: #7e0163;
}

#contact-content #contact-form .error input[type=text],
#contact-content #contact-form .error input[type=email],
#contact-content #contact-form .error textarea {
  border-color: #7e0163;
  box-shadow: inset 0 0 0 3px #ecd9e8;
  color: #4a56a2;
}

#contact-content #contact-form .error-message {
  color: #858585;
  text-align: center;
}

#contact-content #contact-form ::-webkit-input-placeholder {
  color: #dfbfd8;
  text-transform: lowercase;
}

#contact-content #contact-form :-moz-placeholder {
  color: #dfbfd8;
  text-transform: lowercase;
}

#contact-content #contact-form ::-moz-placeholder {
  color: #dfbfd8;
  text-transform: lowercase;
}

#contact-content #contact-form :-ms-input-placeholder {
  color: #dfbfd8;
  text-transform: lowercase;
}

#contact-content #contact-form :focus::-webkit-input-placeholder {
  color: #7e0163;
}

#contact-content #contact-form :focus:-moz-placeholder {
  color: #7e0163;
}

#contact-content #contact-form :focus::-moz-placeholder {
  color: #7e0163;
}

#contact-content #contact-form :focus:-ms-input-placeholder {
  color: #7e0163;
}

#contact-content:after {
  background: url(/_img/map.png) no-repeat center top;
  bottom: 0;
  content: '';
  height: 18.3125em;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

#thanks {
  color: #858585;
  display: none;
  min-height: 9.72222em;
  font-size: 1.125em;
  line-height: 1.33333em;
  text-align: center;
}

#thanks h2 {
  color: #7e0163;
  font-size: 1.33333em;
  margin-bottom: 1.04167em;
  margin-top: -2.6em;
}

#thanks h2 {
  font-size: 1.55556em;
  margin-bottom: 0.89286em;
  margin-top: -2em;
}

#thanks h2 {
  font-size: 2.22222em;
  margin-bottom: 0.625em;
  margin-top: -1.4em;
}

.case-study-cta {
  text-align: center;
}

.case-study-cta .btn {
  display: inline-block;
}

.case-study-cta .btn+.btn {
  margin-left: 1.11111em;
}

#contact-form .errors {
  background: url(/_img/error.png) no-repeat center 17px;
  height: 35px;
}

#contact-form .error-message {
  color: rgba(255,255,255,0.5);
  font-size: 1.125em;
  text-align: center;
  margin-bottom: 1.83333em;
}

#contact-form small {
  display: block;
  padding-top: 0.5em;
}

#contact-form .message .errors,
#contact-form .message small {
  margin-top: -0.1875em;
}

#request-a-quote {
  padding: 2.5em 1.5625em 0;
  position: relative;
  z-index: 3;
}

#request-a-quote {
  padding: 2.5em 1.25em 0;
}

#request-a-quote {
  padding: 2.5em calc(50% - 470px) 0;
}

#request-a-quote .section-heading {
  color: #7e0163;
  font-family: "Quadon W00 Light",serif;
  font-size: 2.25em;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 1.77778em;
  position: relative;
  z-index: 2;
}

#request-a-quote .section-heading span {
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  display: block;
  position: relative;
  text-align: center;
  width: 8.33333em;
  z-index: 2;
}

#request-a-quote .section-heading:after {
  content: '';
  background: #b5b5b5;
  height: 0.02778em;
  position: absolute;
  top: 50%;
  left: -1000%;
  right: -1000%;
  z-index: 1;
}

#request-a-quote .success {
  margin-left: auto;
  margin-right: auto;
  max-width: 43.125em;
}

#project-features .success p {
  font-size: 1.125em;
  line-height: 1.38889em;
}

.flexible-content {
  margin-top: 4.6875em;
  text-align: center;
}

.flexible-content img {
  max-width: 100%;
}

.flexible-content .wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 51.25em;
}

.flexible-content h1 {
  color: #7e0163;
  font-family: "Quadon W00 Regular",serif;
  font-size: 1.3125em;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 1.90476em;
  margin-left: 1.19048em;
  margin-right: 1.19048em;
  text-align: center;
}

.flexible-content h1 br {
  display: none;
}

.flexible-content h1 {
  margin-left: 0;
  margin-right: 0;
}

.flexible-content h1 {
  font-size: 1.5625em;
  margin-bottom: 1.6em;
}

.four-image-block .single-block {
  display: inline-block;
  margin-left: -0.375em;
  width: 100%;
}

.four-image-block .single-block {
  width: 50%;
}

.four-image-block .single-block {
  width: 25%;
}

.four-image-block .single-block:not(:first-child) {
  margin-top: 3em;
}

.four-image-block .single-block:not(:first-child):nth-child(2) {
  margin-top: 0;
}

.four-image-block .single-block:not(:first-child) {
  margin-top: 0;
}

.four-image-block .btn {
  margin-top: 2.33333em;
  width: 7.77778em;
}

.two-image-block .single-block {
  display: inline-block;
  margin-left: -0.375em;
  width: 100%;
}

.two-image-block .single-block {
  width: 50%;
}

.two-image-block .single-block:not(:first-child) {
  margin-top: 3em;
}

.two-image-block .single-block:not(:first-child) {
  margin-top: 0;
}

/*# sourceMappingURL=dboy.css.map */