{% set errorPage = "Page Not Found" %}
{% set title = "Page Not Found" %}
{% extends "_layout" %}

{% block content %}

<div id="error-content">
	<div class="wrapper">
		<h1>We Are Sorry</h1>
		<p>We could not find the page you were looking for. This may because of a mistyped URL, faulty referral or out-of-date search engine listing.</p>
		<ul>
			<li><a href="/work">See a sampling of the work we do</a></li>
			<li><a href="/team">Meet our team</a></li>
			<li><a href="#contact-footer">Contact Us</a></li>
		</ul>
	</div>
	<svg id="mask-6" width="2086px" height="241px">
		<polygon points="0,0 1043,240 2086,0 2086,241 0,241" fill="#7e0163">
	</svg>
	<svg id="mask-7" width="2086px" height="243px">
	  <polygon points="0,0 2086,0 2086,0 1043,243 0,0" fill="#fff">
	</svg>
</div>
{% endblock %}