<header role="banner">
	<div class="wrapper">
		<h1 class="logo"><a href="/"><strong>dboy</strong> Creative</a></h1>
		<a href="#nav-main" id="nav-button">Menu<span></span><span></span><span></span></a>
		<nav id="nav-main" role="navigation">
			<ol>
				<li class="nav-work"><a href="/work">Work</a></li>
				<li class="nav-team"><a href="/team">Team</a></li>
				<li class="nav-contact"><a href="/contact">Contact</a></li>
				<li class="nav-reel"><a href="/reel" id="watch-reel-nav" class="video-open"{% if demoReel.vimeoEmbedCode|length %} data-vimeo="{{ demoReel.vimeoEmbedCode }}"{% endif %} data-video="{{ demoReel.videoEmbedId}}"><span>Watch Our </span>Reel</a></li>
			</ol>
		</nav>
		<a href="/reel" id="watch-our-reel" class="video-open"{% if demoReel.vimeoEmbedCode|length %} data-vimeo="{{ demoReel.vimeoEmbedCode }}"{% endif %} data-video="{{ demoReel.videoEmbedId}}">Watch Our Reel<span></span><span></span></a>
	</div>
</header>
