<header id="top" role="banner">
	<div class="wrapper">
		<h1 class="logo"><a href="/" target="_blank"><strong>dboy</strong> Creative</a></h1>
		<a href="#nav-secondary" id="nav-button-recruitment">Menu<span></span><span></span><span></span></a>
		<div id="nav-contact"><a href="/contact" target="_blank">Contact</a></div>
		</nav>
	</div>
	<div id="nav-secondary" role="navigation">
		<ol>
			{% for block in entry.anchorLinks %}
			<li class="{{ block.linkText|replace(' ','-')|replace('&','and')|lower }}">{% if block.linkDestination|length %}<a href="{{ block.linkDestination }}">{% else %}<span>{% endif %}{{ block.linkText }}{% if block.linkDestination|length %}</a>{% else %}</span>{% endif %}</li>
			{% endfor %}
		</ol>
	</div>
</header>
