<footer role="contentinfo" class="section" id="contact-footer">
	<div class="wrapper">
		<div id="connect">
			<span class="location">Wilmington, NC</span>
			<a class="phone" href="tel:+18552299950">(855) 229-9950</a>
			<ol class="social-icons">
				<li class="linked-in icon"><a href="{{ socialLinks.linkedin }}" target="_blank">LinkedIn</a></li>
				<li class="twitter icon"><a href="{{ socialLinks.twitter }}" target="_blank">Twitter</a></li>
				<li class="facebook icon"><a href="{{ socialLinks.facebook }}" target="_blank">Facebook</a></li>
				<li class="instagram icon"><a href="{{ socialLinks.instagram }}" target="_blank">Instagram</a></li>
				<li class="vimeo icon"><a href="{{ socialLinks.vimeo }}" target="_blank">Instagram</a></li>
			</ol>
		</div>
		<div class="footer-logo"></div>
		<p class="copyright">dboy &copy; {{ now.year }}. All Rights Reserved</p>
	</div>
</footer>
<a href="#" class="back-to-top"></a>
