<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="p:domain_verify" content="29a847f7cda347b2698c1ac9676f3911"/>
	<link rel="apple-touch-icon" sizes="57x57" href="/_img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/_img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/_img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/_img/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/_img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/_img/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/_img/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/_img/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/_img/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/_img/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/_img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/_img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/_img/favicon-16x16.png">
	<link rel="manifest" href="/_img/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/_img/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	{% if entry is defined %}
	{% if entry.section.handle == 'dboy-homepage' %}
	<title>{{ siteName }}</title>
	{% elseif errorPage is defined %}
	<title>Page Not Found | {{ siteName }}</title>
	{% elseif entry.section.handle == 'recruitment' %}
	<title>dboy Creative | Employment Brand Experts</title>
	{% else %}
	<title>{{ entry.title }} | dboy Creative</title>
	{% endif %}
	{% endif %}
	<link rel="home" href="{{ siteUrl }}" />
	{% if entry is defined %}
		{% if entry.section.handle == 'dboy-homepage' %}
		<meta property="og:title" content="{{ entry.title }}" />
		{% else %}
		<meta property="og:title" content="{{ entry.title }} | {{ siteName }}" />
		{% endif %}
	{% endif %}
        <meta property="og:type" content="website" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="{{ siteName }}" />
        <meta property="og:image" content="//www.dboy.com/_img/dboy-social.jpg" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:description" content="dboy is a creative agency providing award-winning design, web development, photography and film production. We craft meaningful media to deliver your story, change minds and inspire behavior." />
	<script type="text/javascript" src="//fast.fonts.net/jsapi/43998cb5-964b-43aa-aea0-b02c174dd3de.js"></script>
	<script>
    	// Picture element HTML5 shiv
		document.createElement( "picture" );
  	</script>
  	<script src="/_js/picturefill.min.js" async></script>
  	<script src="/_js/pf.intrinsic.min.js" async></script>
	<!--[if lte IE 8]>
			<link rel="stylesheet" href="/_css/dboy-legacy.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
			<link rel="stylesheet" href="/_css/dboy.css">
		<!--<![endif]-->
		<!--[if IE 9]>
			<link rel="stylesheet" href="/_css/ie9.css">
		<!--<![endif]-->
		<!--[if lt IE 9]>
			<script src="/_js/html5shiv.js"></script>
		<![endif]-->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-32015627-1', 'auto');
			ga('send', 'pageview');
		</script>
</head>
