<section id="request-a-quote" class="process-forms">
	{% macro errorList(errors) %}
		{% if errors %}
			{% for error in errors %}
			<small>{{ error }}</small>
			{% endfor %}
		{% endif %}
	{% endmacro %}
	{% from _self import errorList %}
	<h3 class="section-heading"><span>Request a Quote</span></h3>
	<form class="video-form" method="post" action="" accept-charset="UTF-8">
	{{ getCsrfInput() }}
		<input type="hidden" name="action" value="amForms/submissions/saveSubmission">
		<input type="hidden" name="handle" value="requestAQuote">
		<input type="hidden" name="redirect" value="video-process?message=thankyou">
		{{ craft.amForms.displayAntispam() }}
	    {# Place the HTML of your fields here #}
		<ol>
			<li class="text-input">
				<label for="frm_yourName" aria-hidden="false">Your Name</label>
				<input type="text" id="frm_yourName" name="fields[yourName]" placeholder="Your Name" value="{% if requestAQuote.yourName is defined %}{{ requestAQuote.yourName }}{% endif %}">
			</li>
			<li class="text-input">
				<label for="frm_emailAddress" aria-hidden="false">Email Address</label>
				<input type="email" id="frm_emailAddress" name="fields[emailAddress]" placeholder="Email Address" value="{% if requestAQuote.emailAddress is defined %}{{ requestAQuote.emailAddress }}{% endif %}">
			</li>
			<li class="email-input">
				<label for="frm_message" aria-hidden="false">Message</label>
				<input type="text" id="frm_message" name="fields[message]" placeholder="Message" value="{% if requestAQuote.message is defined %}{{ requestAQuote.message }}{% endif %}">
			</li>
			<li class="submit"><input class="btn" type="submit" value="Request A Quote"></li>
		</ol>
	</form>
	<div class="success">{{ quoteSuccessMessage.body }}</div>
</section>