<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
<script src="/_js/jquery.fullPage.min.js"></script>
<script src="/_js/slick.min.js"></script>
<script src="/_js/main.js"></script>
<!--[if lte IE 9]>
	<script src="/_js/placeholders.js"></script>
<![endif]-->
