{% set current = craft.request.getUrl() %}
{% set caseStudy = 'case-study' %}
{% extends "_layout" %}
{% block content %}
<section id="project-overview" data-background="{% for image in entry.introductionBackground1x %}{{ image.getURL() }}{% endfor %}" data-background-retina="{% for image in entry.introductionBackground2x %}{{ image.getURL() }}{% endfor %}">
	<div class="wrapper">
		<h1>Case Study</h1>
		<h2>{% if entry.type =="caseStudyWebsite" %}Website Design
			{% elseif entry.type =="caseStudyVideos" %}Video Production
			{% elseif entry.type =="caseStudyBrandCampaign" %}Branding &amp; Content<br/>Campaign		
			{% endif %}
		</h2>
		<div class="brand-logo">
			<img srcset="{% for image in entry.brandLogoColor %}{{ image.getURL() }}{% endfor %} 1x, {% for image in entry.brandLogoColorRetina %}{{ image.getURL() }}{% endfor %} 2x" alt="" />
		</div>
		{% set pages = craft.entries.section('caseStudies').order('orderOnWorkPage asc') %}
		<div id="case-study-nav">
			<ul>
			{% for page in pages %}
			{% set link = page.getUrl() %}
			{% set pageTitle = page.title %}
			{% if current == link %}
				<li class="current"><span>{{ page.title }}</span></li>
			{% else %}
				<li>{{ page.getLink() }}</li>
			{% endif %}
			{% endfor %}
			</ul>
		</div>
		<div class="content">
			{{ entry.caseStudyIntroduction}}
		</div>
		{% if entry.type == "caseStudyWebsite" %}
		<p class="link"><a href="{{ entry.caseStudySiteUrl }}" target="_blank" class="btn btn-primary">Visit The Site</a></p>
		{% endif %}
	</div>
</section>
{# -- PAGE HEADER -- #}

{# -- Video Case Study Content -- #}

{% if entry.type =="caseStudyVideos" %}
<header id="project-hero-header">
</header>
{% set videos = entry.largeVideoSelector %}
{% if videos | length %}
<section id="project-hero" class="new-selector" data-background="{% for image in entry.heroSectionBackground %}{{ image.getURL() }}{% endfor %}">
	<div class="wrapper">
		{% for video in videos %}
		<div class="video-container">
			<div class="hero-video video-open"{% if video.vimeoEmbedCode|length %} data-vimeo="{{ video.vimeoEmbedCode }}"{% endif %} data-video="{{ video.videoEmbedId }}">
				<picture>
					<img srcset="{% for image in video.largeVideoImage1x %}{{ image.getURL() }}{% endfor %} 1x, {% for image in video.largeVideoImage2x %}{{ image.getURL() }}{% endfor %} 2x" alt="{{ video.videoTitle }}" />
				</picture>
				
				<div class="video-play"></div>
			</div>
			<footer class="video-meta"> 
				<h4>{{ video.videoTitle }}</h4>
				<div class="video-time">{{ video.videoTime }}</div>
			</footer>
		</div>
		{% endfor %}
	</div>
</section>
{% endif %}

{# -- Website Case Study Content -- #}

{% elseif entry.type =="caseStudyWebsite" %}
<section id="project-hero" {% if entry.heroSectionBackground|length %}data-background="{% for image in entry.heroSectionBackground %}{{ image.getURL() }}{% endfor %}{% endif %}">
	{% for block in entry.caseStudyHeroScreenshot %}
	<picture>
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="{% for image in block.desktopImage %}{{ image.getURL() }}{% endfor %}, {% for image in block.desktopImage2x %}{{ image.getURL() }}{% endfor %} 2x" media="(min-width: 37.5em)">
		<!--[if IE 9]></video><![endif]-->
		<img srcset="{% for image in block.image %}{{ image.getURL() }}{% endfor %}, {% for image in block.image2x %}{{ image.getURL() }}{% endfor %} 2x" alt="">
	</picture>
	{% endfor %}
</section>

{# -- Branding Campaign Case Study Content -- Ariens #}
{% elseif entry.type =="caseStudyBrandCampaign" %}
	{% for block in entry.brandingContentBlocks %}
		{% if block.type == "brandingHeroBlock" %}
			<header id="project-hero-header">
				<div class="wrapper">
					<h1>{{ block.heroHeading }}</h1>
				</div>
			</header>
			<section id="project-hero" data-background="{% for image in block.heroBackground %}{{ image.getURL() }}{% endfor %}">
				<picture>
				<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source srcset="{% for image in block.heroImage %}{{ image.getURL() }}{% endfor %}, {% for image in block.heroRetinaImage %}{{ image.getURL() }}{% endfor %} 2x" media="(min-width: 37.5em)">
				<!--[if IE 9]></video><![endif]-->
					<img srcset="{% for image in block.heroImageMobile %}{{ image.getURL() }}{% endfor %}, {% for image in block.heroRetinaImageMobile %}{{ image.getURL() }}{% endfor %} 2x" alt="">
				</picture>
			</section>
		{% elseif block.type == "singleImageWithHeading" %}
		<section class="flexible-content single-image-block">
			<h1>{{ block.singleHeading }}</h1>
			<picture>
			<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="{% for image in block.singleImage %}{{ image.getURL() }}{% endfor %}, {% for image in block.singleRetinaImage %}{{ image.getURL() }}{% endfor %} 2x" media="(min-width: 37.5em)">
			<!--[if IE 9]></video><![endif]-->
				<img srcset="{% for image in block.singleMobileImage %}{{ image.getURL() }}{% endfor %}, {% for image in block.singleMobileRetinaImage %}{{ image.getURL() }}{% endfor %} 2x" alt="">
			</picture>
		{% elseif block.type == "fourImageWithLinks" %}
		<section class="flexible-content four-image-block">
			<h1>{{ block.fourImageHeading }}</h1>
			<div class="wrapper">
				<div class="single-block">
					<picture>
						<img srcset="{% for image in block.fourBlockFirstImage %}{{ image.getURL() }}{% endfor %}, {% for image in block.fourBlockFirstRetinaImage %}{{ image.getURL() }}{% endfor %} 2x" alt="">
					</picture>	
					<a class="btn btn-primary" href="{{ block.fourBlockFirstLink }}">Read Article</a>
				</div>
				<div class="single-block">
					<picture>
						<img srcset="{% for image in block.fourBlockSecondImage %}{{ image.getURL() }}{% endfor %}, {% for image in block.fourBlockSecondRetinaImage %}{{ image.getURL() }}{% endfor %} 2x" alt="">
					</picture>	
					<a class="btn btn-primary" href="{{ block.fourBlockSecondLink }}">Read Article</a>
				</div>
				<div class="single-block">
					<picture>
						<img srcset="{% for image in block.fourBlockThirdImage %}{{ image.getURL() }}{% endfor %}, {% for image in block.fourBlockThirdRetinaImage %}{{ image.getURL() }}{% endfor %} 2x" alt="">
					</picture>	
					<a class="btn btn-primary" href="{{ block.fourBlockThirdLink }}">Read Article</a>
				</div>
				<div class="single-block">
					<picture>
						<img srcset="{% for image in block.fourBlockFourthImage %}{{ image.getURL() }}{% endfor %}, {% for image in block.fourBlockFourthRetinaImage %}{{ image.getURL() }}{% endfor %} 2x" alt="">
					</picture>	
					<a class="btn btn-primary" href="{{ block.fourBlockFourthLink }}">Read Article</a>
				</div>
			</div>
		</section>
		{% elseif block.type == "twoImageWithHeading" %}
		<section class="flexible-content two-image-block">
			<h1>{{ block.twoBlockHeading }}</h1>
			<div class="wrapper">
				<div class="single-block">
					<picture>
						<img srcset="{% for image in block.twoBlockFirstImage %}{{ image.getURL() }}{% endfor %}, {% for image in block.twoBlockFirstRetinaImage %}{{ image.getURL() }}{% endfor %} 2x" alt="">
					</picture>	
				</div>
				<div class="single-block">
					<picture>
						<img srcset="{% for image in block.twoBlockSecondImage %}{{ image.getURL() }}{% endfor %}, {% for image in block.twoBlockSecondRetinaImage %}{{ image.getURL() }}{% endfor %} 2x" alt="">
					</picture>	
				</div>
			</div>
		</section>
		{% endif %}
	{% endfor %}
{% else %}

{% endif %}
{# -- END PAGE HEADER -- #}

{# -- PROJECT FEATURES -- #}

<section id="project-features">
	<div class="wrapper">
	
	{# -- Website Case Study Content -- #}
	
	{% if entry.type =="caseStudyWebsite" %}
		{% if entry.responsiveViews|length %}
		{% for block in entry.responsiveViews %}
			<div id="responsive-views">
				<picture class="responsive-views">
				<img srcset="{% for image in block.desktopSiteScreenshot %}{{ image.getURL() }}{% endfor %}, {% for image in block.desktopSiteScreenshot2x %}{{ image.getURL() }}{% endfor %} 2x" alt="Screenshot of {{ entry.title }} Mobile and Tablet">
			</picture>
			</div>
		{% endfor %}
		{% endif %}
		
	{# -- Video Case Study Content -- #}
	
	{% elseif entry.type =="caseStudyVideos" %}
		{% if entry.textBlock|length %}
		<div class="content-block">{{ entry.textBlock }}</div>
		{% endif %}
		{% set vignettes = entry.videoSelector %}
		{% if vignettes | length %}
		<div class="video-block">
			<h3>Video Vignettes</h3>
			{% for vignette in vignettes %}
			<div class="video-container video-{{ loop.index }}">
				<div class="video-entry video-open"{% if vignette.vimeoEmbedCode|length %} data-vimeo="{{ vignette.vimeoEmbedCode }}"{% endif %} data-video="{{ vignette.videoEmbedId }}">
				<picture>
					<img srcset="{% for image in vignette.videoImage1x %}{{ image.getURL() }}{% endfor %} 1x, {% for image in vignette.videoImage2x %} {{ image.getURL() }}{% endfor %} 2x" alt="{{ vignette.videoTitle }}" />
				</picture>
				<div class="video-play"></div>
				</div>
				<h4>{{ vignette.videoTitle }}</h4>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		
	{# -- Brand Campaign Case Study Content -- #}
		
	{% elseif entry.type =="caseStudyBrandCampaign" %}
		
	{% endif %}
	</div>
{# -- END OF PROJECT FEATURES -- #}	
	<div class="case-study-cta">
		{% if entry.type =="caseStudyVideos" %}
		<a href="/video-production" class="btn btn-primary">See More Videos</a>
		{% endif %}
		<a href="/request-quote/" data-target="#request-a-quote" class="btn btn-primary">Request a Quote</a>
	</div>
	{% include "includes/_request-quote.html" %}
<!-- Don't Delete -->
	<svg id="mask-6" width="2086px" height="241px">
			<polygon points="0,0 1043,240 2086,0 2086,241 0,241" fill="#7e0163">
		</svg>
	<svg id="mask-7" width="2086px" height="243px">
	  <polygon points="0,0 2086,0 2086,0 1043,243 0,0" fill="#fff">
	</svg>
</section>

{% endblock %}
