{% set title = "Ariens Company | Case Study" %}
{% set caseStudy = "ariens" %}
{% extends "_layout" %}

{% block content %}
<section id="project-overview">
	<div class="wrapper">
		<h1>Case Study:</h1>
		<h2>Ariens Company<br />Employment Brand Campaign</h2>
		<div id="case-study-nav-mobile" class="mobile">
			<ul>
				<li><a href="/work/key-bank">Previous</a></li>
				<li><a href="/work/silverleaf">Next</a></li>
			</ul>
		</div>
		<div id="case-study-nav" class="desktop">
			<ul>
				<li><a href="/work/axsium">Axsium</a></li>
				<li><a href="/work/key-bank">KeyBank</a></li>
				<li><span>Ariens Company</span></li>
				<li><a href="/work/silverleaf">Silverleaf</a></li>
			</ul>
		</div>
		<div class="content">
			<p>We are asked to develop an employment brand and website with custom video and photography. The entire process from research to launch date was 6 months.</p>
			<p>An Employment Brand includes collecting data and insight from the client, defining the brand messaging, developing a design identity and media strategy. Our goal was to highlight that Ariens is an innovative company where people will find challenging projects in a positive, values-driven culture. This comes through design and copy that work together to inspire the target audience to act on their potential. The photography implies that individual work plays a role in helping to further build on the foundations created by Ariens. Candid style images capture the overall vibe of Arien&rsquo;s culture adding a sense of movement to each page, and integration of a unique custom API enhances the job seeker experience in an effort to communicate and exchange data.</p>
		</div>
		<p class="link"><a href="http://careers.ariensco.com" target="_blank" class="btn btn-primary">Visit The Site</a></p>
	</div>
</section>
<section id="project-hero">
	<picture>
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="/_img/case-studies/ariens-hero-larger.jpg, /_img/case-studies/ariens-hero-larger-2x.jpg 2x" media="(min-width: 768px)">
		<!--[if IE 9]></video><![endif]-->
		<img srcset="/_img/case-studies/ariens-hero-mobile.jpg, /_img/case-studies/ariens-hero-mobile-2x.jpg 2x" alt="Screenshot of Ariens Homepage">
	</picture>
</section>
<section id="project-features">
	<div class="wrapper">
	<picture class="responsive-views">
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="/_img/case-studies/ariens-group-larger.jpg, /_img/case-studies/ariens-group-larger-2x.jpg 2x" media="(min-width: 768px)">
		<!--[if IE 9]></video><![endif]-->
		<img srcset="/_img/case-studies/ariens-group-mobile.jpg, /_img/case-studies/ariens-group-mobile-2x.jpg 2x" alt="Screenshot of Ariens Website Desktop, Tablet and Mobile">
	</picture>
	<p class="link"><a href="http://careers.ariensco.com" target="_blank" class="btn btn-primary">Visit The Site</a></p>
	<div class="content-block">
		<p>For the videos, we produced a company overview and a Brillion, Wisconsin overview. The first video gives a broad brush stroke of what a career at Arien's Company can look like. We walk through what Ariens does as a company, how lean manufacturing is a critical aspect of operations at Ariens, and how the integration of the different departments allows employees to bring their ideas to the table and creating a close-knit culture throughout the company. Highlights for the second video include the region surrounding Brillion as a great place to live and raise a family. The biggest challenge was that we had to film Wisconsin in the middle of winter because of the site launch date. Our approach was to show how outdoors activities, entertainment and sporting events enrich the lives of Ariens team members, even in Wisconsin's cold winter months.</p>
	</div>
	<div class="longvids">
	<h1>Videos</h1>
	<picture id="ariens-1" class="video-open" data-video="xsem0pt8my">
		<img srcset="/_img/case-studies/ariens-video-1.jpg 1x, /_img/case-studies/ariens-video-1-2x.jpg 2x" alt="Our Legacy, Your Future" />
		<h4>Our Legacy, Your Future</h4>
		<div class="video-play"></div>
	</picture>
	<picture id="ariens-2" class="video-open" data-video="pzhbvrdg65">
		<img srcset="/_img/case-studies/ariens-video-2.jpg 1x, /_img/case-studies/ariens-video-2-2x.jpg 2x" alt="Wisconsin - A Great Place to Live and Work" />
		<h4>Wisconsin - A Great Place to Live and Work</h4>
		<div class="video-play"></div>
	</picture>
	</div>
	<div class="photo-block">
		<h3>Photos</h3>
		<picture id="key-bank-5" class="photo-1">
			<img srcset="/_img/case-studies/ariens-photo-1.jpg 1x, /_img/case-studies/ariens-photo-1-2x.jpg 2x" alt="" />
		</picture>
		<picture id="key-bank-6" class="photo-2">
			<img srcset="/_img/case-studies/ariens-photo-2.jpg 1x, /_img/case-studies/ariens-photo-2-2x.jpg 2x" alt="" />
		</picture>
		<picture id="key-bank-7" class="photo-3">
			<img srcset="/_img/case-studies/ariens-photo-3.jpg 1x, /_img/case-studies/ariens-photo-3-2x.jpg 2x" alt="" />
		</picture>
		<picture id="key-bank-8"  class="photo-4">
			<img srcset="/_img/case-studies/ariens-photo-4.jpg 1x, /_img/case-studies/ariens-photo-4-2x.jpg 2x" alt="" />
		</picture>
		<picture id="key-bank-5" class="photo-5">
			<img srcset="/_img/case-studies/ariens-photo-5.jpg 1x, /_img/case-studies/ariens-photo-5-2x.jpg 2x" alt="" />
		</picture>
		<picture id="key-bank-6" class="photo-6">
			<img srcset="/_img/case-studies/ariens-photo-6.jpg 1x, /_img/case-studies/ariens-photo-6-2x.jpg 2x" alt="" />
		</picture>
	</div>
</div>
<svg id="mask-6" width="2086px" height="241px">
		<polygon points="0,0 1043,240 2086,0 2086,241 0,241" fill="#7e0163">
	</svg>
<svg id="mask-7" width="2086px" height="243px">
  <polygon points="0,0 2086,0 2086,0 1043,243 0,0" fill="#fff">
</svg>
</section>
{% endblock %}
