{% set title = "Axsium Website | Case Study" %}
{% set caseStudy = "axsium" %}
{% extends "_layout" %}

{% block content %}
<section id="project-overview">
	<div class="wrapper">
		<h1>Case Study:</h1>
		<h2>Axsium Website</h2>
		<div id="case-study-nav-mobile" class="mobile">
			<ul>
				<li><span>Previous</span></li>
				<li><a href="/work/key-bank">Next</a></li>
			</ul>
		</div>
		<div id="case-study-nav" class="desktop">
			<ul>
				<li><span>Axsium</span></li>
				<li><a href="/work/key-bank">KeyBank</a></li>
				<li><a href="/work/ariens">Ariens Company</a></li>
				<li><a href="/work/silverleaf">Silverleaf</a></li>
			</ul>
		</div>
		<div class="content">
			<p>Our strategy for site re-design is to understand the client&#8217;s focus, goals, audience, and aspirations to determine what messaging and pages are essential. We discovered that Axsium focuses on the improvement of productivity within people-related goals, and we represented this principle in a more streamlined manner along with images and graphics to tell Axsium&#8217;s story&nbsp;visually.</p>
			<p>We worked with the typeface and general color pallet from the current brand, pushing them further to achieve a much bolder, modern and more professional look. The end result is a corporate website that the client said, &ldquo;represents the efforts that we have collectively made to build a strong brand. Everyone that has seen it, is truly in&nbsp;awe.&rdquo;</p>
		</div>
		<p class="link"><a href="http://www.axsiumgroup.com" target="_blank" class="btn btn-primary">Visit The Site</a></p>
	</div>
</section>
<section id="project-hero">
	<picture>
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="/_img/case-studies/axsium-hero-larger.jpg, /_img/case-studies/axsium-hero-larger-2x.jpg 2x" media="(min-width: 48em)">
		<!--[if IE 9]></video><![endif]-->
		<img srcset="/_img/case-studies/axsium-hero-mobile.jpg, /_img/case-studies/axsium-hero-mobile-2x.jpg 2x" alt="Screenshot of Axsium Homepage">
	</picture>
</section>
<section id="project-features">
	<div class="wrapper">
		<ul class="feature-points">
			<li>
				<article>
					<h3>Navigation</h3>
					<p>A hidden menu feature was utilized to allow the viewer to choose their own journey through the site.</p>
				</article>
			</li>
			<li>
				<article>
					<h3>Self-Filtered Content Path</h3>
					<p>Internal links and sub-menus that casually lead the viewer through information without being overwhelming by content not relevant to what they are looking for.</p>
				</article>
			</li>
			<li>
				<article>
					<h3>Other Feature</h3>
					<p>Unique search feature alongside custom icons, charts, and graphics.</p>
				</article>
			</li>
		</ul>
	</div>
	<picture class="responsive-views">
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="/_img/case-studies/axsium-group-larger.jpg, /_img/case-studies/axsium-group-larger-2x.jpg 2x" media="(min-width: 768px)">
		<!--[if IE 9]></video><![endif]-->
		<img srcset="/_img/case-studies/axsium-group-mobile.jpg, /_img/case-studies/axsium-group-mobile-2x.jpg 2x" alt="Screenshot of Axsium Website Desktop, Tablet and Mobile">
	</picture>
	<p class="link"><a href="http://www.axsiumgroup.com" target="_blank" class="btn btn-primary">Visit The Site</a></p>
	<svg id="mask-6" width="2086px" height="241px">
			<polygon points="0,0 1043,240 2086,0 2086,241 0,241" fill="#7e0163">
		</svg>
	<svg id="mask-7" width="2086px" height="243px">
	  <polygon points="0,0 2086,0 2086,0 1043,243 0,0" fill="#fff">
	</svg>
</section>
{% endblock %}
