{% set title = "KeyBank Videos | Case Study" %}
{% set caseStudy = "key-bank" %}
{% extends "_layout" %}

{% block content %}
<section id="project-overview">
	<div class="wrapper">
		<h1>Case Study:</h1>
		<h2>KeyBank Videos</h2>
		<div id="case-study-nav-mobile" class="mobile">
			<ul>
				<li><a href="/work/axsium">Previous</a></li>
				<li><a href="/work/ariens">Next</a></li>
			</ul>
		</div>
		<div id="case-study-nav" class="desktop">
			<ul>
				<li><a href="/work/axsium">Axsium</a></li>
				<li><span>KeyBank</span></li>
				<li><a href="/work/ariens">Ariens Company</a></li>
				<li><a href="/work/silverleaf">Silverleaf</a></li>
			</ul>
		</div>
		<div class="content">
			<p>dboy first partnered with KeyBank to produce a video for the Campus Program to reach students and graduates who may not have considered a career in finance. The following year, KeyBank returned to dboy in hopes of finding a unique perspective for three additional recruitment videos – Technology &amp; Operations, Company Culture, and Diversity &amp; Inclusion. We collaborated with the client to develop creative concepts and then present them to key stakeholders and executives in Cleveland, OH.</p>
			<p>The concepts varied from using motion graphics for Technology &amp; Operations, to a visual metaphor for Company Culture and stories coupled with personal items that represented how each employee brings their entire self to work in the Diversity &amp; Inclusion video.</p>
		</div>

	</div>
</section>
<section id="project-hero">
	<div class="wrapper">
		<h1>Videos</h1>
		<img src="/_img/case-studies/key-bank-logo.jpg" alt="KeyBank" width="167" height="30" class="kb-logo" />
		<picture id="key-bank-1" class="video-open" data-video="gj4ftjpnu0">
			<img srcset="/_img/case-studies/key-bank-video-1.jpg 1x, /_img/case-studies/key-bank-video-1-2x.jpg 2x" alt="Why KeyBank? Video" class="video-open" data-video="gj4ftjpnu0" />
			<h4>Why KeyBank?</h4>
			<div class="video-play"></div>
		</picture>
		<picture id="key-bank-2" class="video-open" data-video="4uhgi2ht1a">
			<img srcset="/_img/case-studies/key-bank-video-2.jpg 1x, /_img/case-studies/key-bank-video-2-2x.jpg 2x" alt="Diversity & Inclusion Video" />
			<h4>Diversity &amp; Inclusion</h4>
			<div class="video-play"></div>
		</picture>
		<picture id="key-bank-3" class="video-open" data-video="rsba8orvmb">
			<img srcset="/_img/case-studies/key-bank-video-3.jpg 1x, /_img/case-studies/key-bank-video-3-2x.jpg 2x" alt="Technology & Operations Video" />
			<h4>Technology &amp; Operations</h4>
			<div class="video-play"></div>
		</picture>
		<picture id="key-bank-4" class="video-open" data-video="uvy5n23c8w">
			<img srcset="/_img/case-studies/key-bank-video-4.jpg 1x, /_img/case-studies/key-bank-video-4-2x.jpg 2x" alt="KeyBank Campus Video" />
			<h4>KeyBank Campus</h4>
			<div class="video-play"></div>
		</picture>
	</div>
</section>
<section id="project-features">
	<div class="content-block">
		<p>In addition to the videos KeyBank was looking for a forward-thinking way to highlight this content on their social channels with the goal of driving traffic to their career site.  We worked alongside CareerBuilder to propose using short vignettes as a teaser for each video hosted on the career site. Today KeyBank is using these on it's social channels as well as in the email signatures of recruiters.</p>
	</div>
	<div class="video-block">
		<h3>Video Vignettes</h3>
		<picture id="key-bank-5" class="video-1 video-open" data-video="efsm0j4vys">
			<img srcset="/_img/case-studies/key-bank-video-5.jpg 1x, /_img/case-studies/key-bank-video-5-2x.jpg 2x" alt="Fazir Ali Profile Video" class="video-open" data-video="efsm0j4vys" />
			<h4>Fazir Ali Profile</h4>
			<div class="video-play"></div>
		</picture>
		<picture id="key-bank-6" class="video-2 video-open" data-video="atr6tftpzq">
			<img srcset="/_img/case-studies/key-bank-video-6.jpg 1x, /_img/case-studies/key-bank-video-6-2x.jpg 2x" alt="D&I Bruce Profile Video" />
			<h4>D&amp;I Bruce Profile</h4>
			<div class="video-play"></div>
		</picture>
		<picture id="key-bank-7" class="video-3 video-open" data-video="3dy1x5fnw7">
			<img srcset="/_img/case-studies/key-bank-video-7.jpg 1x, /_img/case-studies/key-bank-video-7-2x.jpg 2x" alt="More Than Bankers Video" />
			<h4>More Than Bankers</h4>
			<div class="video-play"></div>
		</picture>
		<picture id="key-bank-8"  class="video-4 video-open" data-video="uaibufrxhj">
			<img srcset="/_img/case-studies/key-bank-video-8.jpg 1x, /_img/case-studies/key-bank-video-8-2x.jpg 2x" alt="D&I Creative Teaser Video" />
			<h4>D&amp;I Creative Teaser Profile</h4>
			<div class="video-play"></div>
		</picture>
	</div>
	<svg id="mask-6" width="2086px" height="241px">
			<polygon points="0,0 1043,240 2086,0 2086,241 0,241" fill="#7e0163">
		</svg>
	<svg id="mask-7" width="2086px" height="243px">
	  <polygon points="0,0 2086,0 2086,0 1043,243 0,0" fill="#fff">
	</svg>
</section>
{% endblock %}
