{% set title = "SilverLeaf Resort Website | Case Study" %}
{% set caseStudy = "silverleaf" %}
{% extends "_layout" %}

{% block content %}
<section id="project-overview">
	<div class="wrapper">
		<h1>Case Study:</h1>
		<h2>Silverleaf Resorts <br/>Career Website</h2>
		<div id="case-study-nav-mobile" class="mobile">
			<ul>
				<li><a href="/work/ariens">Previous</a></li>
				<li><span>Next</span></li>
			</ul>
		</div>
		<div id="case-study-nav" class="desktop">
			<ul>
				<li><a href="/work/axsium">Axsium</a></li>
				<li><a href="/work/key-bank">KeyBank</a></li>
				<li><a href="/work/ariens">Ariens Company</a></li>
				<li><span>Silverleaf</span></li>
			</ul>
		</div>
		<div class="content">
			<p>Sometimes we are given minimal content or direction for a project and a short amount of time to complete it. Through collaboration with the client and some creativity we are able capture the essence of a company, as is the case for Silverleaf Resorts. Our goal for the site design was to showcase a variety of people, jobs and places which touches on key elements of the brand.</p>
			<p>The creative direction was to make each page feel inviting and fun. Using photography of various destinations coupled with simple and clean design creates a user experience that increases the time-on-site of visitors.  Additionally, the development process uses a Craft CMS backbone and incorporates unique custom API integration to create interactive elements like Featured Jobs to improve the number of visits for job&nbsp;postings.</p>
			<p>Silverleaf is the perfect example that less is&nbsp;more!</p>
		</div>
		<p class="link"><a href="http://careers.silverleafresorts.com" target="_blank" class="btn btn-primary">Visit The Site</a></p>
	</div>
</section>
<section id="project-hero">
	<picture>
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="/_img/case-studies/silverleaf-hero-larger.jpg, /_img/case-studies/silverleaf-hero-larger-2x.jpg 2x" media="(min-width: 768px)">
		<!--[if IE 9]></video><![endif]-->
		<img srcset="/_img/case-studies/silverleaf-hero-mobile.jpg, /_img/case-studies/silverleaf-hero-mobile-2x.jpg 2x" alt="Screenshot of Silverleaf Homepage">
	</picture>
</section>
<section id="project-features">
	<div class="wrapper">
		<ul class="feature-points">
			<li>
				<article>
					<h3>Craft CMS</h3>
					<p>The development process uses Craft CMS so that we can respond to issues in real time and fixing the back-end to accommodate content needs without breaking the site.</p>
				</article>
			</li>
			<li>
				<article>
					<h3>API Integration</h3>
					<p>We incorporated unique custom API integration used by third party programs to communicate and exchange data.</p>
				</article>
			</li>
			<li>
				<article>
					<h3>Interactivity</h3>
					<p>We created interactive elements like Featured Jobs to improve the number of visits for job postings.</p>
				</article>
			</li>
		</ul>
	</div>
	<picture class="responsive-views">
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="/_img/case-studies/silverleaf-group-larger.jpg, /_img/case-studies/silverleaf-group-larger-2x.jpg 2x" media="(min-width: 768px)">
		<!--[if IE 9]></video><![endif]-->
		<img srcset="/_img/case-studies/silverleaf-group-mobile.jpg, /_img/case-studies/silverleaf-group-mobile-2x.jpg 2x" alt="Screenshot of Silverleaf Website Desktop, Tablet and Mobile">
	</picture>
	<p class="link"><a href="http://careers.silverleafresorts.com" target="_blank" class="btn btn-primary">Visit The Site</a></p>
	<svg id="mask-6" width="2086px" height="241px">
			<polygon points="0,0 1043,240 2086,0 2086,241 0,241" fill="#7e0163">
		</svg>
	<svg id="mask-7" width="2086px" height="243px">
	  <polygon points="0,0 2086,0 2086,0 1043,243 0,0" fill="#fff">
	</svg>
</section>
{% endblock %}
