@import "normalize";

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Viewport
// ========================================================================== */

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/* Breakpoints
// ========================================================================== */
$break-0:0;
$break-1:20em; /* 320px */
$break-2:30em; /* 480px */
$break-mobile-max:37.4375em; /* 599px */
$break-3:37.5em; /* 600px */
$break-small-tablet-max: 47.9375em; /* 767px */
$break-4:48em; /* 768px */
$break-tablet-max: 60.1875em; /* 963cpx */
$break-5:60.25em; /* 964px */


/* Typography
// ========================================================================== */
/* font-family:'Quadon W00 Light';
font-family:'HelveticaNeueW01-45Ligh';
font-family:'HelveticaNeueW01-65Medi';
*/

$browser-default-font-size:16px;
$layout-size:16px;
$font-stack-quadon: 'Quadon W00 Light',serif;
$font-stack-quadon-regular: 'Quadon W00 Regular',serif;
$font-stack-default:'HelveticaNeueW01-45Ligh','Helvetica Neue', sans-serif;
$font-stack-medium:'HelveticaNeueW01-65Medi','Helvetica Neue', sans-serif;
$font-stack-bold:'HelveticaNeueW02-75Bold','Helvetica Neue', sans-serif;
$font-stack-thin:'HelveticaNeueW01-Thin','Helvetica Neue', sans-serif;

/* Colors
// ========================================================================== */
// $color-text:#6e6e6e;
$color-white:#fff;
$color-black:#000;
$color-purple-text:#4a56a2;
$color-dark-purple:#3f0031;
$color-purple:#7e0163;
$color-light-purple:#dfbfd8;
$color-gray-text:#858585;

/* Convert px to ems
// ========================================================================== */
@function px-to-ems( $pixels, $context: $browser-default-font-size ) {
  @return #{$pixels/$context}em;
}

@function return-ems( $pixels, $context ) {
  @return #{$pixels/$context}em;
}
@function layout-ems( $pixels, $context: $layout-size ) {
  @return #{$pixels/$context}em;
}

/* Mixins
// ========================================================================== */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin delist {
	list-style-type: none;
	margin:0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
	}
}
@mixin center {
	margin-left: auto;
	margin-right: auto;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($values) {
  -webkit-box-direction: $values;
  -moz-box-direction:  $values;
  -webkit-flex-direction:  $values;
  -ms-flex-direction:  $values;
  flex-direction:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}
