@import 'base';

/* =Global Styles
// ========================================================================== */
.container {
	position: relative;
	overflow-x: hidden;
}
body {
	font-family: $font-stack-default;
	font-size: 100%;
}
h1,h2,h3,h4 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
p {
	margin-bottom: 0;
	letter-spacing: .5px;
}
.mobile {
	display: block;
	@media (min-width:$break-4) {
		display: none;
	}
}
.desktop {
	display: none;
	@media (min-width:$break-4) {
		display: block;
	}
}
picture {
	display: block;
}
.link {
	font-size: 1em !important;
}
.btn {
	border:1px solid $color-light-purple;
	display: block;
	font-size: px-to-ems(18px);
	height: return-ems(50px,18px);
	@include center;
	padding-top:return-ems(13px,18px);
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	width: return-ems(214px,18px);
}
.btn-primary {
	background: $color-white;
	color:$color-purple;
	&:hover {
		background: $color-light-purple;
	}
}
.btn-secondary {
	border-color:rgba(255,255,255,.25);
	color:$color-white;
	&:hover {
		background-color: rgba(255,255,255,.25);
		background-clip:padding-box;
	}
}
.honeypot {
	display: none;
}
/* =Animation
// ========================================================================== */
.animated {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count:1;
	animation-iteration-count:1;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes moveUp {
	0% {
		top:142px;
	}
	100% {
		top:0;
	}
}

@keyframes moveUp {
  0% {
		top:142px;
	}
	100% {
		top:0;
	}
}
@-webkit-keyframes moveDown {
	0% {
		top:160px;
	}
	100% {
		top:300px;
	}
}

@keyframes moveDown {
  0% {
		top:160px;
	}
	100% {
		top:300px;
	}
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

/* =Banner
// ========================================================================== */
[role=banner] {
	@media (max-width:$break-small-tablet-max) {
		.homepage &.fixed,
		.secondary-page & {
			background: $color-purple;
			height: px-to-ems(75px);
			position: fixed;
			top:0;
			left:0;
			right:0;
			z-index: 7;
		}
		.homepage &.fixed, {
			-webkit-animation-duration: .35s;
			animation-duration: .35s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-iteration-count:1;
			animation-iteration-count:1;
			-webkit-animation-name: slideInDown;
			animation-name: slideInDown;
		}
	}
	@media (min-width:$break-4) {
		position: absolute;
		top:px-to-ems(46px);
		left:0;
		right:0;
		.wrapper {
			@include center;
			height: px-to-ems(50px);
			padding:0 px-to-ems(20px);
			position: relative;
			max-width: px-to-ems(980px);
		}
		&.fixed,
		.secondary-page & {
			background: $color-purple;
			position: fixed;
			top:0;
			left:0;
			right:0;
			height: px-to-ems(72px);
			z-index:100;
			.wrapper {
				@include center;
				height: px-to-ems(50px);
				padding:0 px-to-ems(10px);
				position: relative;
				max-width: px-to-ems(960px);
			}
		}
		&.fixed {
			-webkit-animation-duration: .35s;
			animation-duration: .35s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-iteration-count:1;
			animation-iteration-count:1;
			-webkit-animation-name: slideInDown;
			animation-name: slideInDown;
		}
	}
	@media (min-width:$break-5) {
		padding:0;
	}
}
.logo {
	font-size: 1em;
	position: absolute;
	top:px-to-ems(23px);
	left:0;
	z-index:7;
	.homepage .fixed & {
		@media (max-width:$break-small-tablet-max) {
			display: block;
			top:px-to-ems(23px);
		}
	}
	.secondary-page & {
		@media (max-width:$break-small-tablet-max) {
			z-index: 8;
		}
	}
	@media (min-width:$break-4) {
		position: relative;
		top:auto;
		left:auto;
		right:auto;
		float: left;
	}
	a {
		display: block;
		height: px-to-ems(31px);
		margin-left: px-to-ems(25px);
		overflow: hidden;
		text-indent: -999em;
		width: px-to-ems(150px);
		@media (max-width:$break-small-tablet-max) {
			background: url(/_img/mobile-logo.png) no-repeat;
			@include image-2x('/_img/mobile-logo-2x.png', 191px, 40px);
			.homepage & {
				background: url(/_img/mobile-logo.png) no-repeat;
				@include image-2x('/_img/mobile-logo-2x.png', 150px, 31px);
				background-size: 150px,31px;
				display: block !important;
				height: px-to-ems(31px);
				margin-left: px-to-ems(25px);
				width: px-to-ems(150px);
			}
			.secondary-page & {
				background: url(/_img/mobile-logo.png) no-repeat;
				@include image-2x('/_img/mobile-logo-2x.png', 150px, 31px);
				background-size: 150px,31px;
			}
		}
		@media (min-width:$break-4) {
			background: url(/_img/logo.png) no-repeat;
			@include image-2x('/_img/logo-2x.png', 213px, 44px);
			height: px-to-ems(44px);
			margin-left: px-to-ems(10px);
			opacity: 1;
			width: px-to-ems(234px);
			.fixed &,
			.secondary-page & {
				background: url(/_img/logo-sm.png) no-repeat;
				@include image-2x('/_img/logo-sm-2x.png', 163px, 34px);
				height: px-to-ems(34px);
				opacity: 1;
				margin-top: px-to-ems(16px);
				width: px-to-ems(163px);

			}
		}
		@media (min-width:$break-5) {
			margin-left: 0;
		}

	}
}
.modal-logo {
	display: none;
	@media (min-width:$break-4) {
		background: url(/_img/logo.png) no-repeat;
		@include image-2x('/_img/logo-2x.png', 213px, 44px);
		display: block;
		height: px-to-ems(44px);
		position: absolute;
		top:px-to-ems(25px);
		left:5%;
		opacity: .5;
		width: px-to-ems(234px);
		z-index:500;
	}
}
#nav-button {
	border:2px solid $color-white;
	border-radius:50%;
	position: absolute;
	top:px-to-ems(12px);
	right:px-to-ems(25px);
	height:px-to-ems(50px);
	overflow: hidden;
	text-indent: -999em;
	width:px-to-ems(50px);
	z-index:10;
	@media (max-width:$break-small-tablet-max) {
		border-color: transparent;
		right:px-to-ems(12px);
		top:px-to-ems(15px);
	}
	&:hover {
		@media (min-width:$break-4) {
			background:rgba(255,255,255,.25);
		}
	}
	span:nth-child(1) {
		background:$color-white;
		border-radius:px-to-ems(10px);
		display:block;
		height:px-to-ems(6px);
		left:px-to-ems(11px);
		margin-top:px-to-ems(-3px);
		position:absolute;
		top:50%;
		width:px-to-ems(6px);
		-webkit-transition: width .2s .5s ease-in-out, transform .2s ease-in-out;
		-moz-transition: width .2s .5s ease-in-out , transform .2s ease-in-out;
		-ms-transition: width .2s .5s ease-in-out, transform .2s ease-in-out;
		transition: width .2s .5s ease-in-out, transform .2s ease-in-out;
	    -webkit-transform-origin: center center;
	    -moz-transform-origin: center center;
	    -ms-transform-origin: center center;
	    -o-transform-origin: center center;
	    transform-origin: center center;
	}
	span:nth-child(2) {
		background:$color-white;
		border-radius:50%;
		display:block;
		height:px-to-ems(6px);
		position:absolute;
		left:px-to-ems(20px);
		top:50%;
		margin-top:px-to-ems(-3px);
		width:px-to-ems(6px);
	}
	span:nth-child(3) {
		background:$color-white;
		border-radius:px-to-ems(10px);
		display:block;
		height:px-to-ems(6px);
		position:absolute;
		right:px-to-ems(11px);
		top:50%;
		margin-top:px-to-ems(-3px);
		width:px-to-ems(6px);
		-webkit-transition: width .2s .5s ease-in-out, transform .2s ease-in-out;
		-moz-transition: width .2s .5s ease-in-out , transform .2s ease-in-out;
		-ms-transition: width .2s .5s ease-in-out, transform .2s ease-in-out;
		transition: width .2s .5s ease-in-out, transform .2s ease-in-out;
	    -webkit-transform-origin: center center;
	    -moz-transform-origin: center center;
	    -ms-transform-origin: center center;
	    -o-transform-origin: center center;
	    transform-origin: center center;
	}
	&.open {
		opacity:.5;
	}
	&.open span:nth-child(1) {
		height:px-to-ems(6px);
		width:px-to-ems(28px);
		border-radius:px-to-ems(10px);
		left:px-to-ems(11px);
		margin-left:px-to-ems(-2px);
		-webkit-transition: width .2s ease-in-out, transform .2s .5s ease-in-out;
		-moz-transition: width .2s ease-in-out , transform .2s .5s ease-in-out;
		-ms-transition: width .2s ease-in-out, transform .2s .5s ease-in-out;
		transition: width .2s ease-in-out, transform .2s .5s ease-in-out;
		-moz-transform: rotate3d(0,0,1,45deg);
		-webkit-transform: rotate3d(0,0,1,45deg);
		-ms-transform: rotate3d(0,0,1,45deg);
		transform: rotate3d(0,0,1,45deg);
	}
	&.open span:nth-child(2) {
		display: none;
	}
	&.open span:nth-child(3) {
		height:px-to-ems(6px);
		width:px-to-ems(28px);
		border-radius:px-to-ems(10px);
		left:px-to-ems(9px);
		right:auto;
		-webkit-transition: width .2s ease-in-out, transform .2s .5s ease-in-out;
		-moz-transition: width .2s ease-in-out , transform .2s .5s ease-in-out;
		-ms-transition: width .2s ease-in-out, transform .2s .5s ease-in-out;
		transition: width .2s ease-in-out, transform .2s .5s ease-in-out;
		-moz-transform: rotate3d(0,0,1,-45deg);
		-webkit-transform: rotate3d(0,0,1,-45deg);
		-ms-transform: rotate3d(0,0,1,-45deg);
		transform: rotate3d(0,0,1,-45deg);
	}
	@media (min-width:$break-4) {
		float: right;
		position: relative;
		left:auto;
		right:auto;
		top:auto;
		z-index:5;
		.fixed &,
		.secondary-page & {
			display: none;
		}
	}
}
#watch-our-reel {
	display: none;
	@media (min-width:$break-4) {
		display: block;
		color: $color-white;
		font-size: px-to-ems(12px);
		opacity:0;
		padding-top: return-ems(63px,12px);
		position: absolute;
		right:return-ems(8px,12px);
		top:return-ems(-1px,12px);
		text-decoration: none;
		text-transform: lowercase;
		-moz-transition:visibility .25s ease-in,top .25s ease-in,opacity .25s ease-in;
		-webkit-transition:visibility .25s ease-in,top .25s ease-in,opacity .25s ease-in;
		-ms-transition:visibility .25s ease-in,top .25s ease-in,opacity .25s ease-in;
		transition:visibility .25s ease-in,top .25s ease-in,opacity .25s ease-in;
		visibility: hidden;
		z-index:3;
		#nav-main.show ~ & {
			display: block;
			opacity: 1;
			visibility: visible;
			top:return-ems(78px,12px);
		}
		span:first-child {
			border:2px solid rgba(255,255,255,.25);
			border-radius: 50%;
			display: block;
			left:50%;
			margin-left: return-ems(-25px,12px);
			position: absolute;
			top:0;
			height: return-ems(50px,12px);
			width:return-ems(50px,12px);
		}
		&:hover span:first-child {
			background:rgba(255,255,255,.25);
		}
		span:last-child {
			display: block;
			position: absolute;
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
			border-left:12px solid $color-white;
			top:return-ems(19px,12px);
			left:50%;
			margin-left:return-ems(-4px,12px);
		}
		.fixed &,
		.secondary-page & {
			display: none;
		}
	}
}
#watch-our-reel-slide {
	display: none;
	@media (min-width:$break-4) {
		display: block;
		color: $color-white;
		font-size: px-to-ems(12px);
		padding-top: return-ems(63px,12px);
		position: absolute;
		left:50%;
		margin-left:return-ems(-45px,12px);
		text-align: center;
		text-decoration: none;
		text-transform: lowercase;
		top:return-ems(201px,12px);
		width:return-ems(90px,12px);
		z-index:3;
		span:first-child {
			border:2px solid rgba(255,255,255,1);
			border-radius: 50%;
			display: block;
			left:50%;
			margin-left: return-ems(-25px,12px);
			position: absolute;
			top:0;
			height: return-ems(50px,12px);
			width:return-ems(50px,12px);
		}
		&:hover span:first-child {
			background:rgba(255,255,255,.25);
		}
		span:last-child {
			display: block;
			position: absolute;
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
			border-left:12px solid $color-white;
			top:return-ems(19px,12px);
			left:50%;
			margin-left:return-ems(-4px,12px);
		}
	}
}
#nav-main {
	background:$color-purple;
	display:none;
	padding-top: px-to-ems(86px);
	position: absolute;
	top:0;
	left:0;
	right:0;
	z-index:6;

	@media (max-width:$break-small-tablet-max) {
		height: px-to-ems(568px);
		.homepage & {
			background:$color-purple url(/_img/mask.svg) no-repeat center bottom;
		}
		.secondary-page & {
			height: px-to-ems(344px);
			z-index:7;
			&:before {
				background: url(/_img/triangle.png) no-repeat center center;
				background-size:768px 88px;
				content: '';
				left:0;
				height: px-to-ems(88px);
				position: absolute;
				right:0;
				bottom:px-to-ems(-88px);
			}
		}
	}
	@media (min-width:$break-4) {
		background: none;
		display: block !important;
		overflow:hidden;
		padding-top:0;
		top:px-to-ems(15px);
		left:px-to-ems(80px);
		right:px-to-ems(80px);
		text-align: right;
		.fixed &,
		.secondary-page & {
			left:0;
			right:0;
			top:px-to-ems(26px);
		}
	}
	ol {
		@include clearfix;
		list-style-type: none;
		margin:0;
		padding:0;
		@include center;
		width: px-to-ems(300px);
		@media (max-width:$break-small-tablet-max) {
			-webkit-display: flex;
			-moz-display: flex;
			-ms-display: flex;
			display: flex;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			min-height: 100%;
		}
		@media (min-width:$break-4) {
			float:right;
			width:auto;
			margin-right:-100%;
			opacity:0;
			transition:margin .25s ease-in, opacity .45s ease-in;
			.fixed &,
			.secondary-page & {
				margin-right:px-to-ems(25px);
				opacity: 1;
				transition:margin 0s;
			}
		}
		@media (min-width:$break-5) {
			.fixed &,
			.secondary-page & {
				margin-right: px-to-ems(10px);
			}
		}
	}
	&.show ol {
		@media (max-width:$break-small-tablet-max) {
			top:0;
			transition:top .25s ease-in;
		}
		@media (min-width:$break-4) {
			margin-right:px-to-ems(20px);
			opacity:1;
			transition:margin .25s ease-in, opacity .45s ease-in;
		}
	}
	li {
		background: $color-dark-purple;
		font-size: px-to-ems(14px);
		margin:0;
		padding:0;
		text-align: center;
		width: 100%;
		@media (min-width:$break-4) {
			background: none;
			display: inline-block;
			float: none;
			font-size: px-to-ems(14px);
			line-height: 1;
			margin-left: return-ems(30px,14px);
			padding-bottom: return-ems(13px,14px);
			position: relative;
			height: auto;
			width: auto;
		}
		&:nth-child(n+2) {
			margin-top: return-ems(10px,14px);
			@media (min-width:$break-4) {
				margin-top: 0;
			}
		}
	}
	&.show li {
		@media (max-width:$break-small-tablet-max) {
			-webkit-animation-duration: .18s;
			animation-duration: .18s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-iteration-count:1;
			animation-iteration-count:1;
			-webkit-animation-name: zoomIn;
			animation-name: zoomIn;
			-webkit-animation-delay: .85s;
			animation-delay: .85s;
		}

	}
	a {
		display: block;
		color: $color-white;
		text-decoration: none;
		text-transform: uppercase;
		@media (max-width:$break-small-tablet-max) {
			height: return-ems(44px,14px);
			line-height: return-ems(44px,14px);
		}
	}
	.page-work & a[href*="work"]:after,
	.page-case-study & a[href*="work"]:after,
	.work-section & a[href*="work"]:after,
	.team-listing & a[href*="team"]:after,
	.contact & a[href*="contact"]:after {
		@media (min-width:$break-4) {
			background:$color-white;
			border-radius: 50%;
			bottom:0;
			content: '';
			display: block;
			height: return-ems(6px,14px);
			left:50%;
			margin-left:return-ems(-3px,14px);
			position:absolute;
			width: return-ems(6px,14px);
		}
	}
}
.nav-reel {
	@media (max-width:$break-small-tablet-max) {
		span {
			display: none !important;
		}
	}
	@media (min-width:$break-4) {
		display:none !important;
		.fixed &,
		.secondary-page & {
			display: inline-block !important;
		}
	}
}
.section:not(#introduction) {
	p {
		font-size: px-to-ems(18px);
		line-height: return-ems(25px,18px);
	}
	@media (min-width:$break-4) {
		height: px-to-ems(700px);
	}
}
/* =Scene 1
// ========================================================================== */
#introduction {
	height: px-to-ems(568px);
	position: relative;
	@media (min-width:$break-4) {
		height: px-to-ems(700px);
	}
	@media (min-width:layout-ems(2086px)) {
		&:before {
			content:'';
			background: $color-white;
			display: block;
			position: absolute;
			bottom:0;
			height: px-to-ems(241px);
			left:-100%;
			right:50%;
			margin-right: px-to-ems(1043px);
			z-index:3;
		}
		&:after{
			content:'';
			background: $color-white;
			display: block;
			position: absolute;
			bottom:0;
			height: px-to-ems(241px);
			right:-100%;
			left:50%;
			margin-left: px-to-ems(1043px);
			z-index:3;
		}
	}
}
#mask{
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:px-to-ems(-1043px);
	width:px-to-ems(2086px);
	z-index:5;
}
#mask-2 {
	position:absolute;
	bottom:px-to-ems(-1px);
	left:50%;
	margin-left:px-to-ems(-1043px);
	width:px-to-ems(2086px);
	@media (min-width:$break-4) {
		display: none;
	}
}
#mask-3 {
	display:none;
	@media (min-width:$break-4) {
		display: block;
		position:absolute;
		bottom:0;
		left:50%;
		margin-left:px-to-ems(-1043px);
		width:px-to-ems(2086px);
		z-index:2;
	}
}
#mask-4 {
	position:absolute;
	bottom:px-to-ems(-1px);
	left:50%;
	margin-left:px-to-ems(-1043px);
	width:px-to-ems(2086px);
	z-index:2;
	@media (min-width:$break-4) {
		display: none;
	}
}
#mask-5 {
	display:none;
	@media (min-width:$break-4) {
		display: block;
		position:absolute;
		bottom:0;
		left:50%;
		margin-left:px-to-ems(-1043px);
		width:px-to-ems(2086px);
		z-index:2;
	}
}
#mask-6 {
	position:absolute;
	bottom:px-to-ems(-1px);
	left:50%;
	margin-left:px-to-ems(-1043px);
	width:px-to-ems(2086px);
	#list-team & {
		margin-left:return-ems(-1043px,18px);
		width: return-ems(2086px,18px);
		z-index:2;
	}
	@media (min-width:$break-4) {
		display: none;
	}
}
#mask-7 {
	display:none;
	@media (min-width:$break-4) {
		display: block;
		position:absolute;
		bottom:0;
		left:50%;
		margin-left:px-to-ems(-1043px);
		width:px-to-ems(2086px);
		#list-team & {
			margin-left:return-ems(-1043px,18px);
			width: return-ems(2086px,18px);
			z-index:2;
		}
	}
}
#home-slideshow {
	background: $color-white;
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	top:0;
	ol {
		@include delist;
	}
	li {
		bottom:0;
		color: $color-white;
		position: absolute;
		top:0;
		left:0;
		right:0;
		text-align: center;
		opacity: 0;
		-moz-transition: opacity .75s ease-in;
	    -webkit-transition: opacity .75s ease-in;
	    transition: opacity .75s ease-in;
	    z-index: 1;
	}
	li.active {
		opacity: 1;
		z-index:2;
	}
	.wrapper {
		padding: px-to-ems(100px) px-to-ems(25px) 0;
		@media (min-width:$break-4) {
			@include center;
			padding: px-to-ems(336px) px-to-ems(10px) 0;
			max-width:px-to-ems(960px);
		}
		@media (min-width:$break-4) and (max-width:$break-tablet-max) {
			font-size: 90%;
			padding-top:px-to-ems(360px);
		}
	}
	h1 {
		font-family: $font-stack-quadon;
		font-size: px-to-ems(30px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: 1;
		margin-bottom: return-ems(20px,30px);
		@media (min-width:$break-4) {
			font-size: px-to-ems(50px);
			margin-bottom: return-ems(24px,50px);
		}
	}
	.content {
		font-family: $font-stack-thin;
		font-size: px-to-ems(18px);
		line-height: return-ems(25px,18px);
		@media (min-width:$break-4) {
			font-size: px-to-ems(22px);
			line-height: return-ems(30px,22px);
		}
		strong {
			font-family: $font-stack-medium;
		}
	}
}
.scene-1 {
	@media (max-width:$break-small-tablet-max) {
		background: url(/_img/scene-1.jpg) no-repeat center top;
		@include image-2x('/_img/scene-1-2x.jpg', 768px, 603px);
	}
	@media (min-width:$break-4) {
		background: $color-black url(/_img/scene-1-larger.jpg) no-repeat center top;
		@include image-2x('/_img/scene-1-larger-2x.jpg', 1990px, 700px);
	}
}
.scene-2 {
	@media (max-width:$break-small-tablet-max) {
		background: url(/_img/scene-2.jpg) no-repeat center top;
		@include image-2x('/_img/scene-2-2x.jpg', 768px, 603px);
	}
	@media (min-width:$break-4) {
		background: $color-black url(/_img/scene-2-larger.jpg) no-repeat center top;
		@include image-2x('/_img/scene-2-larger-2x.jpg', 1990px, 700px);
	}
}

#next-section {
	background: url(/_img/down.png) no-repeat;
	@include image-2x('/_img/down-2x.png', 29px, 18px);
	bottom:px-to-ems(138px);
	display: block;
	position: absolute;
	left:50%;
	height: px-to-ems(18px);
	margin-left:px-to-ems(-14px);
	overflow: hidden;
	text-indent: -999em;
	width: px-to-ems(29px);
	z-index:6;
	@media (max-width:$break-small-tablet-max) {
		&.hide {
			display: none;
		}
	}
	@media (min-width:$break-4) {
		bottom:px-to-ems(95px);
	}
}
/* =Scene 2
// ========================================================================== */
#our-work {
	background: $color-white;
	position: relative;
	.fp-responsive & {
		height: auto !important;
	}
	@media (min-width:$break-4) {
		z-index:2;
	}
	.wrapper {
		padding:px-to-ems(35px) 0 px-to-ems(45px);
		@media (min-width:$break-4) {
		//	padding:px-to-ems(89px) 0 0;
			padding:px-to-ems(138px) 0 0,
		}
	}
	h1 {
		color: $color-purple-text;
		font-family: $font-stack-quadon;
		font-size: px-to-ems(30px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: 1;
		margin:0 return-ems(25px,30px) return-ems(25px,30px);
		@media (min-width:$break-2) and (max-width:$break-small-tablet-max) {
			br {
				display: none;
			}
		}
		@media (min-width:$break-2) {
			font-size: px-to-ems(34px);
			margin:0 return-ems(25px,34px) return-ems(25px,34px);
		}
		@media (min-width:$break-4) {
			font-size: px-to-ems(50px);
			line-height: 1;
			margin:0;
			margin-bottom: return-ems(46px,50px);
			width:return-ems(288px,50px);
		}
	}
	p {
		color:#858585;
		margin-left:return-ems(25px,18px);
		margin-right:return-ems(25px,18px);
		@media (min-width:$break-4) {
			margin:0;
			width:return-ems(265px,18px);
		}
	}
	.copy {
		position: relative;
		z-index:2;
		@media (min-width:$break-4) {
			@include center;
			padding:0 px-to-ems(20px);
			max-width:px-to-ems(980px);
		}
	}
	.link {
		position: relative;
		margin-top:px-to-ems(-115px);
		z-index:2;
		@media (min-width:$break-4) {
			@include center;
			margin-top: return-ems(46px,16px);
			padding:0 return-ems(20px,16px);
			max-width:return-ems(980px,16px);
			width:auto;
			.btn {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

#projects {
	ol {
		@include delist;
	}
	height: px-to-ems(295px);
	margin-top: px-to-ems(-10px);
	@media (min-width:layout-ems(400px)) {
		margin-top: 0;
	}
	@media (min-width:$break-4) {
		position: absolute;
		top:0;
		left:px-to-ems(338px);
		margin-top:0;
		width:px-to-ems(1227px);
	}
	@media (min-width:$break-5) {
		left:50%;
		margin-left:px-to-ems(-150px);
		right:auto;
	}
	.project {
		outline:none;
		@media (max-width:$break-small-tablet-max) {
			height: px-to-ems(295px) !important;
			picture {
				position: absolute;
				left:50%;
				margin-left: px-to-ems(-384px);
				top:0;
			}
		}
		@media (min-width:$break-4) {
			position: absolute;
			height: px-to-ems(608px);
			left:0;
			-moz-transition:top .25s ease-in;
			-webkit-transition:top .25s ease-in;
			-ms-transition:top .25s ease-in;
			transition:top .25s ease-in;
			width: px-to-ems(1227px);
			picture {
				content:'';
				display: block;
				height: px-to-ems(608px);
				left:0;
				position: absolute;
				top:0;
				width: px-to-ems(1227px);
				z-index:2;
			}
			&:after {
				background: url(/_img/projects/shadow.png) no-repeat;
				@include image-2x('/_img/projects/shadow-retina.png',1279px,658px);
				content: '';
				height: px-to-ems(658px);
				left:px-to-ems(-25px);
				position: absolute;
			//	top:px-to-ems(101px);
				top:px-to-ems(70px);
				width: px-to-ems(1279px);
				z-index:1;
			}
		}
	}
	@media (min-width:$break-4) {
		.project:first-child {
			top:0;
			z-index:4;
		}
		.project:nth-child(2) {
			top:144px;
			z-index:3;
		}
		.project:nth-child(3) {
			top:288px;
			z-index:2;
		}
	}
/*	.silverleaf {
		@media (min-width:$break-4) {
			left:0;
			&.animated {
				-webkit-animation-name: moveUp;
				animation-name: moveUp;
				-webkit-animation-delay:2s;
				animation-delay:2s;
			}
		}
	}
	.huntington {
		@media (min-width:$break-4) {
			left:0;
		}
	}
	.axsium {
		@media (min-width:$break-4) {
			left:0;
			&.animated {
				-webkit-animation-name: moveDown;
				animation-name: moveDown;
				-webkit-animation-delay:2s;
				animation-delay:2s;
			}
		}
	} */
	.slick-dots {
		@include delist;
		bottom:px-to-ems(50px);
		left:0;
		right:0;
		text-align: center;
		position: absolute;
		li {
			display: inline-block;
			margin-left: px-to-ems(10px);
			&:first-child {
				margin-left: 0;
			}

		}
		button {
			background:$color-light-purple;
			border:0;
			border-radius: 50%;
			display: block;
			height: px-to-ems(20px);
			text-indent: -999em;
			width: px-to-ems(20px);
			-webkit-appearance: none;
			transition:scale .25s ease-in;
		}
	}
	.slick-active button {
		background: $color-purple;
		-moz-transform: scale(1.4);
		-webkit-transform: scale(1.4);
		-ms-transform: scale(1.4);
		transform: scale(1.4);
	}
}
#projects-nav {
	@media (min-width:$break-4) {
		@include delist;
		position: absolute;
		top:px-to-ems(469px);
		left:px-to-ems(123px);
		li {
			display: block;
			margin-top: px-to-ems(11px);
			&:first-child {
				margin-top:0;
			}
		}
		a {
			background:$color-light-purple;
			border:0;
			border-radius: 50%;
			display: block;
			height: px-to-ems(14px);
			text-decoration: none;
			text-indent: -999em;
			transition:all .25s ease-in;
			width: px-to-ems(14px);
			-webkit-appearance: none;
		}
		.active a {
			background: $color-purple;
			-moz-transform: scale(1.285);
			-webkit-transform: scale(1.285);
			-ms-transform: scale(1.285);
			transform: scale(1.285);
		}
	}
	@media (min-width:$break-5) {
		left:50%;
		margin-left:px-to-ems(-360px);
	}
}
/* =Scene 3
// ========================================================================== */
#our-team {
	position: relative;
	.fp-responsive & {
		height: auto !important;
	}
	@media (min-width:$break-4) {
		height: px-to-ems(820px) !important;
		&:before {
			background: $color-white;
			content:'';
			display: block;
			position: absolute;
			bottom:px-to-ems(243px);
			top:0;
			left:0;
			right: 0;
			z-index:1;
		}
	}
	.wrapper {
		padding:px-to-ems(31px) 0 px-to-ems(62px);
		position: relative;
		z-index:3;
		@media (min-width:$break-4) {
			height: px-to-ems(665px);
			padding: px-to-ems(68px) 0 0;
		}
		@media (min-width:$break-5) {
			@include center;
			overflow: hidden;
			width:px-to-ems(960px);
			&:before {
				content: '';
				background: url(/_img/shadow.jpg) no-repeat;
				@include image-2x('/_img/shadow-2x.jpg', 100%, 100%);
				height: px-to-ems(193px);
				width: px-to-ems(19px);
				position: absolute;
				right:0;
				top:px-to-ems(339px);
				z-index:1;
			}
			&:after {
				content: '';
				background: url(/_img/shadow-left.jpg) no-repeat;
				@include image-2x('/_img/shadow-left-2x.jpg', 100%, 100%);
				height: px-to-ems(193px);
				width: px-to-ems(19px);
				position: absolute;
				left:0;
				top:px-to-ems(339px);
				z-index:1;
			}
		}
	}
	h1 {
		color: $color-purple-text;
		font-family: $font-stack-quadon;
		font-size: px-to-ems(30px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: 1;
		margin-bottom: return-ems(25px,30px);
		@media (min-width:$break-2) {
			font-size: px-to-ems(34px);
			margin-bottom: return-ems(25px,34px);
		}
		@media (min-width:$break-4) {
			font-size: px-to-ems(50px);
			line-height: 1;
			margin:0;
			margin-bottom: return-ems(34px,50px);
			br {
				display: none;
			}
		}
	}
	.copy {
		color:#858585;
		padding:px-to-ems(178px) px-to-ems(25px) 0;
		@media (min-width:$break-4) {
			@include center;
			padding:0 px-to-ems(20px);
			max-width:px-to-ems(960px);
		}
		@media (min-width:layout-ems(980px)) {
			padding: 0;
		}
	}
	.content {
		@media (min-width:$break-4) {
			width:px-to-ems(672px);
		}
	}
	.fp-tableCell copy {
		padding-top: px-to-ems(147px);
	}
	.link {
		margin-top:px-to-ems(33px);
		@media (min-width:$break-4) {
			margin-top: 0;
			position: absolute;
			bottom:0;
			left:0;
			right:0;
		}
	}
}
#team-slideshow {
	position: absolute;
	left:50%;
	margin-left: px-to-ems(-395px);
	height:px-to-ems(140px);
	overflow: hidden;
	top:px-to-ems(31px);
	width:px-to-ems(790px);
	z-index:3;
	@media (min-width:$break-4) {
		top:px-to-ems(366px);
	}
	@media (min-width:$break-5) {
		margin-left:px-to-ems(-553px);
		overflow: visible;
		width: px-to-ems(1106px);
		&:before {
			content:'';
			background: $color-white;
			display: block;
			height: px-to-ems(140px);
			left:0;
			position: absolute;
			top:0;
			width: px-to-ems(72px);
			z-index:5;
		}
		&:after {
			content:'';
			background: $color-white;
			display: block;
			height: px-to-ems(140px);
			position: absolute;
			right:0;
			top:0;
			width: px-to-ems(72px);
			z-index:5;
		}
	}
	ol {
		@include delist;
	}
	li {
		margin-left:px-to-ems(9px) !important;
		margin-right:px-to-ems(9px) !important;
		transition:.25s all ease-in;
		width: px-to-ems(140px) !important;
	}
	img {
		height: auto;
		max-width:100%;
	}
	@media (min-width:$break-5) {
		.slick-current + li {
			-moz-transform:scale(1.67);
			-moz-transform-origin: center right;
			-webkit-transform:scale(1.67);
			-webkit-transform-origin: center right;
			transform:scale(1.67);
			transform-origin: center right;
		}
		.slick-list {
			overflow: visible;
		}
	}
}
/* =Video Modal
// ========================================================================== */
.video-open {
	cursor: pointer;
}
.close-btn, .close {
	border:2px solid $color-white;
	border-radius:50%;
	cursor: pointer;
	height:px-to-ems(50px);
	overflow: hidden;
	opacity: .5;
	position: absolute;
	z-index: 500;
	top:px-to-ems(25px);
	right: 5%;
	text-indent: -999em;
	width:px-to-ems(50px);
	.modal & {
		opacity: .5;
		display: none;
	}
	span {
		background: $color-white;
		border-radius:px-to-ems(10px);
		display: block;
		height: px-to-ems(30px);
		left:50%;
		margin-left:px-to-ems(-2px);
		position: absolute;
		top:50%;
		margin-top:px-to-ems(-15px);
		width:px-to-ems(5px);
	}
	span:nth-child(1) {
		 -moz-transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
	span:nth-child(2) {
		 -moz-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
}
.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin-bottom: 10px;
}
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#video-player {
	position: absolute;
	overflow: hidden;
	width: 100%;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#overlay {
	background: rgba(0,0,0,0.85);
	position: fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:600;
}
.veil {
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
	z-index: 400;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.fade {
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear
}
.fade.in {
  filter: alpha(opacity=1);
  opacity: 1;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal {
  text-align: center;
  padding: 0!important;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  display: none;
}
.video-modal {
  width: 100%;
  opacity: 0;
}
.video-modal {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


/* =Footer or Scene 4
// ========================================================================== */
[role="contentinfo"] {
	background:$color-purple;
	color:$color-white;
	padding: px-to-ems(45px) 0 px-to-ems(113px);
	position: relative;
	text-align: center;
	@media (min-width:$break-4) {
		background:none;
		height: auto !important;
		padding-bottom: px-to-ems(206px);
		padding-top:px-to-ems(65px);
		.wrapper {
			@include center;
			position: relative;
			width: px-to-ems(700px);
			z-index:2;
		}
		&:before {
			background:$color-purple url(/_img/footer-back.jpg) repeat;
			content:"";
			display: block;
			position: absolute;
			top:px-to-ems(-243px);
			left:0;
			right:0;
			bottom:0;
			z-index:1;
		}
	}
	h1 {
		font-family: $font-stack-quadon;
		font-size: px-to-ems(34px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: 1;
		margin-bottom: 0;
		text-transform: lowercase;
	}
	.link {
		margin-bottom:px-to-ems(46px);
		@media (min-width:$break-4) {
			display: none;
			margin-bottom: 0;
		}
	}
	.location {
		color:inherit;
		display: block;
		font-size: px-to-ems(18px);
		margin-bottom: return-ems(18px,18px);
		text-align: center;
		text-decoration: none;
		@media (min-width:$break-4) {
			float: left;
			text-align: left;
			margin-left:0;
			margin-bottom: 0;
			padding-top:return-ems(13px,18px);
		}
	}
	.phone {
		color:inherit;
		display: block;
		font-size: px-to-ems(18px);
		margin-bottom: return-ems(18px,18px);
		text-align: center;
		text-decoration: none;
		@media (min-width:$break-4) {
			float: right;
			text-align: right;
			margin-right:0;
			margin-bottom: 0;
			padding-top:return-ems(13px,18px);
		}
	}
	&.section p.copyright {
		color: rgba(255,255,255,.5);
		font-size: return-ems(12px,16px) !important;
		text-transform: lowercase;
	}
}
#connect {
	@media (min-width:$break-4) {
			background: -moz-linear-gradient(top,  rgba(126,1,99,0) 0%, rgba(126,1,99,1) 30%, rgba(126,1,99,1) 90%, rgba(126,1,99,0) 100%);
			background: -webkit-linear-gradient(top,  rgba(126,1,99,0) 0%,rgba(126,1,99,1) 30%,rgba(126,1,99,1) 90%,rgba(126,1,99,0) 100%);
			background: linear-gradient(to bottom,  rgba(126,1,99,0) 0%,rgba(126,1,99,1) 30%,rgba(126,1,99,1) 90%,rgba(126,1,99,0) 100%);
		}
}
.footer-logo {
	@include center;
	background: url(/_img/footer-logo.png) no-repeat;
	@include image-2x('/_img/footer-logo-2x.png', 100%, 100%);
	display:block;
	height: px-to-ems(38px);
	margin-bottom: px-to-ems(18px);
	width: px-to-ems(183px);
}
.social-icons {
	@include clearfix;
	@include delist;
	@include center;
	margin-top:px-to-ems(45px);
	margin-bottom: px-to-ems(56px);
	width: px-to-ems(174px);
	@media (min-width:$break-4) {
		margin-top:0;
		width:px-to-ems(302px);
	}
	li {
		display: inline;
	}
	a {
		border:1px solid rgba(255,255,255,.25);
		border-radius:50%;
		color: $color-white;
		float: left;
		font-size: px-to-ems(16px);
		height: return-ems(46px,16px);
		line-height: return-ems(42px,16px);
		margin-left: return-ems(18px,16px);
		margin-bottom: return-ems(13px,16px);
		text-align: center;
		text-decoration: none;
		text-transform: lowercase;
		width: return-ems(46px,16px);
		&:hover {
			background-color: rgba(255,255,255,.25);
			background-clip:padding-box;
		}
		@media (min-width:$break-4) {
			margin-bottom: 0;
		}
	}
	.icon a {
		background-image: url(/_img/social-icons.png);
		@include image-2x('/_img/social-icons-2x.png',177px, 200px);
		background-repeat: no-repeat;
		overflow: hidden;
		text-indent: -999em;
	}
	.linked-in a {
		background-position: -1px -1px;
		margin-left: 0;
	}
	.twitter a {
		background-position: -67px -2px;
	}
	.facebook a {
		background-position: -131px -3px;
	}
	.instagram a {
		background-position: -31px -62px;
		clear:left;
		margin-left: 0;
		@media (min-width:$break-4) {
			clear: none;
			margin-left: return-ems(18px,16px);
		}
	}
	.vimeo a {
		background-position: -113px -62px;
	}
	.blog a {
		background-position: -1px -112px;
	}
}
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-tableCell {
	position: relative;
}

/* =Our Work Page
// ========================================================================== */

#show-case-studies {
	margin-bottom: px-to-ems(-108px);
	margin-top: px-to-ems(49px);
	position: relative;
	z-index:4;
	@media (max-width:$break-small-tablet-max) {
/*		&:before {
			background:#efdfeb;
			content: '';
			position: absolute;
			top:0;
			left:50%;
			margin-left: px-to-ems(-235px);
			height: px-to-ems(110px);
			z-index:1;
			width:px-to-ems(470px);
		} */
	}
	@media (min-width:$break-4) {
		background: none;
		@include clearfix;
		margin-top: px-to-ems(54px);
		padding-left:calc(50% - 470px);
		padding-right:calc(50% - 470px);
//		padding-top:px-to-ems(42px);
		margin-bottom: px-to-ems(-357px);
	/*	&:before {
			border-top:px-to-ems(153px) solid #efdfeb;
			content: '';
			position: absolute;
			top:0;
			left:0;
			right:0;
			height: px-to-ems(153px);
			z-index:1;
		} */
	}
}
.case-study {
	@include center;
	height: px-to-ems(467px);
	position: relative;
	max-width:px-to-ems(470px);
	padding-top:px-to-ems(325px);
	text-align: right;
	@media (max-width:$break-small-tablet-max) {
		&:not(.case-study-1) {
			margin-top:px-to-ems(-109px);
		}
	}
	@media (min-width:$break-4) {
		float: left;
		width: 50%;
		&:nth-child(n+3) {
			margin-top:px-to-ems(-109px);
		}
		&.demo-reel {
			margin-left: 50%;
		}
	}
	h2 {
		display: none;
	}
	.brand-logo {
		font-size: 1em;
		overflow: hidden;
		position: absolute;
		text-indent: 999em;
		right:px-to-ems(40px);
		top:px-to-ems(129px);
		z-index:2;
	}
	h3 {
		color: $color-white;
		font-family: $font-stack-quadon;
		font-size: px-to-ems(32px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: return-ems(40px,32px);
		position: absolute;
		right:return-ems(40px,32px);
		z-index:2;
		top:return-ems(252px,32px);
		&.two-lines {
			top:return-ems(220px,32px);
		}
	}
	.view-links {
		position: absolute;
		top:px-to-ems(325px);
		right:px-to-ems(40px);
		z-index:2;
	}
	.btn {
		display: inline-block;
	}
	#case-study-background {
		position: absolute;
		top:0;
		left:50%;
		margin-left: px-to-ems(-235px);
		z-index:1;
	}
}
.case-study-1 {
	z-index:6;
	@media (max-width:$break-small-tablet-max) {
		margin-top: 0;
	}
}
.case-study-2 {
	z-index:5;
}
.case-study-3 {
	z-index:4;
}
.case-study-4 {
	z-index:3;
}
.demo-reel {
	background: url(/_img/case-studies/demo-reel.png) no-repeat center top;
	@include image-2x('/_img/case-studies/demo-reel-2x.png',470px, 467px);
	z-index:2;
}
#tell-a-story {
	background: #be80b1;
	color: $color-white;
	padding: px-to-ems(96px) px-to-ems(32px);
	position: relative;
	@media (min-width:$break-4){
		background: transparent;
		height: px-to-ems(466px);
		padding-bottom: 0;
		&:before {
			background: #be80b1;
		    content: '';
		    display: block;
		    position: absolute;
		    bottom:px-to-ems(243px);
		    top: 0;
		    left: 0;
		    right: 0;
		    z-index: 1;
		}
	}
	.container {
		@include center;
		max-width: px-to-ems(470px);
		z-index:3;
		@media (min-width:$break-4) {
			position: absolute;
			left:0;
			max-width: px-to-ems(380px);
			padding-left:px-to-ems(10px);
			top:px-to-ems(45px);
			width: 50%;
		}
		@media (min-width:layout-ems(960px)) {
			left:50%;
			margin-left: px-to-ems(-480px);
		}
	}
	h1 {
		font-family: $font-stack-quadon;
		font-size: px-to-ems(32px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: 1;
		margin-bottom: return-ems(18px,32px);
		position: relative;
		z-index:2;
		@media (min-width:$break-2) {
			font-size: px-to-ems(50px);
			margin-bottom: return-ems(23px,50px);
		}
	}
	.content {
		position: relative;
		z-index:2;
		p {
			font-size: px-to-ems(18px);
			line-height: return-ems(25px,18px);
		}

	}
}

/* Team Page */
// ========================================================================== */
#list-team {
	margin-top: return-ems(75px,18px);
	padding: 0 25px;
	padding-top:return-ems(25px,18px);
	padding-bottom: return-ems(62px,18px);
	position: relative;
	font-family: $font-stack-default;
	font-size: px-to-ems(18px);
	color: $color-gray-text;
	position: relative;
	@media (min-width:$break-4) {
		padding-top:return-ems(42px,18px);
		padding-bottom: return-ems(116px,18px);
		& > h1,
		& > p,
		.team-listing,
		#team-nav {
			position: relative;
			z-index:3;
		}
		&:before {
			background: $color-white;
			content: '';
			position: absolute;
			bottom:px-to-ems(243px,18px);
			left:0;
			right:0;
			top:0;
		}
	}
	@media (min-width:$break-5) {
		@include clearfix;
		margin-top: return-ems(72px,18px);
		padding-left:calc(50% - 470px);
		padding-right:calc(50% - 470px);
	}
	h1 {
		font-family: $font-stack-quadon;
		font-size: return-ems(30px,18px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: 1;
		margin-bottom: return-ems(25px,30px);
		color: $color-purple-text;
		@media (min-width:$break-2) {
			font-size: return-ems(34px,18px);
			margin-bottom: return-ems(25px,34px);
		}
		@media (min-width:$break-4) {
			font-size: return-ems(50px,18px);
			margin-bottom: return-ems(25px,50px);
		}
	}
	p {
		margin-bottom: return-ems(50px,18px);
		line-height: return-ems(22px,18px);
		margin-bottom: return-ems(30px,18px);
	}
	@media(min-width:$break-4) {
		p {
			margin-bottom: 50px;
		}
	}
	@media(min-width:$break-5) {
		p {
			width: 65%;
		}
	}
	.team-listing {
		display: flex;
		flex-direction: row;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		justify-content: space-between;
		width: 100%;
	}
	figure {
		display: block;
		width: 100%;
		float: left;
		margin: 0 0 40px;
		border: 1px solid #d7d8d8;
		@media (max-width:$break-small-tablet-max) {
			display: block !important;
		}
		@media (min-width:$break-3) {
			width: 45%;
		}
		@media (min-width:$break-3) {
		}
		@media (min-width:$break-5) {
			width: 290px;
		}
		img {
			border-bottom: 1px solid #d7d8d8;
			width: 100%;
			height: auto;
		}
		figcaption {
			border-top: none;
			padding: 20px;
			font-size: px-to-ems(21px);
			font-family: $font-stack-quadon;
			color: $color-purple;
			letter-spacing: -1px;
			span {
				display: block;
				font-size: return-ems(13px,21px);
				color: $color-gray-text;
				font-family: $font-stack-default;
				letter-spacing: 0;
			}
		}
	}
}
#team-nav {
	display: none;
	@include delist();
	margin-bottom: 30px;
	@media (min-width:$break-4) {
		display: block;
	}
	li {
		@media(min-width:$break-4) {
			display: inline-block;
		}
		a {
			text-decoration: none;
			display: block;
			padding: 10px 15px;
			font-family: $font-stack-quadon;
			color: $color-gray-text;
			&.active {
				background-color: #f1f5f6;
				border-radius: 3px;
				text-decoration: underline;
			}
		}
	}
}
#video-nav {
	font-size: px-to-ems(18px);
	margin-top: return-ems(30px,18px);
	text-align: center;
	display: none;
	@include delist();
	@media (min-width:$break-4) {
		display: block;
	}
	li {
		@media(min-width:$break-4) {
			display: inline-block;
		}
		a {
			text-decoration: none;
			display: block;
			padding: return-ems(10px,18px) return-ems(15px,18px);
			font-family: $font-stack-quadon;
			color: $color-gray-text;
			&.active {
				background-color: #f1f5f6;
				border-radius: 3px;
				text-decoration: underline;
			}
			@media (min-width:$break-5) {
				padding: return-ems(10px,18px) return-ems(20px,18px);
			}
		}
	}

}
/* =Case Study Pages
// ========================================================================== */
#project-overview {
	background: $color-white;
	margin-top:px-to-ems(75px);
	padding: px-to-ems(60px) px-to-ems(25px) px-to-ems(62px);
	.background {
		display: none;
	}
	@media (min-width:$break-4) {
		margin-top: px-to-ems(96px);
		padding: px-to-ems(64px) px-to-ems(20px) px-to-ems(131px);
		position: relative;
		.page-case-study.brand & {
			padding-bottom:px-to-ems(46px);
		}
		.wrapper {
			position: relative;
			z-index:3;
		}
		.background {
			display: block;
			position: absolute;
			top:px-to-ems(108px);
			left:50%;
			margin-left:px-to-ems(-1012px);
			width: px-to-ems(2024px);
			img {
				display: block;
				margin:0 auto;
			}
			.bob-rogers-travel & {
				top:px-to-ems(128px);
			}
		}
	}
	@media (min-width:$break-5) {
		padding: px-to-ems(64px) calc(50% - 470px) px-to-ems(131px);
		.page-case-study.brand & {
			padding-bottom:px-to-ems(46px);
		}
		.penrose-studios & {
			padding-bottom:px-to-ems(90px);
		}
	}
	h1 {
		color: #4a56a2;
		font-family: $font-stack-quadon;
		font-size: px-to-ems(30px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: return-ems(32px,30px);
		@media (min-width:$break-2) {
			font-size: px-to-ems(34px);
			line-height: return-ems(36px,34px);
		}
		@media (min-width:$break-4) {
			font-size: px-to-ems(50px);
			line-height: return-ems(52px,50px);
		}
	}
	h2 {
		color: $color-purple;
		font-family: $font-stack-quadon;
		font-size: px-to-ems(28px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: 1;
		margin-bottom: return-ems(25px,28px);
		@media (min-width:$break-3) and (max-width:$break-small-tablet-max) {
			br {
				display: none;
			}
		}
		@media (min-width:$break-2) {
			font-size: px-to-ems(32px);
			line-height: 1;
			margin-bottom: return-ems(25px,32px);
		}
		@media (min-width:$break-4) {
			font-size: px-to-ems(40px);
			line-height: return-ems(50px,40px);
			margin-bottom: return-ems(25px,40px);
		}
	}
	.brand-logo {
		margin-bottom: px-to-ems(27px);
	}
	.content {
		color: #858585;
		font-size: px-to-ems(18px);
		line-height: return-ems(25px,18px);
		p + p {
			margin-top: return-ems(25px,18px);
		}
		@media (min-width:$break-4) {
			p {
				width:49.2%;
			}
			.key-bank &, .keybank & p + p {
				width: 70%;
			}
			.ariens & p + p {
				width: 60%;
			}

		}
		.key-bank &, .keybank &, .ariens & {
			@media (min-width:$break-4) and (max-width:$break-tablet-max) {
				margin-bottom: return-ems(125px,18px);
			}
		}
	}
	.link {
		margin-top: return-ems(56px,18px);
	}
	.penrose-studios & .link {
		@media (min-width:$break-5) {
			margin-top: return-ems(-55px,18px);
		}
	}
}
#case-study-nav {
	font-family: $font-stack-quadon;
	margin:0 px-to-ems(-25px) px-to-ems(25px);
	text-align: center;
	@media (min-width:$break-3) {
		text-align: left;
		margin-left:0;
		margin-right:0;
	}
	@media (min-width:$break-5) {
		margin: 0;
		position: absolute;
		right:px-to-ems(-15px);
		top:px-to-ems(12px);
		text-align: left;
	}
	ul {
		margin:0;
		padding:0;
		list-style-type: none;
	}
	li {
		color: #858585;
		display: inline-block;
		font-size: px-to-ems(14px);
		@media (max-width:$break-small-tablet-max) {
			&.current {
				display: none;
			}
		}
		@media (min-width:$break-5) {
			font-size: px-to-ems(18px);
		}
		&:first-child {
			border-left:0;
			padding-left:0;
		}
		&:last-child {
			padding-right:0;
		}
	}
	a {
		color: inherit;
		display: inline-block;
		padding:return-ems(10px,14px) return-ems(15px,14px);
		@media (max-width:$break-small-tablet-max) {
			background: #f1f5f6;
			border-radius:3px;
		}
		@media (min-width:$break-5) {
			padding:return-ems(10px,18px) return-ems(15px,18px);
		}
		text-decoration: none;
		&:active {
			color: inherit;
		}
	}
	span {
		background: #f1f5f6;
		border-radius:3px;
		color: inherit;
		display: inline-block;
		padding:return-ems(10px,18px) return-ems(15px,18px);
		@media (min-width:$break-5) {
			padding:return-ems(10px,18px) return-ems(15px,18px);
		}
		text-decoration: underline;
	}
}
.video-navigation {
	font-family: $font-stack-quadon;
	margin:px-to-ems(14px) 0 px-to-ems(25px);
	@media (min-width:$break-3) {
		margin-left:0;
		margin-right:0;
	}
	@media (min-width:$break-5) {
		margin: px-to-ems(24px) 0 px-to-ems(27px);
	}
	ul {
		margin:0;
		padding:0;
		list-style-type: none;
	}
	li {
		color: #858585;
		display: inline-block;
		font-size: px-to-ems(14px);
		@media (max-width:$break-small-tablet-max) {
			&.current {
			//	display: none;
			}
		}
		@media (min-width:$break-5) {
			font-size: px-to-ems(18px);
		}
		&:first-child {
			border-left:0;
			padding-left:0;
		}
		&:last-child {
			padding-right:0;
		}
	}
	a {
		color: inherit;
		display: inline-block;
		padding:return-ems(10px,14px) return-ems(15px,14px);
		@media (max-width:$break-small-tablet-max) {
			background: #f1f5f6;
			border-radius:3px;
		}
		@media (min-width:$break-5) {
			padding:return-ems(10px,18px) return-ems(15px,18px);
		}
		text-decoration: none;
		&:active {
			color: inherit;
		}
	}
	span {
		background: #f1f5f6;
		border-radius:3px;
		color: inherit;
		display: inline-block;
		padding:return-ems(10px,14px) return-ems(15px,14px);
		@media (min-width:$break-5) {
			padding:return-ems(10px,18px) return-ems(15px,18px);
		}
		text-decoration: underline;
	}
}
#project-hero-header {
	position: relative;
	.wrapper {
		@include center;
		max-width:px-to-ems(662px);
		position: relative;
	}
	h1 {
		color:$color-purple;
		font-family: $font-stack-quadon-regular;
		font-size: px-to-ems(21px);
		font-weight: 400;
		letter-spacing: -2px;
		margin-bottom: return-ems(40px,21px);
		margin-left: return-ems(25px,21px);
		margin-right: return-ems(25px,21px);
		text-align: center;
		@media (min-width:$break-2) {
			br {
				display: none;
			}
		}
		@media (min-width:layout-ems(664px)) {
			margin-left: 0;
			margin-right: 0;
		}
		@media (min-width:$break-4) {
			font-size: px-to-ems(25px);
			margin-bottom: return-ems(40px,25px);
		}
	}
	.brand-logo {
		display: none;
		@media (min-width:layout-ems(664px)) {
			display: block;
			position: absolute;
			top:0;
			right:0;
		}
	}
}
#project-hero {
	background: $color-white;
	position: relative;
	z-index:3;
	@media (max-width:$break-small-tablet-max) {
		background-image: none !important;
	}
	@media (min-width:$break-4) {
		background-position: center center;
		background-repeat: no-repeat;
	}
	.website &,
	.brand & {
		text-align: center;
	}
	.website & picture,
	.brand & picture {
		display: inline-block;
	}
	img {
		display: block;
		height: auto;
		overflow: hidden;
		max-width: 100%;
		.website & {
			box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
		}
	}
	.wrapper {
		@include center;
		max-width: px-to-ems(662px);
		position: relative;
	}
	.video-container {
		margin-bottom: px-to-ems(32px);
	}
	.video-meta {
		@include clearfix;
	}
	.videos & {
		h4 {
			color:#4b4b4b;
			font-family: $font-stack-bold;
			font-size: px-to-ems(18px);
			font-weight: 400;
			line-height: return-ems(25px,18px);
			margin-bottom: return-ems(8px,18px);
			padding:0 return-ems(25px,18px);
			@media (min-width:$break-3) {
				float: left;
				margin-bottom: 0;
				padding:0 0 0 return-ems(25px,18px);
			}
			@media (min-width:layout-ems(664px)) {
				padding:0;
			}
		}
		.video-time {
			padding:0 return-ems(25px,16px);
			@media (min-width:$break-3) {
				float: right;
				padding:0 return-ems(25px,16px) 0 0;
			}
			@media (min-width:layout-ems(664px)) {
				padding:0;
			}
		}
	}
	.hero-video {
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
		margin-bottom: px-to-ems(19px);
		position: relative;
		&:hover {
			&:after {
				background: rgba(126,1,99,.8);
				content: '';
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				right:0;
				z-index:2;
			}
		}
	}
	.videos & .hero-video:not(:first-child) {
		margin-top: px-to-ems(19px);
	}

}
.hover-image {
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	opacity:0;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	transition: opacity 0.5s;
	z-index:1;
	img {
		height: auto;
		max-width: 100%;
	}
}
.hero-video:hover,
.video-container:hover,
.large-video:hover {
	.hover-image {
		opacity:1;
	}
}
.video-play {
	background: url(/_img/video-play-rev.png) no-repeat center center;
	@include image-2x('/_img/video-play-2x-rev.png', 50px, 50px);
	position: absolute;
	top:50%;
	left:50%;
	margin-left:px-to-ems(-25px);
	margin-top:px-to-ems(-25px);
	height: px-to-ems(50px);
	width: px-to-ems(50px);
	z-index:3;
}
.longvids-header {
	@include center;
	max-width: px-to-ems(664px);
	position: relative;
	h1 {
		color:$color-purple;
		font-family: $font-stack-quadon-regular;
		font-size: px-to-ems(25px);
		font-weight: 400;
		letter-spacing: -2px;
		margin-bottom: return-ems(40px,25px);
		margin-left: return-ems(25px,25px);
		@media (min-width:layout-ems(664px)) {
			margin-left: 0;
		}
	}
}
.longvids {
	@media (max-width:$break-small-tablet-max) {
		background-image: none !important;
	}
	@media (min-width:$break-4) {
		background-position: center center;
		background-repeat: no-repeat;
	}
	.large-video {
		position: relative;
		@include center;
		max-width: px-to-ems(664px);
	}
	.large-video:not(.video-1) {
		margin-top: px-to-ems(19px);
	}
	img {
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
		display: block;
		height: auto;
		overflow: hidden;
		max-width: 100%;
	}
	h4 {
		color: $color-white;
		font-size: px-to-ems(18px);
		position: absolute;
		top:px-to-ems(40px);
		left:px-to-ems(39px);
		z-index:2;
	}
}
#project-features {
	background:$color-white;
	position: relative;
	padding-top:px-to-ems(45px);
	padding-bottom: px-to-ems(120px);
	z-index:2;
	@media (min-width:$break-4) {
		background:transparent;
		padding-top:px-to-ems(90px);
		padding-bottom: px-to-ems(158px);
		.videos & {
			padding-top: px-to-ems(53px);
		}
	}
	.wrapper {
		position: relative;
		z-index:2;
		@media (min-width:$break-5) {
			@include center;
			max-width:px-to-ems(800px);
		}
	}
	article {
		padding:0 px-to-ems(18px);
		position: relative;
		h3 {
			color: #4a56a2;
			font-family: $font-stack-quadon-regular;
			font-size: px-to-ems(18px);
			font-weight: 400;
			letter-spacing: -2px;
			margin-bottom: return-ems(15px,18px);
			@media (max-width:$break-small-tablet-max) {
				font-size: px-to-ems(18px);
				margin-bottom: return-ems(17px,18px);
			}
			&:before {
				border:2px solid $color-purple;
				border-radius:50%;
				content: '';
				height: return-ems(10px,18px);
				position: absolute;
				top:return-ems(5px,18px);
				left:0;
				width: return-ems(10px,18px);
				@media (max-width:$break-small-tablet-max) {
					height: return-ems(10px,18px);
					top:return-ems(6px,18px);
					width: return-ems(10px,18px);
				}
			}
		}
		p {
			font-size: px-to-ems(14px);
			line-height: return-ems(18px,14px);
			@media (max-width:$break-small-tablet-max) {
				font-size: px-to-ems(15px);
				line-height: return-ems(18px,15px);
			}
		}
	}
	.feature-points {
		@include delist;
		@include clearfix;
		margin-bottom: px-to-ems(53px);
		li {
			margin-top:px-to-ems(28px);
			&:first-child {
				margin-top:0;
			}
		}
		@media (max-width:$break-tablet-max) {
			margin-left:px-to-ems(25px);
			margin-right:px-to-ems(25px);
		}
		@media (min-width:$break-4) {
			li {
				float: left;
				margin-top: 0;
				width: 33.333%;
			}
		}
	}
	p {
		font-size: px-to-ems(12px);
		line-height: return-ems(15px,12px);
	}
	.btn {
		position: relative;
		z-index:2;
	}
	.content-block {
		@include center;
		color: #858585;
		position: relative;
		z-index:2;
		padding:0 px-to-ems(25px);
		max-width: px-to-ems(704px);
		p {
			font-size: px-to-ems(18px);
			line-height: return-ems(25px,18px);
		}
		.ariens & {
			padding: px-to-ems(50px) px-to-ems(25px) px-to-ems(30px);
		}
	}
}
#responsive-views {
	text-align: center;
}
.responsive-views {
	display: inline-block;
	margin-bottom: px-to-ems(68px);
	position: relative;
	z-index:2;
	img {
		height: auto;
		max-width: 100%;
	}
}
.video-block,
.photo-block {
	@include clearfix;
	@include center;
	margin-top: px-to-ems(44px);
	position: relative;
	padding:0 px-to-ems(25px);
	max-width: px-to-ems(704px);
	z-index:2;
	@media (min-width:$break-4) {
		padding-bottom: px-to-ems(70px);
	}
	h3 {
		color:$color-purple;
		font-family: $font-stack-quadon-regular;
		font-size: px-to-ems(21px);
		font-weight: 400;
		letter-spacing: -2px;
		margin-bottom: return-ems(25px,21px);
		@media (min-width:$break-2) {
			br {
				display: none;
			}
		}
		@media (min-width:$break-4) {
			font-size: px-to-ems(25px);
			margin-bottom: return-ems(25px,25px);
		}
	}
	.vignette {
		cursor: pointer;
		position: relative;
		picture {
			position: relative;
			&:hover:after {
				background: rgba(126,1,99,.8);
				content: '';
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				right:0;
				z-index:2;
			}
		}
	}
	.video-container,
	.photo {
		position: relative;
		img {
			display: block;
			height: auto;
			max-width: 100%;
		}
		@media (max-width:$break-mobile-max) {
			@include center;
			max-width:px-to-ems(320px);
			&:not(.video-1),
			&:not(.photo-1) {
				margin-top:px-to-ems(32px);
			}
		}
		@media (min-width:$break-3) {
			float: left;
			width: 48%;
			&.video-1,&.video-3,&.video-5,
			&.photo-1,&.photo-3,&.photo-5 {
				margin-right:4%;
			}
			&.video-3,&.video-4,&.video-5,&.video-6,
			&.photo-3,&.photo-4,&.photo-5,&.photo-6 {
				margin-top:px-to-ems(32px);
			}
		}
	}
	.photo {
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	}
	h4 {
		color: #858585;
		font-size: px-to-ems(18px);
		font-weight: 400;
		margin-top: return-ems(19px,18px);
		padding:0 return-ems(18px,18px);
	}
	.video-play {
		top:px-to-ems(66px);
		margin-top: 0;
	}
}
#show-sites .photo-block {
	.photo {
		box-shadow: none;
	}
	picture {
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	}
}
.video-block {
	.video-entry {
		position: relative;
		&:hover {
			&:after {
				background: rgba(126,1,99,.8);
				content: '';
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				right:0;
				z-index:2;
			}
		}
	}
}
#featured-video {
	.video-entry {
		&:hover {
			&:after {
				background: rgba(126,1,99,.8);
				content: '';
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				right:0;
				z-index:2;
			}
		}
	}
}
.page-case-study .video-container picture {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
/* Penrose Case Study */
/*.tribeca {
	@media (min-width:$break-5) {
		position: absolute;
		left:57%;
		bottom:return-ems(93px,18px);
	}
}*/
/* =Slick
// ========================================================================== */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    min-height: 1px;
    outline:none;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.fp-destroyed .fp-tableCell {
	height: auto !important;
	position: static;
}

#error-content {
	background: $color-white;
	margin-top:px-to-ems(75px);
	min-height: px-to-ems(600px);
	padding:px-to-ems(72px) px-to-ems(20px) 0;
	position: relative;
	@media (min-width:$break-4) {
		background: transparent;
		.wrapper {
			position: relative;
			z-index:2;
		}
	}
	@media (min-width:$break-5) {
		padding:px-to-ems(72px) calc(50% - 470px) 0;
	}
	h1 {
		font-family: $font-stack-quadon;
		font-size: return-ems(34px,16px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: 1;
		margin-bottom: 25px;
		color: $color-purple-text;
		@media (min-width:$break-4) {
			font-size: return-ems(50px,16px);
		}
	}
	ul {
		padding:0 0 0 px-to-ems(16px);
		margin: 0;
	}
	p,li {
		font-size: px-to-ems(18px);
		line-height: return-ems(25px,18px);
	}
	p + p, p + ul, ul + p {
		margin-top: return-ems(25px,18px);
	}
	a {
		color: $color-purple-text;;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	#mask-7 {
		z-index:2;
	}
}

.back-to-top {
    opacity: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    background: $color-purple url(/_img/up-2x.png) no-repeat center center;
    background-size: 29px 18px;
    margin: 10px 0 0;
    position: fixed;
    bottom: 25px;
    right: 25px;
    transition: opacity 0.5s;
	z-index:20;
    &.active {
        opacity: 1;
    }
	@media (min-width:$break-4) {
		display: none !important;
	}
}
/* =Recruitment Brand Page
// ========================================================================== */
#nav-contact {
	font-size: px-to-ems(14px);
	position: absolute;
	right:px-to-ems(25px);
	text-transform: uppercase;
	top:return-ems(28px,14px);
	a {
		color: $color-white;
		text-decoration: none;
	}
	@media (max-width:$break-small-tablet-max) {
		display: none;
	}
	@media (min-width:$break-5) {
		right:px-to-ems(10px);
	}
}
#nav-secondary {
	background:#bd80af;
	position: fixed;
	left:0;
	right:0;
	z-index:5;
	ol {
		@include delist;
	}
	li {
		color: $color-white;
	//	font-family: $font-stack-quadon;
		position: relative;
		text-transform: uppercase;
	}
	span {
	//	text-decoration: underline;
	}
	a {
		color: inherit;
		font-size: px-to-ems(14px);
		text-decoration: none;
	}
	.page-work & a[href*="work"]:after,
	.page-case-study & a[href*="work"]:after,
	.page-recruitment-page & a[href*="employment"]:after,
	.page-video-production & a[href*="video"]:after,
	.page-video-process & a[href*="video"]:after {
		background:$color-white;
		border-radius: 50%;
		bottom:0;
		content: '';
		display: block;
		height: return-ems(6px,14px);
		left:50%;
		margin-left:return-ems(-3px,14px);
		position:absolute;
		width: return-ems(6px,14px);
	}
	@media (max-width:$break-small-tablet-max) {
		height: px-to-ems(35px);
		padding-top:px-to-ems(7px);
		text-align: center;
		top:px-to-ems(75px);
		li {
			display: inline;
			span {
				display: none;
			}
		}
		li:not(:first-child):before {
			content:" / ";
		}
		a {
			display: inline-block;
			font-size: px-to-ems(12px);
			padding-bottom:return-ems(13px,12px);
			position: relative;
		}
		.active {
			color: $color-purple;
		}
		.page-work & a[href*="work"]:after,
		.page-case-study & a[href*="work"]:after,
		.page-recruitment-page & a[href*="employment"]:after,
		.page-video-production & a[href*="video"]:after,
		.page-video-process & a[href*="video"]:after {
			height: return-ems(6px,12px);
			margin-left: return-ems(-3px,12px);
			width: return-ems(6px,12px);
		}
	}
	@media (min-width:$break-4) {
		height: px-to-ems(44px);
		padding-top: px-to-ems(13px);
		position: fixed;
		left:0;
		right:0;
		top:px-to-ems(72px);
		ol {
			@include center;
			max-width:px-to-ems(960px);
			padding-right: px-to-ems(10px);
			text-align: right;
			li {
				display: inline-block;
				padding-bottom: px-to-ems(15px);
				position: relative;
			}
		}
		.nav-contact {
			display: none;
		}
		a {
			display: block;
			padding:0 return-ems(15px,14px);
		}
		li:last-child a {
			padding-right:0;
		}
		a:hover {
			
		}
		.active {
			
		}
	}
	@media (min-width:layout-ems(830px)) {
	/*	a,span {
			font-size: px-to-ems(18px);
			padding:0 return-ems(20px,18px);
		} */
	}

}
#nav-button-recruitment {
	@extend #nav-button;
}
.recruitment-header {
	color: #858585;
	@include center;
	padding:0 px-to-ems(25px);
	max-width: px-to-ems(710px);
	h1 {
		color: $color-purple;
		font-family: $font-stack-quadon-regular;
		font-weight: 400;
		font-size: px-to-ems(25px);
		letter-spacing: -2px;
		line-height: 1;
		margin-bottom: return-ems(31px,25px);
	}
}
.recruitment-heading {
	@include center;
	color: $color-purple;
	font-family: $font-stack-quadon-regular;
	font-weight: 400;
	font-size: px-to-ems(25px);
	letter-spacing: -2px;
	line-height: 1;
	margin-bottom: return-ems(31px,25px);
	padding:0 return-ems(25px,25px);
	max-width: return-ems(710px,25px);
}
#custom-photography h2 {
	@include center;
	color: #858585;
	font-family: $font-stack-bold;
	font-size: px-to-ems(18px);
	line-height: 1;
	margin-bottom: return-ems(22px,18px);
	padding:0 return-ems(25px,18px);
	max-width: return-ems(710px,18px);
}

.page-recruitment-page {
	.video-block,
	.photo-block {
		margin-top: 0;
		max-width: px-to-ems(710px);
		@media (min-width:$break-3) {
			padding-bottom: px-to-ems(70px);
		}
		h4 {
			line-height: return-ems(25px,18px);
			padding:0;
			strong {
				font-family: $font-stack-bold;
			}
		}
	}
	.video-container,
	.photo {
		@media (min-width:$break-3) {
			float:left;
			width: 48.375%;
			&:nth-child(odd) {
				margin-right:3.25%;
			}
		}
	}
	.video-container {
		position: relative;
		@media (min-width:$break-3) {
			&:nth-child(n+3) {
				margin-top: px-to-ems(35px);
			}

		}
	}
	.photo {
		@media (min-width:$break-3) {
			width: 48.375%;
			&:nth-child(n+3) {
				margin-top:3.25%;
			}
		}
	}
	.photo-block-1 {
		margin-bottom: px-to-ems(43px);
		@media (min-width:$break-3) {
			padding-bottom: 0;
		}
	}
	#career-websites .photo-block .photo {
		&:nth-child(n+3) {
			margin-top:px-to-ems(44px);
		}
	}
}
.page-recruitment-page .content {
	font-size: px-to-ems(18px);
	line-height: return-ems(25px,18px);
	margin-bottom: return-ems(48px,18px);
	&.full-width {
		margin-bottom: 0;
	}
	p {
		margin-bottom: 0;
		& + p {
			margin-top: return-ems(25px,18px);
		}
	}
}
#employment-branding {
	@extend #project-overview;
	@media (min-width:$break-4) {
		background: url(/_img/recruitment-page/recruitment-intro-background.jpg) no-repeat center -30px;
		@include image-2x('/_img/recruitment-page/recruitment-intro-background-2x.jpg', 2023px, 702px);
		margin-top:px-to-ems(72px);
		padding-top: px-to-ems(109px);
		padding-bottom: px-to-ems(102px);
	}
	strong {
		color: #494949;
		font-family: $font-stack-bold;
		font-weight: normal;
	}
	h1 {
		margin-bottom: return-ems(58px,50px);
		width: return-ems(298px,50px);
	}
	h2 {
		margin-bottom: return-ems(44px,32px);
		width: return-ems(350px,32px);
		@media (min-width:$break-4) {
			margin-bottom: return-ems(44px,40px);
			width: return-ems(350px,40px);
		}
	}
	.full-width {
		padding-top: return-ems(34px,18px);
		position: relative;
		@media (min-width:$break-4) {
			p {
				padding-right: return-ems(284px,18px);
				width: 100%;
			}
			picture {
				position: absolute;
				right:return-ems(-14px,18px);
				top:0;
			}
		}
	}
	.content {
		p + p {
			margin-top: return-ems(15px,18px);
		}
	}
}
#by-the-numbers {
	margin-bottom: px-to-ems(42px);
	ul {
		@include delist;
		@include clearfix;
		@media (max-width:$break-tablet-max) {
			max-width: px-to-ems(480px);
		}
		li {
			display: block;
			float: left;
			font-size: px-to-ems(18px);
			padding-left: return-ems(90px,18px);
			padding-right:return-ems(10px,18px);
			position: relative;
			text-transform: uppercase;
			max-width: return-ems(240px,18px);
			&:not(:first-child) {
				margin-top: return-ems(25px,18px);
			}
			@media (min-width:layout-ems(520px)) {
				width: 50%;
				&:nth-child(2) {
					margin-top: 0;
				}
			}

			@media (min-width:$break-5) {
				width: 25%;
				&:nth-child(3),
				&:nth-child(4) {
					margin-top: 0;
				}
			}
			&:first-child {
				color: #4a589f;
				em {
					background-color: #4a589f;
				}
			}
			&:nth-child(2) {
				color: $color-purple;
				em {
					background-color: $color-purple;
				}
			}
			&:nth-child(3) {
				color:#279cf1;
				em {
					background-color:#279cf1;
				}
			}
			&:nth-child(4) {
				color:#bd80af;
				em {
					background-color:#bd80af;
				}
			}
		}
		span {
			display: table-cell;
			height: return-ems(72px,18px);
			vertical-align: middle;
		}
	}
	em {
		border-radius: 5px;
		color: $color-white;
		display: block;
		font-family: $font-stack-quadon;
		font-size: return-ems(36px,18px);
		font-style: normal;
		font-weight: normal;
		letter-spacing: -2px;
		line-height: return-ems(72px,36px);
		height: return-ems(72px,36px);
		text-align: center;
		width: return-ems(72px,36px);
		position: absolute;
		top:0;
		left:0;
	}
}
#career-websites {
	.link {
		margin-top: px-to-ems(28px);
	}
}
#career-websites,
.recruitment-page #video-production,
.page-recruitment-page #video-production,
.page-recruitment #video-production {
	@media (max-width:$break-mobile-max) {
		margin-bottom: px-to-ems(73px);
	}
}
#show-sites {
	@media (min-width:$break-3) {
		background: url(/_img/recruitment-page/career-websites.jpg) no-repeat center 39px;
	}
}
#custom-photography {
	padding-bottom: px-to-ems(120px);
	position: relative;
	z-index:2;
	@media (min-width:$break-4) {
		padding-bottom: px-to-ems(158px);
	}
}

// Video Production Landing Page
.video-production-portfolio {
	margin-top: px-to-ems(72px);
	padding-top:px-to-ems(60px);
	padding-bottom: px-to-ems(62px);
	@media (min-width:$break-4) {
		margin-top:px-to-ems(134px);
		padding-top: px-to-ems(43px);
		padding-bottom: px-to-ems(60px);
	}
	.wrapper {
		@include clearfix;
		@include center;
		padding-left:px-to-ems(25px);
		padding-right:px-to-ems(25px);
		@media (min-width:$break-4) {
			padding-left:px-to-ems(20px);
			padding-right:px-to-ems(20px);
		}
		@media (min-width:$break-5) {
			padding-left: calc(50% - 470px);
			padding-right: calc(50% - 470px);
		}
	}
	.introduction {
		@media (min-width:$break-4) {
			float:left;
			width: 59%;
		}
	}
	#featured-video {
		@include center;
		margin-top: px-to-ems(52px);
		max-width: px-to-ems(660px);
		@media (min-width:$break-4) {
			float: right;
			width: 34.25%;
		}
	}
	.section-1 {
		padding-bottom: px-to-ems(45px);
	}
	.section-2 {
		background: url(/_img/video-production-background.jpg) no-repeat center top;
		padding-top: px-to-ems(48px);
	}
	h1 {
		color: #4a56a2;
		font-family: $font-stack-quadon;
		font-size: px-to-ems(30px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: return-ems(32px,30px);
		@media (min-width:$break-2) {
			font-size: px-to-ems(34px);
			line-height: return-ems(36px,34px);
		}
		@media (min-width:$break-4) {
			font-size: px-to-ems(50px);
			line-height: return-ems(52px,50px);
		}
	}
	h2 {
		color: $color-purple;
		font-family: $font-stack-quadon;
		font-size: px-to-ems(28px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: 1;
		margin-bottom: return-ems(25px,28px);
		@media (min-width:$break-3) and (max-width:$break-small-tablet-max) {
			br {
				display: none;
			}
		}
		@media (min-width:$break-2) {
			font-size: px-to-ems(32px);
			line-height: 1;
			margin-bottom: return-ems(25px,32px);
		}
		@media (min-width:$break-4) {
			font-size: px-to-ems(40px);
			line-height: return-ems(50px,40px);
			margin-bottom: return-ems(25px,40px);
		}
	}
	.content {
		color: #858585;
		font-size: px-to-ems(18px);
		line-height: return-ems(25px,18px);
		p + p {
			margin-top: return-ems(25px,18px);
		}
	}
	.video-play {
		z-index:4;
	}
	.title-block {
		color: $color-white;
		position: absolute;
		left:px-to-ems(20px);
		top:px-to-ems(20px);
		visibility: hidden;
		z-index:3;
	}
	.video-entry {
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
		position:relative;
		&:hover {
			.title-block {
				visibility: visible;
			}
		}
		h3 {
			font-size: px-to-ems(16px);
			font-family: $font-stack-bold;
		}
		h4 {
			font-size: px-to-ems(16px);
		}
		img {
			display:block;
			height: auto;
			max-width: 100%;
		}
	}
	.brand-logo {
		margin: px-to-ems(12px) 0 0 px-to-ems(20px);
		padding:0;
	}
}
.page-video-production {
	.process {
		padding-bottom:px-to-ems(64px);
		position: relative;
		z-index:2;
		@media (min-width:$break-4) {
			padding-bottom: px-to-ems(133px);
		}
		.link {
			position: relative;
			text-align: center;
			z-index:3;
		}
	}
	.video-block{
		margin-top: px-to-ems(30px);
		padding:0;
		max-width: px-to-ems(660px);
		h4 {
			line-height: return-ems(25px,18px);
			padding:0;
			strong {
				font-family: $font-stack-bold;
			}
		}
		@media (min-width:$break-3) {
		    display: flex;
		    flex-direction: row;
		    -webkit-flex-flow: row wrap;
		    flex-flow: row wrap;
		    justify-content: space-between;
		    margin-top: 0;
		    width: 100%;
		    // I need this so the last item in the grid will space out properly
		    // https://mixitup.kunkalabs.com/learn/tutorial/responsive-grids/
		    &:after {
			    content: '';
				display: block;
				width: 100%;
			}
		}
		.video-container {
			margin-top: px-to-ems(35px);
			@media (max-width:$break-small-tablet-max) {
				display: block !important;
				@include center;
				max-width:px-to-ems(320px);
			}
			@media (min-width:$break-3) {
				display: block;
				width: 48.375%;
			}
		}
	}
	.video-entry {
		h3 {
			color: $color-white;
			letter-spacing: 0;
			margin-bottom: 0;
		}
		h4 {
			color:$color-white;
			margin-top: 0;
		}
	}
}
.video-process {
	position: relative;
	z-index:2;
	margin-top: px-to-ems(72px);
	padding-top:px-to-ems(60px);
	padding-bottom: px-to-ems(62px);
	padding-left:px-to-ems(25px);
	padding-right:px-to-ems(25px);
	@media (min-width:$break-4) {
		margin-top:px-to-ems(134px);
		padding: px-to-ems(43px) px-to-ems(20px) px-to-ems(54px);
	}
	@media (min-width:$break-5) {
		padding-left: calc(50% - 470px);
		padding-right: calc(50% - 470px);
	}
	h1 {
		color: #4a56a2;
		font-family: $font-stack-quadon;
		font-size: px-to-ems(30px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: return-ems(32px,30px);
		@media (min-width:$break-2) {
			font-size: px-to-ems(34px);
			line-height: return-ems(36px,34px);
		}
		@media (min-width:$break-4) {
			font-size: px-to-ems(50px);
			line-height: return-ems(52px,50px);
		}
	}
	h2 {
		color: $color-purple;
		font-family: $font-stack-quadon;
		font-size: px-to-ems(28px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: 1;
		margin-bottom: return-ems(25px,28px);
		@media (min-width:$break-3) and (max-width:$break-small-tablet-max) {
			br {
				display: none;
			}
		}
		@media (min-width:$break-2) {
			font-size: px-to-ems(32px);
			line-height: 1;
			margin-bottom: return-ems(25px,32px);
		}
		@media (min-width:$break-4) {
			font-size: px-to-ems(40px);
			line-height: return-ems(50px,40px);
			margin-bottom: return-ems(25px,40px);
		}
	}
	.content {
		margin-bottom: return-ems(54px,18px);
		p {
			width:100%;
		}
	}
	.links {
		margin:0 return-ems(25px,18px);
		text-align: center;
		@media (min-width:layout-ems(608px)) {
			margin: 0;
		}
	}
	.btn {
		display: inline-block;
		& + .btn {
			margin-top: return-ems(20px,18px);
			margin-left: return-ems(10px,18px);
			margin-right: return-ems(10px,18px);
			@media (min-width:layout-ems(608px)) {
				margin-left: return-ems(20px,18px);
				margin-right: 0;
				margin-top: 0;
			}
		}
	}
	.btn[data-target="#free-templates"] {
		max-width: return-ems(318px,18px);
		width:100%;
	}
}
#process-explained {
	padding-bottom:px-to-ems(62px);
	position: relative;
	z-index:2;
	@media (min-width:$break-4) {
		padding-bottom: px-to-ems(214px);
	}
	.section-heading {
		color: $color-purple-text;
		font-family: $font-stack-quadon;
		font-size: px-to-ems(30px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: 1;
		margin-bottom: return-ems(47px,30px);
		position: relative;
		z-index:2;
		span {
			@include center;
			background: $color-white;
			display: block;
			position: relative;
			text-align: center;
			width: return-ems(250px,30px);
			z-index:2;
		}
		&:after {
			content: '';
			background: #b5b5b5;
			height: return-ems(1px,30px);
			position: absolute;
			top:50%;
			left:-1000%;
			right:-1000%;
			z-index:1
		}
	}
	.step + .section-heading {
		margin-top: return-ems(75px,30px);
	}
}
.video-process {
	.section-heading {
		color: $color-purple;
		font-family: $font-stack-quadon;
		font-size: px-to-ems(36px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: 1;
		margin-bottom: return-ems(64px,36px);
		position: relative;
		z-index:2;
		span {
			@include center;
			background: $color-white;
			display: block;
			position: relative;
			text-align: center;
			width: return-ems(300px,36px);
			z-index:2;
		}
		&:after {
			content: '';
			background: #b5b5b5;
			height: return-ems(1px,36px);
			position: absolute;
			top:50%;
			left:-1000%;
			right:-1000%;
			z-index:1
		}
	}
	h2 {
		margin-bottom: 0;
	}
	.links {
		margin-top: px-to-ems(25px);
	}
}
.process-forms {
	margin-top: px-to-ems(40px);
}
.step-content {
	h4 {
		font-family: $font-stack-bold;
		font-size: px-to-ems(18px);
		font-weight: 400;
		line-height: 1;
		margin-bottom: return-ems(21px,18px);
	}
	.content {
		color: #858585;
		font-size: px-to-ems(18px);
		line-height: return-ems(25px,18px);
		margin-bottom: 0;
	}
	p + ul {
		margin-top: return-ems(25px,18px);
	}
	ul {
		margin:0;
		padding:0;
		li {
			list-style-type: none;
			padding-left: return-ems(18px,18px);
			position: relative;
			&:before {
				content: '\2022';
				position: absolute;
				left:0;
			}
		}
/*		@media (min-width:$break-4) {
			-webkit-column-count:2;
			-moz-column-count:2;
			-ms-column-count:2;
			column-count:2;
			li {
				list-style-type: none;
				padding-left: return-ems(18px,18px);
				position: relative;
				&:before {
					content: '\2022';
					position: absolute;
					left:0;
				}
			}
		} */
	}
}
.step {
	padding-left:px-to-ems(25px);
	padding-right:px-to-ems(25px);
	position: relative;
	z-index:2;
	figure {
		margin:0;
		padding:0;
	}
	@media (max-width:$break-mobile-max) {
		& + .step,
		.step-content {
			margin-top: px-to-ems(45px);
		}
	}
	@media (max-width:$break-small-tablet-max) {
		img {
			height: auto;
			max-width: 100%;
		}
	}
	@media (min-width:$break-3) {
		-webkit-display: flex;
		-moz-display: flex;
		-ms-display: flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		.step-image {
			width: 50%;
		}
		.step-content {
			width: 50%;
		}
		@include clearfix;
		&.left {
			.step-content {
				padding-left:1.5625%;
			}
		}
		&.right {
			-webkit-flex-direction: row-reverse;
			-moz-flex-direction: row-reverse;
			-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
			.step-content {
				padding-left:3.125%;
			}
			img {
				margin-left: px-to-ems(10px);
			}
		}
	}
	@media (min-width:$break-4) {
		padding: 0 calc(50% - 320px);
	}
}
.step + .links {
	position: relative;
	z-index:2;
}
.step-1 {
	@media (min-width:$break-4) {
		img {
			margin-left: px-to-ems(-46px);
		}
	}
}
.step-2 {
	@media (min-width:$break-4) {
		margin-top:px-to-ems(-37px);
	}
}
.step-3 {
	@media (min-width:$break-4) {
		margin-top: px-to-ems(-26px);
		img {
			margin-left:px-to-ems(-23px);
		}
	}
}
.step-4 {
	@media (min-width:$break-4) {
		margin-top:px-to-ems(-58px);
	}
}
.step-5 {
	@media (min-width:$break-4) {
		margin-top:px-to-ems(-47px);
		img {
			margin-left:px-to-ems(-90px);
		}
	}
}
.step-6 {
	@media (min-width:$break-4) {
		&.right img {
			margin-left: px-to-ems(26px);
		}
	}
}
.step-7 {
	@media (min-width:$break-4) {
		margin-top:px-to-ems(-5px);
		img {
			margin-left:px-to-ems(-62px);
		}
	}
}
.step-8 {
	@media (min-width:$break-4) {
		margin-top: px-to-ems(-69px);
		h4 {
			margin-top: return-ems(132px,18px);
		}
	}
}
.step-9 {
	@media (min-width:$break-4) {
		img {
			margin-left: px-to-ems(-45px);
		}
	}
}
.step-10 {
	@media (min-width:$break-4) {
		margin-top:px-to-ems(-8px);
		img {
			margin-left:px-to-ems(17px);
		}
	}
}
.step-11 {

	margin-bottom: px-to-ems(70px);

	@media (min-width:$break-3) {
		-webkit-align-content: top;
		-moz-align-content: top;
		-ms-align-content: top;
		align-content: top;
		img {
			margin-top: px-to-ems(-39px);
		}
	}
}
.video-request-form {
	position: relative;
	z-index:2;
}
.process-forms {
	position: relative;
	.success {
		display: none;
		margin-top:px-to-ems(-125px);
		text-align: center;
		p {
			color: #858585;
			font-size: px-to-ems(18px);
			line-height: return-ems(25px,18px);
		}
		img {
			margin:px-to-ems(29px) 0 px-to-ems(20px);
		}
		a {
			color: $color-purple;
			&:hover {
				color: $color-purple-text;
			}
		}
	}
}
.video-form {
	@include center;
	max-width:px-to-ems(690px);
	position: relative;
	&:after {
		background: rgba(255,255,255,.75) url(/_img/ajax-loader.gif) no-repeat center center;
		content: '';
		display: none;
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		.submit-show & {
			display: block;
		}
	}
	ol {
		@include clearfix;
		@include delist;
		li {
			@media (max-width:$break-small-tablet-max) {
				&:nth-child(n+2) {
					margin-top:px-to-ems(26px);
				}
			}
			@media (min-width:$break-4) {
				float: left;
				width: 31.33%;
				&:nth-child(n+2) {
					margin-left:3.005%;
				}
				&.submit {
					margin:return-ems(28px,18px) 0 0 34.335%;
				}
			}
		}
	}
	label {
		display: none;
	}
	input[type=text],
	input[type=email] {
		background:none;
		border:1px solid $color-light-purple;
		color: $color-light-purple;
		font-size: px-to-ems(18px);
		height: return-ems(50px,18px);
		outline: none;
		padding:0 return-ems(5px,18px);
		text-align: center;
		width:100%;
		&:focus {
			border-color: $color-purple;
			color:$color-purple;
		}
	}
	.btn {
		background: $color-purple;
		color: $color-white;
		outline:none;
		padding-top: 0;
		width: 100%;
	}
	.error input[type=email] {
		border:3px solid #7f65b0;
		background: $color-white;
		color:$color-purple-text;
	}
	textarea {
		background:none;
		border:1px solid $color-purple;
		color: $color-purple;
		font-size: px-to-ems(18px);
		height: return-ems(50px,18px);
		resize:none;
		padding:return-ems(14px,18px) return-ems(5px,18px);
		text-align: center;
		width:100%;
		&:focus {
		//	background: $color-white;
			border-color:$color-purple-text;
			color:$color-purple-text;
		}
	}
	.error input[type=email],
	.error textarea {
		border:3px solid #7f65b0;
		background: $color-white;
		color:$color-purple-text;
	}
	.error-message {
		color:#858585;
		position: absolute;
		top:px-to-ems(-40px);
		left:0;
		right:0;
		text-align: center;
	}
	::-webkit-input-placeholder {
	   color: $color-light-purple;
	   text-transform: lowercase;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $color-light-purple;
	   text-transform: lowercase;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $color-light-purple;
	   text-transform: lowercase;
	}

	:-ms-input-placeholder {
	   color: $color-light-purple;
	   text-transform: lowercase;
	}
	:focus::-webkit-input-placeholder {
		color: $color-purple;
	}
	:focus:-moz-placeholder { /* Firefox 18- */
	   color: $color-purple;
	}

	:focus::-moz-placeholder {  /* Firefox 19+ */
	   color: $color-purple;
	}

	:focus:-ms-input-placeholder {
		color: $color-purple;
	}
}
#free-templates-2 {
	position: relative;
	z-index:2;
}
#free-templates, #request-a-quote, #free-templates-2 {
	display: none;
}

/* New Contact Page */

#contact-content {
	margin-top:px-to-ems(75px);
	padding: px-to-ems(25px) px-to-ems(25px) px-to-ems(253px);
	position: relative;
	z-index:3;
	@media (min-width:$break-4) {
		margin-top: px-to-ems(72px);
		padding: px-to-ems(64px) px-to-ems(20px) px-to-ems(253px);
		position: relative;
	}
	@media (min-width:$break-5) {
		padding: px-to-ems(64px) calc(50% - 470px) px-to-ems(232px);
	}
	h1 {
		color: #4a56a2;
		font-family: $font-stack-quadon;
		font-size: px-to-ems(30px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: return-ems(32px,30px);
		margin-bottom: return-ems(58px,30px);
		position: relative;
		text-align: center;
		z-index:2;
		@media (min-width:$break-2) {
			font-size: px-to-ems(34px);
			line-height: return-ems(36px,34px);
			margin-bottom: returnoems(62px,34px);
		}
		@media (min-width:$break-4) {
			font-size: px-to-ems(50px);
			line-height: return-ems(52px,50px);
			margin-bottom: return-ems(78px,50px);
		}
	}
	h2 {
		color: $color-purple;
		font-family: $font-stack-quadon;
		font-size: px-to-ems(24px);
		font-weight: 400;
		margin-bottom: return-ems(16px,24px);
		text-align: center;
		text-transform: lowercase;
		@media (min-width:$break-2) {
			font-size: px-to-ems(28px);
			margin-bottom: return-ems(16px,28px);
		}
		@media (min-width:$break-4) {
			font-size: px-to-ems(40px);
			margin-bottom: return-ems(16px,40px);
		}

	}
	.error-header {
		margin-top: return-ems(-42px,20px);
		@media (min-width:$break-2) {
			margin-top: return-ems(-54px,28px);
		}
		@media (min-width:$break-4) {
			margin-top: return-ems(-65px,40px);
		}
	}
	#contact-form {
		@include clearfix;
		@include center;
		max-width:px-to-ems(700px);
		position: relative;
		z-index:3;
		&:before {
			background: rgba(255,255,255,.75) url(/_img/ajax-loader.gif) no-repeat center center;
			content: '';
			display: none;
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
		}
		&.submit-show:before {
			display: block;
		}
		@media (max-width:$break-small-tablet-max) {
			width:80%;
			.btn {
				width: 100%;
			}
		}
		ol {
			@include clearfix;
			@include delist;
			li {
				margin-top: px-to-ems(21px);
				&:first-child {
					margin-top:0;
				}
				@media (min-width:$break-4) {
					margin-top: 0;
					margin-bottom: px-to-ems(21px);
					&.text {
						float: left;
						width: 49%;
					}
					&.name {
						margin-right: 2%;
					}

				}
			}
		}
		label {
			display: none;
		}
		input[type=text],
		input[type=email] {
			background:none;
			border:1px solid $color-light-purple;
			color: $color-purple;
			font-size: px-to-ems(18px);
			height: return-ems(50px,18px);
			outline: none;
			padding:0 return-ems(5px,18px);
			text-align: center;
			width:100%;
			&:focus {
				background:#ecd9e8;
				border-color: $color-purple;
				color:$color-purple;
			}
		}
		.btn {
			background: $color-purple;
			color: $color-white;
			outline:none;
			padding-top: 0;
			width: 100%;
			@media (min-width:$break-4) {
				@include center;
				width: return-ems(219px,18px);
			}
		}
		textarea {
			background:none;
			border:1px solid $color-light-purple;
			color: $color-purple;
			font-size: px-to-ems(18px);
			height: return-ems(148px,18px);
			outline:none;
			resize: vertical;
			padding:return-ems(14px,18px) return-ems(5px,18px);
			text-align: center;
			width:100%;
			&:focus {
				background:#ecd9e8;
				border-color: $color-purple;
				color:$color-purple;
			}
		}
		.error input[type=text],
		.error input[type=email],
		.error textarea {
			border-color:$color-purple;
			box-shadow: inset 0 0 0 3px #ecd9e8;
			color:$color-purple-text;
		}
		.error-message {
			color:#858585;
			text-align: center;
		}
		::-webkit-input-placeholder {
		   color: $color-light-purple;
		   text-transform: lowercase;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: $color-light-purple;
		   text-transform: lowercase;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: $color-light-purple;
		   text-transform: lowercase;
		}

		:-ms-input-placeholder {
		   color: $color-light-purple;
		   text-transform: lowercase;
		}
		:focus::-webkit-input-placeholder {
			color: $color-purple;
		}
		:focus:-moz-placeholder { /* Firefox 18- */
		   color: $color-purple;
		}

		:focus::-moz-placeholder {  /* Firefox 19+ */
		   color: $color-purple;
		}

		:focus:-ms-input-placeholder {
			color: $color-purple;
		}
	}
	&:after {
		background:url(/_img/map.png) no-repeat center top;
		bottom:0;
		content: '';
		height: px-to-ems(293px);
		left:0;
		right:0;
		position: absolute;
		z-index:1;
	}
}
#thanks {
	color: #858585;
	display: none;
	min-height: return-ems(175px,18px);
	font-size: px-to-ems(18px);
	line-height: return-ems(24px,18px);
	text-align: center;
	h2 {
		color: $color-purple;
		font-size: return-ems(24px,18px);
		margin-bottom: return-ems(25px,24px);
		margin-top: return-ems(-52px,20px);
		@media (min-width:$break-2) {
			font-size: return-ems(28px,18px);
			margin-bottom: return-ems(25px,28px);
			margin-top: return-ems(-56px,28px);
		}
		@media (min-width:$break-4) {
			font-size: return-ems(40px,18px);
			margin-bottom: return-ems(25px,40px);
			margin-top: return-ems(-56px,40px);
		}
	}
}
.case-study-cta {
	text-align: center;
	.btn {
		display: inline-block;
		& + .btn {
			@media (max-width:layout-ems(470px)) {
				display: block;
				margin: return-ems(20px,18px) auto 0;
			}
			@media (min-width:$break-2) {
				margin-left:return-ems(20px,18px);
			}
		}
	}
}
#contact-form {
	.errors {
		background:url(/_img/error.png) no-repeat center 17px;
		height:35px;
	}
	.error-message {
		color:rgba(255,255,255,.5);
		font-size: px-to-ems(18px);
		text-align: center;
		margin-bottom: return-ems(33px,18px);
	}
	small {
		display: block;
		padding-top:return-ems(9px,18px);
	}
	.message .errors,
	.message small {
		margin-top:px-to-ems(-3px);
	}
}
#request-a-quote {
	padding: px-to-ems(40px) px-to-ems(25px) 0;
	position: relative;
	z-index:3;
	@media (min-width:$break-4) {
		padding: px-to-ems(40px) px-to-ems(20px) 0;
	}
	@media (min-width:$break-5) {
		padding: px-to-ems(40px) calc(50% - 470px) 0;
	}
	.section-heading {
		color: $color-purple;
		font-family: $font-stack-quadon;
		font-size: px-to-ems(36px);
		font-weight: 400;
		letter-spacing: -2px;
		line-height: 1;
		margin-bottom: return-ems(64px,36px);
		position: relative;
		z-index:2;
		span {
			@include center;
			background: $color-white;
			display: block;
			position: relative;
			text-align: center;
			width: return-ems(300px,36px);
			z-index:2;
		}
		&:after {
			content: '';
			background: #b5b5b5;
			height: return-ems(1px,36px);
			position: absolute;
			top:50%;
			left:-1000%;
			right:-1000%;
			z-index:1
		}
	}
	.success {
		@include center;
		max-width:px-to-ems(690px);
	}
}
#project-features .success p {
	font-size: px-to-ems(18px);
	line-height: return-ems(25px,18px);
}
.flexible-content {
	margin-top: px-to-ems(75px);
	text-align: center;
	img {
		max-width: 100%;
	}
	.wrapper {
		@include center;
		max-width: px-to-ems(820px);
	}
	h1 {
		color:$color-purple;
		font-family: $font-stack-quadon-regular;
		font-size: px-to-ems(21px);
		font-weight: 400;
		letter-spacing: -2px;
		margin-bottom: return-ems(40px,21px);
		margin-left: return-ems(25px,21px);
		margin-right: return-ems(25px,21px);
		text-align: center;
		@media (min-width:$break-2) {
			br {
				display: none;
			}
		}
		@media (min-width:layout-ems(664px)) {
			margin-left: 0;
			margin-right: 0;
		}
		@media (min-width:$break-4) {
			font-size: px-to-ems(25px);
			margin-bottom: return-ems(40px,25px);
		}
	}
}
.four-image-block {
	.wrapper {
		@media (min-width:$break-2) and (max-width:layout-ems(767px)) {
			max-width: px-to-ems(410px);
		}
	}
	.single-block {
		display: inline-block;
		margin-left: px-to-ems(-6px);
		width: 100%;
		@media (min-width:$break-2) {
			width:50%;
		}
		@media (min-width:$break-4) {
			width: 25%;
		}
	}
	.single-block:not(:first-child) {
		margin-top: px-to-ems(48px);
		&:nth-child(2) {
			@media (min-width:$break-2) {
				margin-top: 0;
			}
		}
		@media (min-width:$break-4) {
			margin-top: 0;
		}
	}
	.btn {
		margin-top: return-ems(42px,18px);
		width: return-ems(140px,18px);
	}
}
.two-image-block {
	.single-block {
		display: inline-block;
		margin-left: px-to-ems(-6px);
		width: 100%;
		@media (min-width:$break-4) {
			width: 50%;
		}
	}
	.single-block:not(:first-child) {
		margin-top: px-to-ems(48px);
		@media (min-width:$break-4) {
			margin-top: 0;
		}
	}
}