{% include "includes/_head.html" %}

{% if entry is defined and entry.slug == 'dboy-homepage' %}
	<body id="homepage" class="homepage">
{% elseif errorPage is defined %}
	<body id="page-404" class="page-404 error-page secondary-page">
{% elseif entry.type =="caseStudyWebsite" %}
<body id="{{ entry.slug }}" class="{{ entry.slug }} secondary-page page-case-study website">
{% elseif entry.type =="caseStudyVideos" %}
<body id="{{ entry.slug }}" class="{{ entry.slug }} secondary-page page-case-study videos">
{% elseif entry.type =="caseStudyBrandCampaign" %}
<body id="{{ entry.slug }}" class="{{ entry.slug }} secondary-page page-case-study brand">
{% else %}
	<body id="page-{{ entry.slug }}" class="page-{{ entry.slug }} secondary-page{% if classes is defined %} {{ classes }}{% endif %}">
{% endif %}
	<div id="top" class="container">
	{% include "includes/_banner.html" %}
	{% if entry.slug == 'work' or entry.slug == 'video-production' or entry.slug == 'recruitment-page' or entry.slug == 'video-process' or entry.type =="caseStudyWebsite" or entry.type =="caseStudyVideos" or entry.type =="caseStudyBrandCampaign" %}
		{% include "includes/_work-nav.html" %}
	{% endif %}
	{% block content %}
	{% endblock %}
	{% include "includes/_footer.html" %}
	</div>
	{% include "includes/_scripts.html" %}
</body>
</html>
