{% include "includes/_head.html" %}
	<body id="page-{{ entry.slug }}" class="page-{{ entry.slug }} secondary-page custom-landing-page">
	<div id="top" class="container">
	{% include "includes/_banner-landing.html" %}
	{% block content %}
	{% endblock %}
	{% include "includes/_footer.html" %}
	</div>
	{% include "includes/_scripts.html" %}
</body>
</html>
