{% extends "_layout" %}
{% block content %}
	<section id="contact-content">
		<h1>Contact Us</h1>
		{% macro errorList(errors) %}
			{% if errors %}
				{% for error in errors %}
				<small>{{ error }}</small>
				{% endfor %}
			{% endif %}
		{% endmacro %}
		{% from _self import errorList %}
		<form id="contact-form" method="post" action="">
			{{ getCsrfInput() }}
			<input type="hidden" name="action" value="contactForm/sendMessage">
			<input type="hidden" name="redirect" value="/contact/thank-you/">
			<ol>
				<li class="name text">
					<label for="fromName" aria-hidden="false">Your Name</label>
					<input type="text" id="fromName" name="fromName" placeholder="your name" value="{{ message is defined and message ? errorList(message.getErrors('fromName')) }}" />
					{{ message is defined and message ? errorList(message.getErrors('fromName')) }}
				</li>
				<li class="email text">
					<label for="fromEmail" aria-hidden="false">Your Email</label>
					<input type="email" id="fromEmail" name="fromEmail" placeholder="your email" value="{{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}" />
					{{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
				</li>
				<li class="message textarea">
					<label for="message" aria-hidden="false">Message</label>
					<textarea id="message" name="message" placeholder="message">{{ message is defined and message ? errorList(message.getErrors('message')) }}</textarea>
					{{ message is defined and message ? errorList(message.getErrors('message')) }}
				</li>
				<li>
					<input type="submit" value="Send" class="btn btn-secondary">
				</li>
				<li class="honeypot"><input type="text" name="pooh" id="pooh"/></li>
			</ol>
			<div id="thanks"><h2>Thanks</h2>{{ contactForm.thankYou }}</div>
		</form>
		<svg id="mask-6" width="2086px" height="241px">
			<polygon points="0,0 1043,240 2086,0 2086,241 0,241" fill="#7e0163">
		</svg>
		<svg id="mask-7" width="2086px" height="243px">
		  <polygon points="0,0 2086,0 2086,0 1043,243 0,0" fill="#fff">
		</svg>
	</section>
{% endblock %}