{% extends "_layout" %}

{% block content %}
	<section id="introduction" class="section">
		<div id="home-slideshow">
			<ol>
				{% for block in entry.introduction %}
				{% if block.type == "slideBlock" %}
				<li class="scene-{{ loop.index }} scene parallax">
					<div class="wrapper">
						{% if block.watchOurReel %}
							<a href="#" id="watch-our-reel-slide">Watch Our Reel<span></span><span></span></a>
						{% endif %}
						<h1>{{ block.heading}}</h1>
						<div class="content">{{ block.body }}</div>
					</div>
				</li>
				{% endif %}
				{% endfor %}
			</ol>
		</div>
		<a href="#our-work" id="next-section">Next Section</a>
		<svg id="mask" width="2086px" height="241px">
			<polygon points="0,0 1043,240 2086,0 2086,241 0,241" fill="#ffffff">
		</svg>
	</section>
	<section id="our-work" class="section">
		<div class="wrapper">
			<div class="copy">
				<h1>{{ entry.workHeading|raw }}</h1>
				<div class="content">{{ entry.workBody }}</div>
			</div>
			<div id="projects">
				<ol>
					{% for block in entry.projectSlideshow %}
					{% if block.type == "projectSlide" %}
					<li class="{{ block.projectName|lower }} project">
						<picture>
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="{% for image in block.desktopImage %}{{ image.getURL() }}{% endfor %}, {% for image in block.desktopRetinaImage %}{{ image.getURL() }}{% endfor %} 2x" media="(min-width: 48em)">
							<!--[if IE 9]></video><![endif]-->
							<img srcset="{% for image in block.mobileImage %}{{ image.getURL() }}{% endfor %}, {% for image in block.mobileRetinaImage %}{{ image.getURL() }}{% endfor %} 2x" alt="">
						</picture>
					</li>
					{% endif %}
					{% endfor %}
				</ol>
			</div>
			<p class="link"><a href="/work" class="btn btn-primary">View Our Work</a></p>
		</div>
	</section>
	<section id="our-team" class="section">
		<div class="wrapper">
			<div class="copy">
				<h1>{{ entry.teamHeading|raw }}</h1>
				<div class="content">{{ entry.teamBody }}</div>
			</div>
			<div id="team-slideshow">
				<ol>
					{% for block in entry.teamPhotos %}
					{% if block.type == "teamPhotosBlock" %}
					<li>{% for image in block.teamImage %}<img src="{{ image.getURL() }}" alt="" />{% endfor %}</li>
					{% endif %}
					{% endfor %}
				</ol>
			</div>
			<p class="link"><a href="/team" class="btn btn-primary">Meet Our Team</a></p>
		</div>
		<svg id="mask-2" width="2086px" height="241px">
			<polygon points="0,0 1043,240 2086,0 2086,241 0,241" fill="#7e0163">
		</svg>
		<svg id="mask-3" width="2086px" height="243px">
		  <polygon points="0,0 2086,0 2086,0 1043,243 0,0" fill="#fff">
		</svg>
	</section>
{% endblock %}
