{% set classes = "work-section" %}
{% extends "_layout" %}
{% block content %}
	<section id="employment-branding">
		<div class="wrapper">
			<h1>{{ entry.title }}</h1>
			<div class="content">
				{{ entry.caseStudyIntroduction }}
			</div>
			<div id="by-the-numbers">
				<ul>
					{% for block in entry.byTheNumbers %}
					<li><em>{{ block.numberValue }}</em> <span>{{ block.statistic }}</span></li>
					{% endfor %}
				</ul>
			</div>
			<div class="content full-width">
				{% for block in entry.yourStory %}
				<p><strong>{{ block.heading }}</strong></p>
				{{ block.body }}
				<picture>
					<img srcset="{% for image in block.image1x %}{{ image.getURL() }}{% endfor %} 1x, {% for image in block.image2x %}{{ image.getURL() }}{% endfor %} 2x" alt="">
				</picture>
				{% endfor %}
			</div>
		</div>
	</section>
	<section id="career-websites">
		<h1 class="recruitment-heading">{{ entry.websiteListingHeading }}</h1>
		<div id="show-sites">
			<div class="photo-block">
				{% for block in entry.websiteSelection %}
				{% for site in block.website %}
				<div class="photo">
					<picture>
						<img srcset="{% for image in site.desktopScreenshot1x %}{{ image.getURL() }}{% endfor %} 1x, {% for image in site.desktopScreenshot2x %}{{ image.getURL() }}{% endfor %} 2x" alt="Desktop Screenshot of {{ site.title }}">
					</picture>
					<p class="link"><a href="{{ site.siteUrl }}" target="_blank" class="btn btn-primary">Visit The Site</a></p>
				</div>
				{% endfor %}
				{% endfor %}
			</div>
		</div>
	</section>
	<section id="video-production" class="new-selector">
		<header class="recruitment-header">
			<h1>{{ entry.videoProductionHeading }}</h1>
			<div class="content">{{ entry.videoProductionIntro }}</div>
		</header>
		<div id="show-videos">
			{% set videos = entry.videoSelector %}
			{% if videos | length %}
			<div class="video-block">
			{% for video in videos %}
				<div class="video-container video-open"{% if video.vimeoEmbedCode|length %} data-vimeo="{{ video.vimeoEmbedCode }}"{% endif %} data-video="{{ video.videoEmbedId }}">
					<picture class="video-entry">
						<img srcset="{% for image in video.videoImage1x %}{{ image.getURL() }}{% endfor %} 1x, {% for image in video.videoImage2x %}{{ image.getURL() }}{% endfor %} 2x" alt="">
					</picture>
					<h4><strong>{% for brand in video.videoBrand %}{{ brand.title }}{% endfor %}:</strong> {{ video.videoTitle }}</h4>
					<div class="video-play"></div>
				</div>
			{% endfor %}
			</div>
			{% endif %}
		</div>
	</section>
	<section id="custom-photography">
		<header class="recruitment-header">
			<h1>{{ entry.photographyHeading }}</h1>
			<div class="content">{{ entry.photographyIntro }}</div>
		</header>
		<div id="show-photos">
			{% for block in entry.brandPhotoGrid %}
			{% for brand in block.brandClient %}
			<h2>{{ brand.title }}</h2>
			{% endfor %}
			<div class="photo-block photo-block-{{ loop.index}}">
				<div class="photo photo-1">
					{% for photo in block.photo1 %}
					<picture>
						<img srcset="{% for image in photo.photo1x %}{{ image.getURL() }}{% endfor %} 1x, {% for image in photo.photo2x %}{{ image.getURL() }}{% endfor %} 2x" alt="">
					</picture>
					{% endfor %}
				</div>
				<div class="photo photo-2">
					{% for photo in block.photo2 %}
					<picture>
						<img srcset="{% for image in photo.photo1x %}{{ image.getURL() }}{% endfor %} 1x, {% for image in photo.photo2x %}{{ image.getURL() }}{% endfor %} 2x" alt="">
					</picture>
					{% endfor %}
				</div>
				<div class="photo photo-3">
					{% for photo in block.photo3 %}
					<picture>
						<img srcset="{% for image in photo.photo1x %}{{ image.getURL() }}{% endfor %} 1x, {% for image in photo.photo2x %}{{ image.getURL() }}{% endfor %} 2x" alt="">
					</picture>
					{% endfor %}
				</div>
				<div class="photo photo-4">
					{% for photo in block.photo4 %}
					<picture>
						<img srcset="{% for image in photo.photo1x %}{{ image.getURL() }}{% endfor %} 1x, {% for image in photo.photo2x %}{{ image.getURL() }}{% endfor %} 2x" alt="">
					</picture>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
		<svg id="mask-6" width="2086px" height="241px">
			<polygon points="0,0 1043,240 2086,0 2086,241 0,241" fill="#7e0163">
		</svg>
		<svg id="mask-7" width="2086px" height="243px">
		  <polygon points="0,0 2086,0 2086,0 1043,243 0,0" fill="#fff">
		</svg>
	</section>
{% endblock %}
