<div class="video">
	<iframe src="//fast.wistia.net/embed/iframe/femd2b05sx" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="960" height="540"></iframe>
	<script src="//fast.wistia.net/assets/external/E-v1.js" async=""></script>
</div>