{% set title = "Team" %}
{% extends "_layout" %}

{% block content %}

<section id="list-team">
	<h1>{{ entry.title | raw }}</h1>
	{{ entry.teamBody }}
	<ol id="team-nav">
  	<li><a href="#all" class="active">All</a></li>
  	<li><a href="#leadership">Leadership</a></li>
		<li><a href="#management">Management</a></li>
  	<li><a href="#design">Design</a></li>
		<li><a href="#development">Development</a></li>
		<li><a href="#media">Media</a></li>
	</ol>
	<div class="team-listing">
	{% for entry in craft.entries.section('team') %}
	{% set teamPhoto = entry.photo.first() %}
	<figure class="{{ entry.type }} {{ entry.secondaryTeamType }}">
		<img src="{{ teamPhoto.url }}" />
		<figcaption>{{ entry.teamMemberName }}<span>{{ entry.teamMemberTitle }}</span></figcaption>
	</figure>
	{% endfor %}
	</div>
	<svg id="mask-6" width="2086px" height="241px">
		<polygon points="0,0 1043,240 2086,0 2086,241 0,241" fill="#7e0163">
	</svg>
	<svg id="mask-7" width="2086px" height="243px">
	  <polygon points="0,0 2086,0 2086,0 1043,243 0,0" fill="#fff">
	</svg>
</section>
{% endblock %}
