{% set classes = "work-section" %}
{% extends "_layout" %}
{% block content %}
	<section id="video-production" class="video-production-portfolio">
		<div class="wrapper section-1">
			<header class="introduction">
				<h1>{{ entry.title }}:</h1>
				<div class="video-navigation">
					<ul>
						<li class="current"><span>Portfolio</span></li>
						<li><a href="/video-process">Video Process</a></li>
					</ul>
				</div>
				<div class="content">{{ entry.body }}</div>
			</header>
			<div id="featured-video" class="vimeo-enabled">
				<div class="video-entry featured-video video-open"{% if entry.vimeoEmbedCode|length %} data-vimeo="{{ entry.vimeoEmbedCode }}"{% endif %} data-video="{{ entry.videoEmbedId }}" id="demo-reel">
					<picture>
						<img srcset="{% for image in entry.featureVideoImage1x %}{{ image.getURL() }}{% endfor %} 1x, {% for image in entry.featureVideoImage2x %} {{ image.getURL() }}{% endfor %} 2x" alt="Screenshot of {{ entry.featureVideoHeader }} Video">
					</picture>
					<header class="title-block">
						<h3>{{ entry.featureVideoHeader}}</h3>
						{% if entry.featureVideoSubheader|length %}
						<h4>{{ entry.featureVideoSubheader}}</h4>
						{% endif %}
					</header>
					<div class="video-play"></div>
				</div>
				<figure class="brand-logo">
					<img srcset="{% for image in entry.featureVideoLogo %}{{ image.getURL() }}{% endfor %} 1x, {% for image in entry.featureVideoLogo2x %}{{ image.getURL() }}{% endfor %} 2x" alt="">
				</figure>
			</div>
		</div>
		<div class="wrapper section-2">
			<ol id="video-nav">
				{% nav category in craft.categories.group('videoTypes') %}
				<li><a href="#{{ category.title|lower }}" {% if loop.index == "1" %}class="active"{% endif %}>{{ category.title }}</a></li>
				{% endnav %}
				<li><a href="#all">All</a></li>
			</ol>
			{% set videos = entry.videoSelector %}
			{% if videos | length %}
			<div class="video-block">
				{% for video in videos %}
				<div class="video-container{% if video.videoType|length %}{%for type in video.videoType %} {{type.title|lower}}{% endfor %}{% endif %}">
					<div class="video-entry video-open"{% if video.vimeoEmbedCode|length %} data-vimeo="{{ video.vimeoEmbedCode }}"{% endif %} data-video="{{ video.videoEmbedId }}" {% if video.videoHashId|length %}id="{{ video.videoHashId }}"{% endif %}>
						<picture>
							<img srcset="{% for image in video.videoImage1x %}{{ image.getURL() }}{% endfor %} 1x, {% for image in video.videoImage2x %} {{ image.getURL() }}{% endfor %} 2x" alt="Screenshot of {{ video.videoTitle }} Video">
						</picture>
						<header class="title-block">
							{% for brand in video.videoBrand %}
							<h3>{{ brand.title}}</h3>
							{% endfor %}
							<h4>{{ video.videoTitle}}</h4>
						</header>
						<div class="video-play"></div>
					</div>
					{% for brand in video.videoBrand %}
					<figure class="brand-logo">
						<img srcset="{% for image in brand.videoBrandLogo1x %}{{ image.getURL() }}{% endfor %} 1x, {% for image in brand.videoBrandLogo2x %}{{ image.getURL() }}{% endfor %} 2x" alt="">
					</figure>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</section>
	<section class="process">
		<p class="link"><a href="/video-process/" class="btn btn-primary">Our Process</a></p>
		<svg id="mask-6" width="2086px" height="241px">
			<polygon points="0,0 1043,240 2086,0 2086,241 0,241" fill="#7e0163">
		</svg>
		<svg id="mask-7" width="2086px" height="243px">
		  <polygon points="0,0 2086,0 2086,0 1043,243 0,0" fill="#fff">
		</svg>
	</section>
{% endblock %}
