{% set classes = "work-section" %}
{% extends "_layout" %}
{% block content %}
	<section class="video-process">
		<header class="introduction">
			<h1>Video Production</h1>
			<div class="video-navigation">
				<ul>
					<li><a href="/video-production">Portfolio</a></li>
					<li class="current"><span>Video Process</span></li>
				</ul>
			</div>
			<div class="links">
				<a href="/production-package/" data-target="#free-templates" class="btn btn-primary">Get Pre-Production Package</a>
				<a href="/request-quote/" data-target="#request-a-quote" class="btn btn-primary">Request a Quote</a>			
			</div>
			<section id="free-templates" class="process-forms">
				{% macro errorList(errors) %}
					{% if errors %}
						{% for error in errors %}
						<small>{{ error }}</small>
						{% endfor %}
					{% endif %}
				{% endmacro %}
				{% from _self import errorList %}
				<h3 class="section-heading"><span>Free Templates</span></h3>
				<form class="video-form" method="post" action="" accept-charset="UTF-8">
					{{ getCsrfInput() }}
    				<input type="hidden" name="action" value="amForms/submissions/saveSubmission">
    				<input type="hidden" name="handle" value="getStarted">
    				<input type="hidden" name="redirect" value="video-process?message=thankyou">
					{{ craft.amForms.displayAntispam() }}
				    {# Place the HTML of your fields here #}
					<ol>
						<li class="text-input">
							<label for="frm_yourName" aria-hidden="false">Your Name</label>
							<input type="text" id="frm_yourName" name="fields[yourName]" placeholder="Your Name" value="{% if getStarted.yourName is defined %}{{ getStarted.yourName }}{% endif %}">
							{% if getStarted is defined %}
						        {{ errorList(getStarted.getErrors('yourName')) }}
						    {% endif %}
						</li>
						<li class="text-input">
							<label for="frm_companyName" aria-hidden="false">Company Name</label>
							<input type="text" id="frm_companyName" name="fields[companyName]" placeholder="Company Name" value="{% if getStarted.companyName is defined %}{{ getStarted.companyName }}{% endif %}">
						</li>
						<li class="email-input">
							<label for="frm_emailAddress" aria-hidden="false">Email Address</label>
							<input type="email" id="frm_emailAddress" name="fields[emailAddress]" placeholder="Email Address" value="{% if getStarted.emailAddress is defined %}{{ getStarted.emailAddress }}{% endif %}">
						</li>
						<li class="submit"><input class="btn" type="submit" value="Download Packet"></li>
					</ol>
				</form>
				<div class="success">{{ entry.preProductionSuccess }}</div>
			</section>
			<section id="request-a-quote" class="process-forms">
				{% macro errorList(errors) %}
					{% if errors %}
						{% for error in errors %}
						<small>{{ error }}</small>
						{% endfor %}
					{% endif %}
				{% endmacro %}
				{% from _self import errorList %}
				<h3 class="section-heading"><span>Request a Quote</span></h3>
				<form class="video-form" method="post" action="" accept-charset="UTF-8">
				{{ getCsrfInput() }}
    				<input type="hidden" name="action" value="amForms/submissions/saveSubmission">
    				<input type="hidden" name="handle" value="requestAQuote">
    				<input type="hidden" name="redirect" value="video-process?message=thankyou">
					{{ craft.amForms.displayAntispam() }}
				    {# Place the HTML of your fields here #}
					<ol>
						<li class="text-input">
							<label for="frm_yourName" aria-hidden="false">Your Name</label>
							<input type="text" id="frm_yourName" name="fields[yourName]" placeholder="Your Name" value="{% if requestAQuote.yourName is defined %}{{ requestAQuote.yourName }}{% endif %}">
						</li>
						<li class="text-input">
							<label for="frm_emailAddress" aria-hidden="false">Email Address</label>
							<input type="email" id="frm_emailAddress" name="fields[emailAddress]" placeholder="Email Address" value="{% if requestAQuote.emailAddress is defined %}{{ requestAQuote.emailAddress }}{% endif %}">
						</li>
						<li class="email-input">
							<label for="frm_message" aria-hidden="false">Message</label>
							<input type="text" id="frm_message" name="fields[message]" placeholder="Message" value="{% if requestAQuote.message is defined %}{{ requestAQuote.message }}{% endif %}">
						</li>
						<li class="submit"><input class="btn" type="submit" value="Request A Quote"></li>
					</ol>
				</form>
				<div class="success">{{ entry.requestSuccess }}</div>
			</section>
		</header>
	</section>
	<section id="process-explained">
		{% for block in entry.processContent %}
			{% if block.type == "sectionTitle" %}
				<h3 class="section-heading"><span>{{ block.heading }}</span></h3>
			{% elseif block.type == "processStep" %}
				<div class="step step-{{ block.stepNumber }} {% switch block.imageLocation %} {% case 'left' %}left{% case 'right' %}right{% endswitch %}">
					<figure class="step-image">
						<img srcset="{% for image in block.image1x %}{{ image.getURL() }}{% endfor %} 1x, {% for image in block.image2x %} {{ image.getURL() }}{% endfor %} 2x" alt="">
					</figure>
					<div class="step-content">
						<h4>{{ block.stepHeading }}</h4>
						<div class="content">{{ block.stepContent }}</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
		<div class="links">
			<a href="/production-package/" data-target="#free-templates-2" class="btn btn-primary">Get It Now</a>	
		</div>
		<section id="free-templates-2" class="process-forms">
			{% macro errorList(errors) %}
				{% if errors %}
					{% for error in errors %}
					<small>{{ error }}</small>
					{% endfor %}
				{% endif %}
			{% endmacro %}
			{% from _self import errorList %}
			<h3 class="section-heading"><span>Free Templates</span></h3>
			<form class="video-form" method="post" action="" accept-charset="UTF-8">
				{{ getCsrfInput() }}
				<input type="hidden" name="action" value="amForms/submissions/saveSubmission">
				<input type="hidden" name="handle" value="getStarted">
				<input type="hidden" name="redirect" value="video-process?message=thankyou">
				{{ craft.amForms.displayAntispam() }}
			    {# Place the HTML of your fields here #}
				<ol>
					<li class="text-input">
						<label for="frm_yourName" aria-hidden="false">Your Name</label>
						<input type="text" id="frm_yourName" name="fields[yourName]" placeholder="Your Name" value="{% if getStarted.yourName is defined %}{{ getStarted.yourName }}{% endif %}">
						{% if getStarted is defined %}
					        {{ errorList(getStarted.getErrors('yourName')) }}
					    {% endif %}
					</li>
					<li class="text-input">
						<label for="frm_companyName" aria-hidden="false">Company Name</label>
						<input type="text" id="frm_companyName" name="fields[companyName]" placeholder="Company Name" value="{% if getStarted.companyName is defined %}{{ getStarted.companyName }}{% endif %}">
					</li>
					<li class="email-input">
						<label for="frm_emailAddress" aria-hidden="false">Email Address</label>
						<input type="email" id="frm_emailAddress" name="fields[emailAddress]" placeholder="Email Address" value="{% if getStarted.emailAddress is defined %}{{ getStarted.emailAddress }}{% endif %}">
					</li>
					<li class="submit"><input class="btn" type="submit" value="Download Packet"></li>
				</ol>
			</form>
			<div class="success">{{ entry.preProductionSuccess }}</div>
		</section>
		<svg id="mask-6" width="2086px" height="241px">
			<polygon points="0,0 1043,240 2086,0 2086,241 0,241" fill="#7e0163">
		</svg>
		<svg id="mask-7" width="2086px" height="243px">
		  <polygon points="0,0 2086,0 2086,0 1043,243 0,0" fill="#fff">
		</svg>
	</section>
{% endblock %}
