{% set title = "Work" %}
{% extends "_layout" %}

{% block content %}

<section id="show-case-studies">
	{% for block in entry.caseStudySelection %}
		<div class="case-study case-study-{{ loop.index }}">
		{% for listing in block.selectACaseStudy %}
			<h2>{{ listing.title }}</h2>
			<div class="brand-logo">
				<img srcset="{% for image in listing.brandLogo %}{{ image.getURL() }}{% endfor %} 1x, {% for image in listing.brandLogoRetina %}{{ image.getURL() }}{% endfor %} 2x" alt="" />
			</div>
			{% set type = listing.projectType %}
			{% if type == 'website' %}
			<h3 class="project-type one-line">Website</h3>
			{% elseif type == 'videos'  %}
			<h3 class="project-type one-line">Videos</h3>
			{% elseif type == 'brandCampaign' %}
			<h3 class="project-type two-lines">Brand &amp;Content <br/>Campaign</h3>
			{% endif %}
			<p class="view-links"><a href="{{ listing.url }}" class="btn btn-secondary">View Case Study</a></p>
			<img id="case-study-background" srcset="{% for image in listing.backgroundImage1x %}{{ image.getURL() }}{% endfor %}, {% for image in listing.backgroundImage2x %}{{ image.getURL() }}{% endfor %}" alt="" />
		</div>
		{% endfor %}		
	{% endfor %}
	<div class="case-study demo-reel">
		<h3 class="project-type one-line">Demo Reel</h3>
		<p class="view-links"><a href="/reel" class="btn btn-secondary video-open" data-video="2ioi31n8yu">View Our Reel</a></p>
</section>
<section id="tell-a-story">
	<div class="container">
		<h1>Be Authentic. <br/>Be Interesting. <br/>Tell a Story.</h1>
		<div class="content">
			<p>You have a story that can connect with your audience in a way that builds loyalty and turns them into advocates. We have a passion for telling stories in a way that produces results.</p>
		</div>
	</div>
	<svg id="mask-4" width="2086px" height="241px">
			<polygon points="0,0 1043,240 2086,0 2086,241 0,241" fill="#7e0163">
		</svg>
	<svg id="mask-5" width="2086px" height="243px">
	  <polygon points="0,0 2086,0 2086,0 1043,243 0,0" fill="#be80b1">
	</svg>
</section>

{% endblock %}
